﻿<%@ Page Language="C#" Inherits="System.Web.Mvc.ViewPage<dynamic>" %>

<!DOCTYPE html>

<html>
<head runat="server">
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        <iframe src="http://200.11.214.218/Taquillax/security?token=<%=Session["TOKEN"].ToString() %>" style="width:100%;height:900px;"></iframe>
    </div>
</body>
</html>
