﻿body {
    position: relative;
    width: 100%;
    background-color: transparent;
    margin: 0;
}

div#a{
    position: relative;
    width: 100%;
    height: 200px;
    background-color:darkturquoise;
}


div#b{
    position: relative;
    width: 100%;
    height: 200px;   
    background-color:bisque
}

div#c{
    position: relative;
    width: 100%;
    height: 200px;
    background-color: aquamarine;
}

div#d{
    position: relative;
    width: 100%;
    height: 200px;
    background-color: azure;
}

html{
    width: 100%;
    background-color: transparent;
}
