﻿<%@ Page Language="C#" Inherits="System.Web.Mvc.ViewPage<dynamic>" %>

<!DOCTYPE html>

<html>
<head runat="server">
    <meta name="viewport" content="width=device-width" />
    <title>fail</title>
    <script>
        window.location="<%=Url.Content("~/caja/fail.html")%>";
    </script>
</head>
<body>
 
</body>
</html>
