﻿<%@ Page Language="C#" Inherits="System.Web.Mvc.ViewPage<dynamic>" %>

<!DOCTYPE html>

<html>
<head runat="server">
    <meta name="viewport" content="width=device-width" />
    <title>success</title>
    <style type="text/css">
        .auto-style1 {
            width: 800px;
            height: 600px;
        }
    </style>
        <script>
            window.location = "<%=Url.Content("~/caja/success.html")%>";
    </script>
</head>
<body>
    <div style="padding: 0px; margin: 0px">
        
        <img alt="" class="auto-style1" src="../../images/transaccion-aprobada.jpg" /></div>
</body>
</html>
