.html
{
	background-image:url("../../contenido/images/punto.png");
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 561px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-bottom: 42px;
}

#pu5177-3
{
	width: 0.01px;
	margin-left: 2px;
	position: relative;
}

#u5177-3
{
	z-index: 137;
	width: 960px;
	min-height: 31px;
	margin-right: -10000px;
}

#u5178-4
{
	z-index: 140;
	width: 216px;
	min-height: 19px;
	margin-right: -10000px;
	margin-top: 3px;
	left: 391px;
}

#pu5084
{
	width: 0.01px;
	margin-top: 1px;
	position: relative;
}

#u5084
{
	z-index: 2;
	width: 964px;
	height: 426px;
	margin-right: -10000px;
}

#pamphletu5085
{
	z-index: 3;
	width: 0.01px;
	height: 399px;
	margin-right: -10000px;
	margin-top: 18px;
}

#u5170
{
	z-index: 4;
	width: 964px;
	margin-right: -10000px;
	margin-top: 289px;
}

#u5176
{
	width: 149px;
	height: 110px;
}

#u5176:hover
{
	margin: 0px;
}

#u5176:active
{
	margin: 0px;
}

#u5171
{
	width: 149px;
	height: 110px;
	left: 163px;
}

#u5171:hover
{
	margin: 0px;
}

#u5171:active
{
	margin: 0px;
}

#u5172
{
	width: 149px;
	height: 110px;
	left: 326px;
}

#u5172:hover
{
	margin: 0px;
}

#u5172:active
{
	margin: 0px;
}

#u5173
{
	width: 149px;
	height: 110px;
	left: 489px;
}

#u5173:hover
{
	margin: 0px;
}

#u5173:active
{
	margin: 0px;
}

#u5174
{
	width: 149px;
	height: 110px;
	left: 652px;
}

#u5174:hover
{
	margin: 0px;
}

#u5174:active
{
	margin: 0px;
}

#u5175
{
	width: 149px;
	height: 110px;
	left: 815px;
}

#u5175:hover
{
	margin: 0px;
}

#u5175:active
{
	margin: 0px;
}

#u5176.PamphletThumbSelected,#u5171.PamphletThumbSelected,#u5172.PamphletThumbSelected,#u5173.PamphletThumbSelected,#u5174.PamphletThumbSelected,#u5175.PamphletThumbSelected
{
	width: 146px;
	height: 107px;
	min-height: 0px;
	margin: -1px -2px -2px -1px;
}

#u5097popup
{
	z-index: 11;
}

#u5097
{
	width: 964px;
	left: 1px;
}

#u5098
{
	z-index: 12;
	width: 964px;
	height: 278px;
	margin-right: -10000px;
}

#u5099
{
	z-index: 13;
	width: 591px;
	height: 272px;
	margin-right: -10000px;
}

#u5109-4
{
	z-index: 14;
	width: 325px;
	min-height: 85px;
}

#u5100-4
{
	z-index: 18;
	width: 326px;
	min-height: 123px;
	margin-top: 1px;
}

#buttonu5101
{
	z-index: 22;
	width: 111px;
	padding-bottom: 1px;
	margin-left: 217px;
	margin-top: 16px;
}

#buttonu5101:hover
{
	margin: 16px 0px 0px 217px;
}

#u5104
{
	z-index: 23;
	width: 108px;
	padding-bottom: 2px;
	margin-right: -10000px;
}

#buttonu5101:hover #u5104
{
	margin: 0px -10000px 0px 0px;
}

#u5103
{
	z-index: 24;
	width: 108px;
	padding-bottom: 1px;
	margin-right: -10000px;
	margin-top: 1px;
}

#buttonu5101:hover #u5103
{
	margin: 1px -10000px 0px 0px;
}

#u5105
{
	z-index: 25;
	width: 108px;
	margin-right: -10000px;
}

#buttonu5101.ButtonSelected #u5104,#buttonu5101:hover #u5105
{
	margin: 0px -10000px 0px 0px;
}

#u5108
{
	z-index: 26;
	width: 108px;
	margin-right: -10000px;
	margin-top: 1px;
}

#buttonu5101.ButtonSelected #u5103,#buttonu5101:hover #u5108
{
	margin: 1px -10000px 0px 0px;
}

#u5107
{
	z-index: 27;
	width: 106px;
	padding-bottom: 3px;
	margin-right: -10000px;
	left: 1px;
}

#buttonu5101.ButtonSelected #u5105,#buttonu5101:hover #u5107
{
	margin: 0px -10000px 0px 0px;
}

#u5102-4
{
	z-index: 28;
	width: 90px;
	min-height: 12px;
	margin-right: -10000px;
	margin-top: 5px;
	left: 9px;
}

#u5110
{
	z-index: 32;
	width: 964px;
	height: 278px;
	margin-right: -10000px;
}

#u5120
{
	z-index: 33;
	width: 595px;
	height: 272px;
	margin-right: -10000px;
	margin-top: 1px;
}

#pu5111-4
{
	width: 0.01px;
	position: relative;
	margin-right: -10000px;
	left: 612px;
}

#u5111-4
{
	z-index: 34;
	width: 326px;
}

#u5121-4
{
	z-index: 38;
	width: 326px;
	min-height: 95px;
	margin-top: 6px;
}

#buttonu5112
{
	z-index: 42;
	width: 111px;
	padding-bottom: 1px;
	margin-left: 217px;
	margin-top: 16px;
}

#buttonu5101.ButtonSelected,#buttonu5112:hover
{
	margin: 16px 0px 0px 217px;
}

#buttonu5112.ButtonSelected
{
	margin: 16px 0px 0px 217px;
}

#u5119
{
	z-index: 43;
	width: 108px;
	padding-bottom: 2px;
	margin-right: -10000px;
}

#buttonu5101.ButtonSelected #u5107,#buttonu5112:hover #u5119
{
	margin: 0px -10000px 0px 0px;
}

#u5116
{
	z-index: 44;
	width: 108px;
	padding-bottom: 1px;
	margin-right: -10000px;
	margin-top: 1px;
}

#buttonu5101.ButtonSelected #u5108,#buttonu5112:hover #u5116
{
	margin: 1px -10000px 0px 0px;
}

#u5113
{
	z-index: 45;
	width: 108px;
	margin-right: -10000px;
}

#buttonu5112.ButtonSelected #u5119,#buttonu5112:hover #u5113
{
	margin: 0px -10000px 0px 0px;
}

#u5115
{
	z-index: 46;
	width: 108px;
	margin-right: -10000px;
	margin-top: 1px;
}

#buttonu5112.ButtonSelected #u5116,#buttonu5112:hover #u5115
{
	margin: 1px -10000px 0px 0px;
}

#u5118
{
	z-index: 47;
	width: 106px;
	padding-bottom: 3px;
	margin-right: -10000px;
	left: 1px;
}

#buttonu5112.ButtonSelected #u5113,#buttonu5112:hover #u5118
{
	margin: 0px -10000px 0px 0px;
}

#u5117-4
{
	z-index: 48;
	width: 90px;
	min-height: 12px;
	margin-right: -10000px;
	margin-top: 5px;
	left: 9px;
}

#u5122
{
	z-index: 52;
	width: 964px;
	height: 278px;
	margin-right: -10000px;
}

#u5125
{
	z-index: 53;
	width: 591px;
	height: 272px;
	margin-right: -10000px;
	margin-top: 3px;
}

#u5123-4
{
	z-index: 54;
	width: 326px;
	min-height: 85px;
}

#u5124-4
{
	z-index: 58;
	width: 326px;
	min-height: 123px;
	margin-top: 2px;
}

#buttonu5126
{
	z-index: 62;
	width: 111px;
	padding-bottom: 1px;
	margin-left: 217px;
	margin-top: 15px;
}

#buttonu5126:hover
{
	margin: 15px 0px 0px 217px;
}

#u5133
{
	z-index: 63;
	width: 108px;
	padding-bottom: 2px;
	margin-right: -10000px;
}

#buttonu5112.ButtonSelected #u5118,#buttonu5126:hover #u5133
{
	margin: 0px -10000px 0px 0px;
}

#u5130
{
	z-index: 64;
	width: 108px;
	padding-bottom: 1px;
	margin-right: -10000px;
	margin-top: 1px;
}

#buttonu5112.ButtonSelected #u5115,#buttonu5126:hover #u5130
{
	margin: 1px -10000px 0px 0px;
}

#u5128
{
	z-index: 65;
	width: 108px;
	margin-right: -10000px;
}

#buttonu5126.ButtonSelected #u5133,#buttonu5126:hover #u5128
{
	margin: 0px -10000px 0px 0px;
}

#u5132
{
	z-index: 66;
	width: 108px;
	margin-right: -10000px;
	margin-top: 1px;
}

#buttonu5126.ButtonSelected #u5130,#buttonu5126:hover #u5132
{
	margin: 1px -10000px 0px 0px;
}

#u5129
{
	z-index: 67;
	width: 106px;
	padding-bottom: 3px;
	margin-right: -10000px;
	left: 1px;
}

#buttonu5126.ButtonSelected #u5128,#buttonu5126:hover #u5129
{
	margin: 0px -10000px 0px 0px;
}

#u5127-4
{
	z-index: 68;
	width: 90px;
	min-height: 12px;
	margin-right: -10000px;
	margin-top: 5px;
	left: 9px;
}

#u5158
{
	z-index: 72;
	width: 964px;
	height: 278px;
	margin-right: -10000px;
}

#u5169
{
	z-index: 73;
	width: 591px;
	height: 272px;
	margin-right: -10000px;
	margin-top: 1px;
	left: 1px;
}

#u5159-5
{
	z-index: 74;
	width: 326px;
}

#u5160-4
{
	z-index: 79;
	width: 326px;
	min-height: 89px;
	top: -2px;
	margin-bottom: -2px;
}

#buttonu5161
{
	z-index: 83;
	width: 111px;
	padding-bottom: 1px;
	margin-left: 217px;
	margin-top: 49px;
}

#buttonu5161:hover
{
	margin: 49px 0px 0px 217px;
}

#buttonu5161.ButtonSelected
{
	margin: 49px 0px 0px 217px;
}

#u5166
{
	z-index: 84;
	width: 108px;
	padding-bottom: 2px;
	margin-right: -10000px;
}

#buttonu5126.ButtonSelected #u5129,#buttonu5161:hover #u5166
{
	margin: 0px -10000px 0px 0px;
}

#u5164
{
	z-index: 85;
	width: 108px;
	padding-bottom: 1px;
	margin-right: -10000px;
	margin-top: 1px;
}

#buttonu5126.ButtonSelected #u5132,#buttonu5161:hover #u5164
{
	margin: 1px -10000px 0px 0px;
}

#u5162
{
	z-index: 86;
	width: 108px;
	margin-right: -10000px;
}

#buttonu5161.ButtonSelected #u5166,#buttonu5161:hover #u5162
{
	margin: 0px -10000px 0px 0px;
}

#u5165
{
	z-index: 87;
	width: 108px;
	margin-right: -10000px;
	margin-top: 1px;
}

#buttonu5161.ButtonSelected #u5164,#buttonu5161:hover #u5165
{
	margin: 1px -10000px 0px 0px;
}

#u5168
{
	z-index: 88;
	width: 106px;
	padding-bottom: 3px;
	margin-right: -10000px;
	left: 1px;
}

#buttonu5161.ButtonSelected #u5162,#buttonu5161:hover #u5168
{
	margin: 0px -10000px 0px 0px;
}

#u5167-4
{
	z-index: 89;
	width: 90px;
	min-height: 12px;
	margin-right: -10000px;
	margin-top: 5px;
	left: 9px;
}

#u5134
{
	z-index: 93;
	width: 964px;
	height: 278px;
	margin-right: -10000px;
}

#u5135
{
	z-index: 94;
	width: 591px;
	height: 272px;
	margin-right: -10000px;
	margin-top: 1px;
	left: 1px;
}

#u5145-6
{
	z-index: 95;
	width: 326px;
}

#u5136-4
{
	z-index: 101;
	width: 326px;
	min-height: 123px;
	margin-top: 15px;
}

#buttonu5137
{
	z-index: 105;
	width: 111px;
	padding-bottom: 1px;
	margin-left: 217px;
	margin-top: 15px;
}

#buttonu5126.ButtonSelected,#buttonu5137:hover
{
	margin: 15px 0px 0px 217px;
}

#u5140
{
	z-index: 106;
	width: 108px;
	padding-bottom: 2px;
	margin-right: -10000px;
}

#buttonu5161.ButtonSelected #u5168,#buttonu5137:hover #u5140
{
	margin: 0px -10000px 0px 0px;
}

#u5142
{
	z-index: 107;
	width: 108px;
	padding-bottom: 1px;
	margin-right: -10000px;
	margin-top: 1px;
}

#buttonu5161.ButtonSelected #u5165,#buttonu5137:hover #u5142
{
	margin: 1px -10000px 0px 0px;
}

#u5144
{
	z-index: 108;
	width: 108px;
	margin-right: -10000px;
}

#buttonu5137.ButtonSelected #u5140,#buttonu5137:hover #u5144
{
	margin: 0px -10000px 0px 0px;
}

#u5139
{
	z-index: 109;
	width: 108px;
	margin-right: -10000px;
	margin-top: 1px;
}

#buttonu5137.ButtonSelected #u5142,#buttonu5137:hover #u5139
{
	margin: 1px -10000px 0px 0px;
}

#u5141
{
	z-index: 110;
	width: 106px;
	padding-bottom: 3px;
	margin-right: -10000px;
	left: 1px;
}

#buttonu5137.ButtonSelected #u5144,#buttonu5137:hover #u5141
{
	margin: 0px -10000px 0px 0px;
}

#u5138-4
{
	z-index: 111;
	width: 90px;
	min-height: 12px;
	margin-right: -10000px;
	margin-top: 5px;
	left: 9px;
}

#u5146
{
	z-index: 115;
	width: 964px;
	height: 278px;
	margin-right: -10000px;
}

#u5155
{
	z-index: 116;
	width: 591px;
	height: 272px;
	margin-right: -10000px;
	margin-top: 1px;
	left: 1px;
}

#pu5109-4,#pu5123-4,#pu5159-5,#pu5145-6,#pu5156-6
{
	width: 0.01px;
	padding-bottom: 0px;
	position: relative;
	margin-right: -10000px;
	left: 612px;
}

#u5156-6
{
	z-index: 117;
	width: 326px;
	min-height: 87px;
}

#u5157-4
{
	z-index: 123;
	width: 326px;
	min-height: 123px;
}

#buttonu5147
{
	z-index: 127;
	width: 111px;
	padding-bottom: 1px;
	margin-left: 217px;
	margin-top: 15px;
}

#buttonu5137.ButtonSelected,#buttonu5147:hover
{
	margin: 15px 0px 0px 217px;
}

#buttonu5147.ButtonSelected
{
	margin: 15px 0px 0px 217px;
}

#u5154
{
	z-index: 128;
	width: 108px;
	padding-bottom: 2px;
	margin-right: -10000px;
}

#buttonu5137.ButtonSelected #u5141,#buttonu5147:hover #u5154
{
	margin: 0px -10000px 0px 0px;
}

#u5148
{
	z-index: 129;
	width: 108px;
	padding-bottom: 1px;
	margin-right: -10000px;
	margin-top: 1px;
}

#buttonu5137.ButtonSelected #u5139,#buttonu5147:hover #u5148
{
	margin: 1px -10000px 0px 0px;
}

#u5150
{
	z-index: 130;
	width: 108px;
	margin-right: -10000px;
}

#buttonu5147.ButtonSelected #u5154,#buttonu5147:hover #u5150
{
	margin: 0px -10000px 0px 0px;
}

#u5151
{
	z-index: 131;
	width: 108px;
	margin-right: -10000px;
	margin-top: 1px;
}

#buttonu5147.ButtonSelected #u5148,#buttonu5147:hover #u5151
{
	margin: 1px -10000px 0px 0px;
}

#buttonu5147.ButtonSelected #u5151
{
	margin: 1px -10000px 0px 0px;
}

#u5153
{
	z-index: 132;
	width: 106px;
	padding-bottom: 3px;
	margin-right: -10000px;
	left: 1px;
}

#buttonu5147.ButtonSelected #u5150,#buttonu5147:hover #u5153
{
	margin: 0px -10000px 0px 0px;
}

#buttonu5147.ButtonSelected #u5153
{
	margin: 0px -10000px 0px 0px;
}

#u5149-4
{
	z-index: 133;
	width: 90px;
	min-height: 12px;
	margin-right: -10000px;
	margin-top: 5px;
	left: 9px;
}

#pu3612-4
{
	width: 0.01px;
	margin-top: 9px;
	position: relative;
}

#u3612-4
{
	z-index: 144;
	width: 216px;
	min-height: 19px;
	text-align: center;
	letter-spacing: 2px;
	font-size: 20px;
	line-height: 24px;
	font-family: asap, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	left: 392px;
}

#u3707-4
{
	z-index: 158;
	width: 963px;
	min-height: 47px;
	line-height: 35px;
	color: #E8C007;
	font-size: 29px;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 2px;
}

#pu3613
{
	width: 0.01px;
	top: -1px;
	margin-bottom: -1px;
	position: relative;
}

#u3613
{
	z-index: 163;
	width: 394px;
	height: 264px;
	position: relative;
	margin-right: -10000px;
	background: transparent url("../images/mascota02.jpg") no-repeat center center;
	background-size: cover !important;
}

#u3708-10
{
	z-index: 148;
	width: 550px;
	min-height: 264px;
	text-align: justify;
	line-height: 18px;
	color: #FFFFFF;
	font-size: 15px;
	position: relative;
	margin-right: -10000px;
	left: 413px;
}

#u3706
{
	z-index: 162;
	width: 83px;
	height: 28px;
	border-color: #000000;
	margin-left: 881px;
	position: relative;
	background: transparent url("../images/atrasmedios.png") no-repeat right center;
}

#u3706:hover
{
	margin: 0px 0px 0px 881px;
	background: transparent url("../images/atrasmedios0.png") no-repeat right center;
}

body
{
	padding-bottom: 68px;
}

#page .verticalspacer
{
	clear: both;
}

