.version.index /* version checker */
{
	color: #0000FC;
	background-color: #C4EE8F;
}

.html
{
	background-color: #000000;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 928.7784886842021px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: #000000;
	padding-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	padding-bottom: 18px;
}

#u5732-3
{
	z-index: 132;
	width: 960px;
	min-height: 31px;
	margin-right: -10000px;
}

#u5733-4
{
	z-index: 135;
	width: 216px;
	min-height: 27px;
	margin-right: -10000px;
	margin-top: 4px;
	left: 372px;
}

#pamphletu5640
{
	z-index: 2;
	width: 0.01px;
	height: 414px;
	margin-left: 20px;
	top: -5px;
	margin-bottom: -5px;
}

#u5725
{
	z-index: 3;
	width: 920px;
	margin-right: -10000px;
	margin-top: 310px;
}

#u5727
{
	width: 140px;
	height: 103px;
}

#u5727:hover
{
	margin: 0px;
}

#u5727:active
{
	margin: 0px;
}

#u5731
{
	width: 140px;
	height: 103px;
	top: 1px;
	left: 156px;
}

#u5731:hover
{
	margin: 0px;
}

#u5731:active
{
	margin: 0px;
}

#u5729
{
	width: 140px;
	height: 103px;
	top: 1px;
	left: 312px;
}

#u5729:hover
{
	margin: 0px;
}

#u5729:active
{
	margin: 0px;
}

#u5726
{
	width: 140px;
	height: 103px;
	top: 1px;
	left: 468px;
}

#u5726:hover
{
	margin: 0px;
}

#u5726:active
{
	margin: 0px;
}

#u5730
{
	width: 140px;
	height: 103px;
	top: 1px;
	left: 623px;
}

#u5730:hover
{
	margin: 0px;
}

#u5730:active
{
	margin: 0px;
}

#u5728
{
	width: 140px;
	height: 103px;
	top: 1px;
	left: 780px;
}

#u5728:hover
{
	margin: 0px;
}

#u5727.PamphletThumbSelected,#u5731.PamphletThumbSelected,#u5729.PamphletThumbSelected,#u5726.PamphletThumbSelected,#u5730.PamphletThumbSelected,#u5728.PamphletThumbSelected
{
	width: 137px;
	height: 100px;
	min-height: 0px;
	margin: -1px -2px -2px -1px;
}

#u5641popup
{
	z-index: 10;
}

#u5641
{
	width: 921px;
}

#u5642
{
	z-index: 11;
	width: 921px;
	height: 290px;
	margin-right: -10000px;
}

#u5643
{
	z-index: 12;
	width: 591px;
	height: 272px;
	margin-right: -10000px;
	margin-top: 18px;
}

#pu5644-4
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-top: 18px;
	margin-left: 612px;
}

#u5644-4
{
	z-index: 13;
	width: 307px;
	min-height: 87px;
}

#u5645-4
{
	z-index: 17;
	width: 294px;
	min-height: 83px;
	margin-left: 1px;
}

#buttonu5646
{
	z-index: 21;
	width: 111px;
	padding-bottom: 1px;
	margin-left: 184px;
	margin-top: 38px;
}

#buttonu5646:hover
{
	margin: 38px 0px 0px 184px;
}

#buttonu5646.ButtonSelected
{
	margin: 38px 0px 0px 184px;
}

#u5653
{
	z-index: 22;
	width: 108px;
	padding-bottom: 2px;
	margin-right: -10000px;
}

#buttonu5646:hover #u5653
{
	margin: 0px -10000px 0px 0px;
}

#u5650
{
	z-index: 23;
	width: 108px;
	padding-bottom: 1px;
	margin-right: -10000px;
	margin-top: 1px;
}

#buttonu5646:hover #u5650
{
	margin: 1px -10000px 0px 0px;
}

#u5647
{
	z-index: 24;
	width: 108px;
	margin-right: -10000px;
}

#buttonu5646.ButtonSelected #u5653,#buttonu5646:hover #u5647
{
	margin: 0px -10000px 0px 0px;
}

#u5648
{
	z-index: 25;
	width: 108px;
	margin-right: -10000px;
	margin-top: 1px;
}

#buttonu5646.ButtonSelected #u5650,#buttonu5646:hover #u5648
{
	margin: 1px -10000px 0px 0px;
}

#u5652
{
	z-index: 26;
	width: 106px;
	padding-bottom: 3px;
	margin-right: -10000px;
	left: 1px;
}

#buttonu5646.ButtonSelected #u5647,#buttonu5646:hover #u5652
{
	margin: 0px -10000px 0px 0px;
}

#u5651-4
{
	z-index: 27;
	width: 90px;
	min-height: 12px;
	margin-right: -10000px;
	margin-top: 5px;
	left: 9px;
}

#buttonu5646:hover #u5651-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	margin: 5px -10000px 0px 0px;
}

#u5690
{
	z-index: 31;
	width: 921px;
	height: 290px;
	margin-right: -10000px;
}

#u5691
{
	z-index: 32;
	width: 590px;
	height: 272px;
	margin-right: -10000px;
	margin-top: 18px;
}

#ppu5692-4
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 43px;
	margin-left: 612px;
}

#u5692-4
{
	z-index: 33;
	width: 307px;
	min-height: 89px;
	margin-right: -10000px;
}

#u5701-4
{
	z-index: 37;
	width: 294px;
	min-height: 75px;
	margin-right: -10000px;
	margin-top: 60px;
	left: 1px;
}

#buttonu5693
{
	z-index: 41;
	width: 111px;
	padding-bottom: 1px;
	margin-left: 183px;
	margin-top: 48px;
}

#buttonu5693:hover
{
	margin: 48px 0px 0px 183px;
}

#buttonu5693.ButtonSelected
{
	margin: 48px 0px 0px 183px;
}

#u5700
{
	z-index: 42;
	width: 108px;
	padding-bottom: 2px;
	margin-right: -10000px;
}

#buttonu5646.ButtonSelected #u5652,#buttonu5693:hover #u5700
{
	margin: 0px -10000px 0px 0px;
}

#u5698
{
	z-index: 43;
	width: 108px;
	padding-bottom: 1px;
	margin-right: -10000px;
	margin-top: 1px;
}

#buttonu5646.ButtonSelected #u5648,#buttonu5693:hover #u5698
{
	margin: 1px -10000px 0px 0px;
}

#u5697
{
	z-index: 44;
	width: 108px;
	margin-right: -10000px;
}

#buttonu5693.ButtonSelected #u5700,#buttonu5693:hover #u5697
{
	margin: 0px -10000px 0px 0px;
}

#u5696
{
	z-index: 45;
	width: 108px;
	margin-right: -10000px;
	margin-top: 1px;
}

#buttonu5693.ButtonSelected #u5698,#buttonu5693:hover #u5696
{
	margin: 1px -10000px 0px 0px;
}

#u5699
{
	z-index: 46;
	width: 106px;
	padding-bottom: 3px;
	margin-right: -10000px;
	left: 1px;
}

#buttonu5693.ButtonSelected #u5697,#buttonu5693:hover #u5699
{
	margin: 0px -10000px 0px 0px;
}

#u5695-4
{
	z-index: 47;
	width: 90px;
	min-height: 12px;
	margin-right: -10000px;
	margin-top: 5px;
	left: 9px;
}

#buttonu5646.ButtonSelected #u5651-4,#buttonu5693:hover #u5695-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	margin: 5px -10000px 0px 0px;
}

#u5702
{
	z-index: 51;
	width: 921px;
	height: 290px;
	margin-right: -10000px;
}

#u5711
{
	z-index: 52;
	width: 591px;
	height: 272px;
	margin-right: -10000px;
	margin-top: 18px;
	left: 1px;
}

#u5713-4
{
	z-index: 53;
	width: 307px;
	min-height: 89px;
}

#u5712-4
{
	z-index: 57;
	width: 294px;
	min-height: 88px;
	top: -1px;
	margin-bottom: -1px;
}

#buttonu5703
{
	z-index: 61;
	width: 111px;
	padding-bottom: 1px;
	margin-left: 182px;
	margin-top: 36px;
}

#buttonu5703:hover
{
	margin: 36px 0px 0px 182px;
}

#buttonu5703.ButtonSelected
{
	margin: 36px 0px 0px 182px;
}

#u5704
{
	z-index: 62;
	width: 108px;
	padding-bottom: 2px;
	margin-right: -10000px;
}

#buttonu5693.ButtonSelected #u5699,#buttonu5703:hover #u5704
{
	margin: 0px -10000px 0px 0px;
}

#u5708
{
	z-index: 63;
	width: 108px;
	padding-bottom: 1px;
	margin-right: -10000px;
	margin-top: 1px;
}

#buttonu5693.ButtonSelected #u5696,#buttonu5703:hover #u5708
{
	margin: 1px -10000px 0px 0px;
}

#u5709
{
	z-index: 64;
	width: 108px;
	margin-right: -10000px;
}

#buttonu5703.ButtonSelected #u5704,#buttonu5703:hover #u5709
{
	margin: 0px -10000px 0px 0px;
}

#u5705
{
	z-index: 65;
	width: 108px;
	margin-right: -10000px;
	margin-top: 1px;
}

#buttonu5703.ButtonSelected #u5708,#buttonu5703:hover #u5705
{
	margin: 1px -10000px 0px 0px;
}

#u5710
{
	z-index: 66;
	width: 106px;
	padding-bottom: 3px;
	margin-right: -10000px;
	left: 1px;
}

#buttonu5703.ButtonSelected #u5709,#buttonu5703:hover #u5710
{
	margin: 0px -10000px 0px 0px;
}

#u5707-4
{
	z-index: 67;
	width: 90px;
	min-height: 12px;
	margin-right: -10000px;
	margin-top: 5px;
	left: 9px;
}

#buttonu5693.ButtonSelected #u5695-4,#buttonu5703:hover #u5707-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	margin: 5px -10000px 0px 0px;
}

#u5678
{
	z-index: 71;
	width: 921px;
	height: 290px;
	margin-right: -10000px;
}

#u6047
{
	z-index: 82;
	width: 591px;
	height: 272px;
	margin-right: -10000px;
	margin-top: 18px;
}

#ppu6048-4
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-top: 47px;
	margin-left: 613px;
}

#u6048-4
{
	z-index: 83;
	width: 307px;
	min-height: 85px;
	margin-right: -10000px;
}

#u6049-4
{
	z-index: 87;
	width: 294px;
	min-height: 117px;
	margin-right: -10000px;
	margin-top: 57px;
}

#buttonu5682
{
	z-index: 72;
	width: 111px;
	padding-bottom: 1px;
	margin-left: 183px;
	margin-top: 5px;
}

#buttonu5682:hover
{
	margin: 5px 0px 0px 183px;
}

#buttonu5682.ButtonSelected
{
	margin: 5px 0px 0px 183px;
}

#u5687
{
	z-index: 73;
	width: 108px;
	padding-bottom: 2px;
	margin-right: -10000px;
}

#buttonu5703.ButtonSelected #u5710,#buttonu5682:hover #u5687
{
	margin: 0px -10000px 0px 0px;
}

#u5683
{
	z-index: 74;
	width: 108px;
	padding-bottom: 1px;
	margin-right: -10000px;
	margin-top: 1px;
}

#buttonu5703.ButtonSelected #u5705,#buttonu5682:hover #u5683
{
	margin: 1px -10000px 0px 0px;
}

#u5684
{
	z-index: 75;
	width: 108px;
	margin-right: -10000px;
}

#buttonu5682.ButtonSelected #u5687,#buttonu5682:hover #u5684
{
	margin: 0px -10000px 0px 0px;
}

#u5686
{
	z-index: 76;
	width: 108px;
	margin-right: -10000px;
	margin-top: 1px;
}

#buttonu5682.ButtonSelected #u5683,#buttonu5682:hover #u5686
{
	margin: 1px -10000px 0px 0px;
}

#u5688
{
	z-index: 77;
	width: 106px;
	padding-bottom: 3px;
	margin-right: -10000px;
	left: 1px;
}

#buttonu5682.ButtonSelected #u5684,#buttonu5682:hover #u5688
{
	margin: 0px -10000px 0px 0px;
}

#u5685-4
{
	z-index: 78;
	width: 90px;
	min-height: 12px;
	margin-right: -10000px;
	margin-top: 5px;
	left: 9px;
}

#buttonu5703.ButtonSelected #u5707-4,#buttonu5682:hover #u5685-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	margin: 5px -10000px 0px 0px;
}

#u5666
{
	z-index: 91;
	width: 921px;
	height: 290px;
	margin-right: -10000px;
}

#u6026
{
	z-index: 92;
	width: 591px;
	height: 272px;
	margin-right: -10000px;
	margin-top: 18px;
}

#pu5713-4,#pu6027-4
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 15px;
	margin-left: 613px;
}

#u6027-4
{
	z-index: 93;
	width: 307px;
	min-height: 53px;
}

#u6028-4
{
	z-index: 97;
	width: 294px;
	min-height: 92px;
	margin-top: 18px;
}

#buttonu6292
{
	z-index: 101;
	width: 111px;
	padding-bottom: 1px;
	margin-left: 183px;
	margin-top: 29px;
}

#buttonu6292:hover
{
	margin: 29px 0px 0px 183px;
}

#buttonu6292.ButtonSelected
{
	margin: 29px 0px 0px 183px;
}

#u6296
{
	z-index: 102;
	width: 108px;
	padding-bottom: 2px;
	margin-right: -10000px;
}

#buttonu5682.ButtonSelected #u5688,#buttonu6292:hover #u6296
{
	margin: 0px -10000px 0px 0px;
}

#u6298
{
	z-index: 103;
	width: 108px;
	padding-bottom: 1px;
	margin-right: -10000px;
	margin-top: 1px;
}

#buttonu5682.ButtonSelected #u5686,#buttonu6292:hover #u6298
{
	margin: 1px -10000px 0px 0px;
}

#u6293
{
	z-index: 104;
	width: 108px;
	margin-right: -10000px;
}

#buttonu6292.ButtonSelected #u6296,#buttonu6292:hover #u6293
{
	margin: 0px -10000px 0px 0px;
}

#u6297
{
	z-index: 105;
	width: 108px;
	margin-right: -10000px;
	margin-top: 1px;
}

#buttonu6292.ButtonSelected #u6298,#buttonu6292:hover #u6297
{
	margin: 1px -10000px 0px 0px;
}

#u6295
{
	z-index: 106;
	width: 106px;
	padding-bottom: 3px;
	margin-right: -10000px;
	left: 1px;
}

#buttonu6292.ButtonSelected #u6293,#buttonu6292:hover #u6295
{
	margin: 0px -10000px 0px 0px;
}

#u6294-4
{
	z-index: 107;
	width: 90px;
	min-height: 12px;
	margin-right: -10000px;
	margin-top: 5px;
	left: 9px;
}

#buttonu5682.ButtonSelected #u5685-4,#buttonu6292:hover #u6294-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	margin: 5px -10000px 0px 0px;
}

#u5654
{
	z-index: 111;
	width: 921px;
	height: 290px;
	margin-right: -10000px;
}

#u6017
{
	z-index: 122;
	width: 591px;
	height: 272px;
	margin-right: -10000px;
	margin-top: 18px;
}

#ppu6018-5
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-top: 15px;
	margin-left: 613px;
}

#pu5732-3,#pu5692-4,#pu6048-4,#pu6018-5
{
	width: 0.01px;
}

#u6018-5
{
	z-index: 123;
	width: 307px;
	min-height: 117px;
	margin-right: -10000px;
}

#u6019-4
{
	z-index: 128;
	width: 294px;
	min-height: 81px;
	margin-right: -10000px;
	margin-top: 90px;
}

#buttonu5656
{
	z-index: 112;
	width: 111px;
	padding-bottom: 1px;
	margin-left: 183px;
	margin-top: 40px;
}

#buttonu5656:hover
{
	margin: 40px 0px 0px 183px;
}

#buttonu5656.ButtonSelected
{
	margin: 40px 0px 0px 183px;
}

#u5663
{
	z-index: 113;
	width: 108px;
	padding-bottom: 2px;
	margin-right: -10000px;
}

#buttonu6292.ButtonSelected #u6295,#buttonu5656:hover #u5663
{
	margin: 0px -10000px 0px 0px;
}

#u5658
{
	z-index: 114;
	width: 108px;
	padding-bottom: 1px;
	margin-right: -10000px;
	margin-top: 1px;
}

#buttonu6292.ButtonSelected #u6297,#buttonu5656:hover #u5658
{
	margin: 1px -10000px 0px 0px;
}

#u5657
{
	z-index: 115;
	width: 108px;
	margin-right: -10000px;
}

#buttonu5656.ButtonSelected #u5663,#buttonu5656:hover #u5657
{
	margin: 0px -10000px 0px 0px;
}

#u5661
{
	z-index: 116;
	width: 108px;
	margin-right: -10000px;
	margin-top: 1px;
}

#buttonu5656.ButtonSelected #u5658,#buttonu5656:hover #u5661
{
	margin: 1px -10000px 0px 0px;
}

#buttonu5656.ButtonSelected #u5661
{
	margin: 1px -10000px 0px 0px;
}

#u5660
{
	z-index: 117;
	width: 106px;
	padding-bottom: 3px;
	margin-right: -10000px;
	left: 1px;
}

#buttonu5656.ButtonSelected #u5657,#buttonu5656:hover #u5660
{
	margin: 0px -10000px 0px 0px;
}

#buttonu5656.ButtonSelected #u5660
{
	margin: 0px -10000px 0px 0px;
}

#u5662-4
{
	z-index: 118;
	width: 90px;
	min-height: 12px;
	margin-right: -10000px;
	margin-top: 5px;
	left: 9px;
}

#buttonu6292.ButtonSelected #u6294-4,#buttonu5656:hover #u5662-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	margin: 5px -10000px 0px 0px;
}

#buttonu5656.ButtonSelected #u5662-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	margin: 5px -10000px 0px 0px;
}

#pu6783
{
	width: 0.01px;
	margin-left: 20px;
	margin-top: 15px;
}

#u6783
{
	z-index: 168;
	width: 297px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
}

#u6471
{
	z-index: 169;
	width: 297px;
	height: 219px;
	position: relative;
	margin-right: -10000px;
	background: transparent url("../images/291x219fffarm.jpg") no-repeat center center;
	background-size: cover;
}

#pu6472
{
	z-index: 170;
	width: 0.01px;
	position: relative;
	margin-right: -10000px;
	margin-top: 161px;
}

#u6473-4
{
	z-index: 171;
	width: 287px;
	min-height: 48px;
	background-color: transparent;
	line-height: 22px;
	font-size: 16px;
	color: #FFFFFF;
	text-align: left;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
}

#u7143
{
	z-index: 175;
	width: 298px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
	left: 312px;
}

#u6248
{
	z-index: 176;
	width: 297px;
	height: 219px;
	position: relative;
	margin-right: -10000px;
	background: transparent url("../images/291x219copsandbandits.jpg") no-repeat center center;
	background-size: cover;
}

#pu6249
{
	z-index: 177;
	width: 0.01px;
	position: relative;
	margin-right: -10000px;
	margin-top: 160px;
}

#u6250-4
{
	z-index: 178;
	width: 288px;
	min-height: 44px;
	background-color: transparent;
	line-height: 22px;
	font-size: 16px;
	color: #FFFFFF;
	text-align: left;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
}

#u6782
{
	z-index: 161;
	width: 298px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 625px;
}

#u6245
{
	z-index: 162;
	width: 297px;
	height: 218px;
	border-style: none;
	border-color: transparent;
	position: relative;
	margin-right: -10000px;
	background: transparent url("../images/291x219chat.jpg") no-repeat center center;
	background-size: cover;
}

#pu6246
{
	z-index: 163;
	width: 0.01px;
	position: relative;
	margin-right: -10000px;
	margin-top: 161px;
}

#u6249,#u6246
{
	z-index: 0;
	width: 298px;
	border-color: #000000;
	background-color: #000000;
	opacity: 0.75;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=75)";
	filter: alpha(opacity=75);
	position: absolute;
	top: 0px;
	bottom: 0px;
}

#u6247-4
{
	z-index: 164;
	width: 288px;
	min-height: 48px;
	background-color: transparent;
	line-height: 22px;
	font-size: 16px;
	color: #FFFFFF;
	text-align: left;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
}

#pu7145
{
	width: 0.01px;
	margin-left: 20px;
	margin-top: 16px;
}

#u7145
{
	z-index: 147;
	width: 297px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
}

#u670
{
	z-index: 148;
	width: 297px;
	height: 219px;
	position: relative;
	margin-right: -10000px;
	background: transparent url("../images/291x219sdaringdave.jpg") no-repeat center center;
	background-size: cover;
}

#pu672
{
	z-index: 149;
	width: 0.01px;
	position: relative;
	margin-right: -10000px;
	margin-top: 162px;
}

#u672
{
	z-index: 0;
	width: 296px;
	border-color: #000000;
	background-color: #000000;
	opacity: 0.75;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=75)";
	filter: alpha(opacity=75);
	position: absolute;
	top: 0px;
	bottom: 0px;
}

#pu6473-4,#pu6247-4,#pu673-4
{
	width: 0.01px;
	position: relative;
	left: 9px;
	padding-top: 9px;
	z-index: 2;
	padding-bottom: 1px;
}

#u673-4
{
	z-index: 150;
	width: 287px;
	min-height: 48px;
	background-color: transparent;
	line-height: 22px;
	font-size: 16px;
	color: #FFFFFF;
	text-align: left;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
}

#u7144
{
	z-index: 140;
	width: 298px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 312px;
}

#u665
{
	z-index: 141;
	width: 297px;
	height: 219px;
	border-style: none;
	border-color: transparent;
	position: relative;
	margin-right: -10000px;
	background: transparent url("../images/291x219tablasdepago.jpg") no-repeat center center;
	background-size: cover;
}

#pu667
{
	z-index: 142;
	width: 0.01px;
	position: relative;
	margin-right: -10000px;
	margin-top: 161px;
}

#u667
{
	z-index: 0;
	width: 298px;
	border-style: none;
	border-color: transparent;
	background-color: #000000;
	opacity: 0.75;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=75)";
	filter: alpha(opacity=75);
	position: absolute;
	top: 0px;
	bottom: 0px;
}

#pu668-4
{
	width: 0.01px;
	position: relative;
	left: 8px;
	padding-top: 9px;
	z-index: 2;
	padding-bottom: 6px;
}

#u668-4
{
	z-index: 143;
	width: 289px;
	min-height: 44px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 22px;
	font-size: 16px;
	color: #FFFFFF;
	text-align: left;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
}

#u7146
{
	z-index: 154;
	width: 297px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
	left: 624px;
}

#u675
{
	z-index: 155;
	width: 296px;
	height: 219px;
	position: relative;
	margin-right: -10000px;
	background: transparent url("../images/atlantis01.jpg") no-repeat center center;
	background-size: cover;
}

#pu677
{
	z-index: 156;
	width: 0.01px;
	position: relative;
	margin-right: -10000px;
	margin-top: 161px;
}

#u6472,#u677
{
	z-index: 0;
	width: 297px;
	border-color: #000000;
	background-color: #000000;
	opacity: 0.75;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=75)";
	filter: alpha(opacity=75);
	position: absolute;
	top: 0px;
	bottom: 0px;
}

#pu6250-4,#pu678-4
{
	width: 0.01px;
	position: relative;
	left: 9px;
	padding-top: 11px;
	z-index: 2;
	padding-bottom: 4px;
}

#u678-4
{
	z-index: 157;
	width: 287px;
	min-height: 44px;
	background-color: transparent;
	line-height: 22px;
	font-size: 16px;
	color: #FFFFFF;
	text-align: left;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
}

#u7250
{
	z-index: 139;
	width: 50px;
	min-height: 50px;
	margin-left: 940px;
	top: -450px;
	margin-bottom: -50px;
}

body
{
	position: relative;
	min-width: 960px;
	padding-bottom: 30px;
}

#page .verticalspacer
{
	clear: both;
}

