#u5732-3
{
	border-style: none;
	border-color: transparent;
	position: relative;
	background: #EBC408 url("../images/barra31.jpg") repeat-x left top;
}

#u5733-4
{
	background-color: transparent;
	line-height: 24px;
	font-size: 20px;
	letter-spacing: 2px;
	text-align: center;
	font-family: asap, sans-serif;
	font-weight: 700;
	position: relative;
}

#pamphletu5640,#u5725
{
	position: relative;
}

#u5727
{
	position: absolute;
	border-color: #C4C4C4;
	background: transparent url("../images/juegos%20gratis.jpg") no-repeat center center;
	background-size: cover;
}

#u5727:hover
{
	background-repeat: no-repeat;
	background-position: center center;
	border-style: none;
	border-color: #6B6B6B;
	background-size: cover;
}

#u5727:active
{
	background-repeat: no-repeat;
	background-position: center center;
	border-style: none;
	border-color: #6B6B6B;
	background-size: cover;
}

#u5731
{
	position: absolute;
	border-color: #C4C4C4;
	background: transparent url("../images/140x103ayuda.jpg") no-repeat center center;
	background-size: cover;
}

#u5731:hover
{
	border-style: none;
	border-color: #6B6B6B;
	background: transparent url("../images/140x103ayuda.jpg") no-repeat center center;
	background-size: cover;
}

#u5731:active
{
	border-style: none;
	border-color: #6B6B6B;
	background: transparent url("../images/140x103ayuda.jpg") no-repeat center center;
	background-size: cover;
}

#u5731.PamphletThumbSelected
{
	border-width: 3px;
	border-style: solid;
	border-color: #163597;
	background: #000000 url("../images/140x103ayuda.jpg") no-repeat center top;
	background-size: cover;
}

#u5729
{
	position: absolute;
	border-color: #C4C4C4;
	background: transparent url("../images/140x103playtechvivo.jpg") no-repeat right center;
	background-size: cover;
}

#u5729:hover
{
	background-repeat: no-repeat;
	background-position: right center;
	border-style: none;
	border-color: #6B6B6B;
	background-size: cover;
}

#u5729:active
{
	background-repeat: no-repeat;
	background-position: right center;
	border-style: none;
	border-color: #6B6B6B;
	background-size: cover;
}

#u5729.PamphletThumbSelected
{
	background-repeat: no-repeat;
	background-position: right center;
	border-width: 3px;
	border-style: solid;
	border-color: #163597;
	background-size: cover;
}

#u5726
{
	position: absolute;
	border-color: #C4C4C4;
	background: transparent url("../images/140x103popbingo.jpg") no-repeat center center;
	background-size: cover;
}

#u5726:hover
{
	background-repeat: no-repeat;
	background-position: center center;
	border-style: none;
	border-color: #6B6B6B;
	background-size: cover;
}

#u5726:active
{
	background-repeat: no-repeat;
	background-position: center center;
	border-style: none;
	border-color: #6B6B6B;
	background-size: cover;
}

#u5730
{
	position: absolute;
	border-color: #C4C4C4;
	background: transparent url("../images/140x103playtechbrand.jpg") no-repeat center center;
	background-size: cover;
}

#u5730:hover
{
	background-repeat: no-repeat;
	background-position: center center;
	border-style: none;
	border-color: #6B6B6B;
	background-size: cover;
}

#u5730:active
{
	background-repeat: no-repeat;
	background-position: center center;
	border-style: none;
	border-color: #6B6B6B;
	background-size: cover;
}

#u5728
{
	position: absolute;
	border-color: #C4C4C4;
	background: transparent url("../images/y%20de%20donde%20vienen%20los%20casinos1.jpg") no-repeat center center;
	background-size: cover;
}

#u5728:hover
{
	background-repeat: no-repeat;
	background-position: center center;
	border-style: none;
	border-color: #6B6B6B;
	background-size: cover;
}

#u5727.PamphletThumbSelected,#u5726.PamphletThumbSelected,#u5730.PamphletThumbSelected,#u5728.PamphletThumbSelected
{
	background-repeat: no-repeat;
	background-position: center center;
	border-width: 3px;
	border-style: solid;
	border-color: #163597;
	background-size: cover;
}

#u5641
{
	position: absolute;
	background-color: transparent;
}

#u5643
{
	border-style: none;
	border-color: transparent;
	position: relative;
	background: #FFFFFF url("../images/juegos%20gratis2.jpg") no-repeat center center;
	background-size: cover;
}

#buttonu5646
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
	position: relative;
}

#u5653
{
	border-style: none;
	border-color: transparent;
	background-color: #00026D;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
	position: relative;
}

#u5650
{
	border-style: none;
	border-color: transparent;
	background-color: #03B2FB;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
	position: relative;
}

#u5647
{
	border-style: none;
	border-color: transparent;
	background-color: #03B2FB;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
	position: relative;
}

#u5648
{
	border-style: none;
	border-color: transparent;
	background-color: #0081B6;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
	position: relative;
}

#u5652
{
	background: #0C0C1A url("../images/u5652-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, from(#183BA9),color-stop(100%, #0C0C1A));
	background: -webkit-linear-gradient(top,#183BA9 ,#0C0C1A 100%);
	background: -o-linear-gradient(top,#183BA9 ,#0C0C1A 100%);
	background: linear-gradient(to bottom,#183BA9 ,#0C0C1A 100%);
	border-style: none;
	border-color: transparent;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
	position: relative;
}

#buttonu5646:hover #u5652
{
	background: transparent url("../images/u5652-r-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, from(rgba(24, 59, 169, 0.51)),color-stop(100%, #0C0C1A));
	background: -webkit-linear-gradient(top,rgba(24, 59, 169, 0.51) ,#0C0C1A 100%);
	background: -o-linear-gradient(top,rgba(24, 59, 169, 0.51) ,#0C0C1A 100%);
	background: linear-gradient(to bottom,rgba(24, 59, 169, 0.51) ,#0C0C1A 100%);
}

#buttonu5646.ButtonSelected #u5652
{
	background: #0C0C1A url("../images/u5652-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, from(#183BA9),color-stop(100%, #0C0C1A));
	background: -webkit-linear-gradient(top,#183BA9 ,#0C0C1A 100%);
	background: -o-linear-gradient(top,#183BA9 ,#0C0C1A 100%);
	background: linear-gradient(to bottom,#183BA9 ,#0C0C1A 100%);
}

#u5651-4
{
	background-color: transparent;
	line-height: 22px;
	font-size: 18px;
	color: #FFFFFF;
	text-align: center;
	font-family: actor, sans-serif;
	font-weight: 400;
	position: relative;
}

#u5691
{
	border-style: none;
	border-color: transparent;
	position: relative;
	background: #FFFFFF url("../images/591x272ayuda.jpg") no-repeat center top;
	background-size: cover;
}

#buttonu5693
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
	position: relative;
}

#u5700
{
	border-style: none;
	border-color: transparent;
	background-color: #00026D;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
	position: relative;
}

#u5698
{
	border-style: none;
	border-color: transparent;
	background-color: #03B2FB;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
	position: relative;
}

#u5697
{
	border-style: none;
	border-color: transparent;
	background-color: #03B2FB;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
	position: relative;
}

#u5696
{
	border-style: none;
	border-color: transparent;
	background-color: #0081B6;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
	position: relative;
}

#u5699
{
	background: #0C0C1A url("../images/u5652-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, from(#183BA9),color-stop(100%, #0C0C1A));
	background: -webkit-linear-gradient(top,#183BA9 ,#0C0C1A 100%);
	background: -o-linear-gradient(top,#183BA9 ,#0C0C1A 100%);
	background: linear-gradient(to bottom,#183BA9 ,#0C0C1A 100%);
	border-style: none;
	border-color: transparent;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
	position: relative;
}

#buttonu5693:hover #u5699
{
	background: transparent url("../images/u5652-r-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, from(rgba(24, 59, 169, 0.51)),color-stop(100%, #0C0C1A));
	background: -webkit-linear-gradient(top,rgba(24, 59, 169, 0.51) ,#0C0C1A 100%);
	background: -o-linear-gradient(top,rgba(24, 59, 169, 0.51) ,#0C0C1A 100%);
	background: linear-gradient(to bottom,rgba(24, 59, 169, 0.51) ,#0C0C1A 100%);
}

#buttonu5693.ButtonSelected #u5699
{
	background: #0C0C1A url("../images/u5652-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, from(#183BA9),color-stop(100%, #0C0C1A));
	background: -webkit-linear-gradient(top,#183BA9 ,#0C0C1A 100%);
	background: -o-linear-gradient(top,#183BA9 ,#0C0C1A 100%);
	background: linear-gradient(to bottom,#183BA9 ,#0C0C1A 100%);
}

#u5695-4
{
	background-color: transparent;
	line-height: 22px;
	font-size: 18px;
	color: #FFFFFF;
	text-align: center;
	font-family: actor, sans-serif;
	font-weight: 400;
	position: relative;
}

#u5711
{
	border-style: none;
	border-color: transparent;
	position: relative;
	background: #FFFFFF url("../images/591x272playtechvivo.jpg") no-repeat left center;
	background-size: cover;
}

#buttonu5703
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
	position: relative;
}

#u5704
{
	border-style: none;
	border-color: transparent;
	background-color: #00026D;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
	position: relative;
}

#u5708
{
	border-style: none;
	border-color: transparent;
	background-color: #03B2FB;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
	position: relative;
}

#u5709
{
	border-style: none;
	border-color: transparent;
	background-color: #03B2FB;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
	position: relative;
}

#u5705
{
	border-style: none;
	border-color: transparent;
	background-color: #0081B6;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
	position: relative;
}

#u5710
{
	background: #0C0C1A url("../images/u5652-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, from(#183BA9),color-stop(100%, #0C0C1A));
	background: -webkit-linear-gradient(top,#183BA9 ,#0C0C1A 100%);
	background: -o-linear-gradient(top,#183BA9 ,#0C0C1A 100%);
	background: linear-gradient(to bottom,#183BA9 ,#0C0C1A 100%);
	border-style: none;
	border-color: transparent;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
	position: relative;
}

#buttonu5703:hover #u5710
{
	background: transparent url("../images/u5652-r-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, from(rgba(24, 59, 169, 0.51)),color-stop(100%, #0C0C1A));
	background: -webkit-linear-gradient(top,rgba(24, 59, 169, 0.51) ,#0C0C1A 100%);
	background: -o-linear-gradient(top,rgba(24, 59, 169, 0.51) ,#0C0C1A 100%);
	background: linear-gradient(to bottom,rgba(24, 59, 169, 0.51) ,#0C0C1A 100%);
}

#buttonu5703.ButtonSelected #u5710
{
	background: #0C0C1A url("../images/u5652-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, from(#183BA9),color-stop(100%, #0C0C1A));
	background: -webkit-linear-gradient(top,#183BA9 ,#0C0C1A 100%);
	background: -o-linear-gradient(top,#183BA9 ,#0C0C1A 100%);
	background: linear-gradient(to bottom,#183BA9 ,#0C0C1A 100%);
}

#u5707-4
{
	background-color: transparent;
	line-height: 22px;
	font-size: 18px;
	color: #FFFFFF;
	text-align: center;
	font-family: actor, sans-serif;
	font-weight: 400;
	position: relative;
}

#u6047
{
	border-style: none;
	border-color: transparent;
	position: relative;
	background: #FFFFFF url("../images/591x272_popbingo.jpg") no-repeat center center;
	background-size: cover;
}

#buttonu5682
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
	position: relative;
}

#u5687
{
	border-style: none;
	border-color: transparent;
	background-color: #00026D;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
	position: relative;
}

#u5683
{
	border-style: none;
	border-color: transparent;
	background-color: #03B2FB;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
	position: relative;
}

#u5684
{
	border-style: none;
	border-color: transparent;
	background-color: #03B2FB;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
	position: relative;
}

#u5686
{
	border-style: none;
	border-color: transparent;
	background-color: #0081B6;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
	position: relative;
}

#u5688
{
	background: #0C0C1A url("../images/u5652-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, from(#183BA9),color-stop(100%, #0C0C1A));
	background: -webkit-linear-gradient(top,#183BA9 ,#0C0C1A 100%);
	background: -o-linear-gradient(top,#183BA9 ,#0C0C1A 100%);
	background: linear-gradient(to bottom,#183BA9 ,#0C0C1A 100%);
	border-style: none;
	border-color: transparent;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
	position: relative;
}

#buttonu5682:hover #u5688
{
	background: transparent url("../images/u5652-r-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, from(rgba(24, 59, 169, 0.51)),color-stop(100%, #0C0C1A));
	background: -webkit-linear-gradient(top,rgba(24, 59, 169, 0.51) ,#0C0C1A 100%);
	background: -o-linear-gradient(top,rgba(24, 59, 169, 0.51) ,#0C0C1A 100%);
	background: linear-gradient(to bottom,rgba(24, 59, 169, 0.51) ,#0C0C1A 100%);
}

#buttonu5682.ButtonSelected #u5688
{
	background: #0C0C1A url("../images/u5652-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, from(#183BA9),color-stop(100%, #0C0C1A));
	background: -webkit-linear-gradient(top,#183BA9 ,#0C0C1A 100%);
	background: -o-linear-gradient(top,#183BA9 ,#0C0C1A 100%);
	background: linear-gradient(to bottom,#183BA9 ,#0C0C1A 100%);
}

#u5685-4
{
	background-color: transparent;
	line-height: 22px;
	font-size: 18px;
	color: #FFFFFF;
	text-align: center;
	font-family: actor, sans-serif;
	font-weight: 400;
	position: relative;
}

#u6026
{
	border-style: none;
	border-color: transparent;
	position: relative;
	background: #FFFFFF url("../images/591x272playtechbrand.jpg") no-repeat center center;
	background-size: cover;
}

#u5644-4,#u5692-4,#u5713-4,#u6048-4,#u6027-4
{
	background-color: transparent;
	line-height: 36px;
	font-size: 30px;
	color: #E8C007;
	font-weight: bold;
	position: relative;
}

#buttonu6292
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
	position: relative;
}

#u6296
{
	border-style: none;
	border-color: transparent;
	background-color: #00026D;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
	position: relative;
}

#u6298
{
	border-style: none;
	border-color: transparent;
	background-color: #03B2FB;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
	position: relative;
}

#u6293
{
	border-style: none;
	border-color: transparent;
	background-color: #03B2FB;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
	position: relative;
}

#u6297
{
	border-style: none;
	border-color: transparent;
	background-color: #0081B6;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
	position: relative;
}

#u6295
{
	background: #0C0C1A url("../images/u5652-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, from(#183BA9),color-stop(100%, #0C0C1A));
	background: -webkit-linear-gradient(top,#183BA9 ,#0C0C1A 100%);
	background: -o-linear-gradient(top,#183BA9 ,#0C0C1A 100%);
	background: linear-gradient(to bottom,#183BA9 ,#0C0C1A 100%);
	border-style: none;
	border-color: transparent;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
	position: relative;
}

#buttonu6292:hover #u6295
{
	background: transparent url("../images/u5652-r-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, from(rgba(24, 59, 169, 0.51)),color-stop(100%, #0C0C1A));
	background: -webkit-linear-gradient(top,rgba(24, 59, 169, 0.51) ,#0C0C1A 100%);
	background: -o-linear-gradient(top,rgba(24, 59, 169, 0.51) ,#0C0C1A 100%);
	background: linear-gradient(to bottom,rgba(24, 59, 169, 0.51) ,#0C0C1A 100%);
}

#buttonu6292.ButtonSelected #u6295
{
	background: #0C0C1A url("../images/u5652-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, from(#183BA9),color-stop(100%, #0C0C1A));
	background: -webkit-linear-gradient(top,#183BA9 ,#0C0C1A 100%);
	background: -o-linear-gradient(top,#183BA9 ,#0C0C1A 100%);
	background: linear-gradient(to bottom,#183BA9 ,#0C0C1A 100%);
}

#u6294-4
{
	background-color: transparent;
	line-height: 22px;
	font-size: 18px;
	color: #FFFFFF;
	text-align: center;
	font-family: actor, sans-serif;
	font-weight: 400;
	position: relative;
}

#u5642,#u5690,#u5702,#u5678,#u5666,#u5654
{
	border-style: none;
	border-color: transparent;
	background-color: #000000;
	position: relative;
}

#u6017
{
	border-style: none;
	border-color: transparent;
	position: relative;
	background: #FFFFFF url("../images/y%20de%20donde%20vienen%20los%20casinos.jpg") no-repeat center center;
	background-size: cover;
}

#u6018-5
{
	background-color: transparent;
	position: relative;
}

#u6018-2
{
	font-size: 30px;
	line-height: 36px;
	color: #E8C007;
	font-weight: bold;
}

#u5645-4,#u5701-4,#u5712-4,#u6049-4,#u6028-4,#u6019-4
{
	background-color: transparent;
	line-height: 22px;
	font-size: 18px;
	color: #FFFFFF;
	text-align: justify;
	position: relative;
}

#buttonu5656
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
	position: relative;
}

#u5663
{
	border-style: none;
	border-color: transparent;
	background-color: #00026D;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
	position: relative;
}

#u5658
{
	border-style: none;
	border-color: transparent;
	background-color: #03B2FB;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
	position: relative;
}

#u5657
{
	border-style: none;
	border-color: transparent;
	background-color: #03B2FB;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
	position: relative;
}

#u5661
{
	border-style: none;
	border-color: transparent;
	background-color: #0081B6;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
	position: relative;
}

#u5660
{
	background: #0C0C1A url("../images/u5652-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, from(#183BA9),color-stop(100%, #0C0C1A));
	background: -webkit-linear-gradient(top,#183BA9 ,#0C0C1A 100%);
	background: -o-linear-gradient(top,#183BA9 ,#0C0C1A 100%);
	background: linear-gradient(to bottom,#183BA9 ,#0C0C1A 100%);
	border-style: none;
	border-color: transparent;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
	position: relative;
}

#buttonu5656:hover #u5660
{
	background: transparent url("../images/u5652-r-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, from(rgba(24, 59, 169, 0.51)),color-stop(100%, #0C0C1A));
	background: -webkit-linear-gradient(top,rgba(24, 59, 169, 0.51) ,#0C0C1A 100%);
	background: -o-linear-gradient(top,rgba(24, 59, 169, 0.51) ,#0C0C1A 100%);
	background: linear-gradient(to bottom,rgba(24, 59, 169, 0.51) ,#0C0C1A 100%);
}

#buttonu5656.ButtonSelected #u5660
{
	background: #0C0C1A url("../images/u5652-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, from(#183BA9),color-stop(100%, #0C0C1A));
	background: -webkit-linear-gradient(top,#183BA9 ,#0C0C1A 100%);
	background: -o-linear-gradient(top,#183BA9 ,#0C0C1A 100%);
	background: linear-gradient(to bottom,#183BA9 ,#0C0C1A 100%);
}

#u5662-4
{
	background-color: transparent;
	line-height: 22px;
	font-size: 18px;
	color: #FFFFFF;
	text-align: center;
	font-family: actor, sans-serif;
	font-weight: 400;
	position: relative;
}

.PamphletWidget .ThumbGroup .Thumb,.PamphletNextButton,.PamphletPrevButton,.PamphletCloseButton /* pamphlet2 */
{
	cursor: pointer;
}

#u7250
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

