.version.sportmantenimiento /* version checker */
{
	color: #000002;
	background-color: #F51E83;
}

.html
{
	background-color: #000000;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 376px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: #000000;
	padding-bottom: 123px;
	margin-left: auto;
	margin-right: auto;
}

#u5899
{
	z-index: 3;
	width: 322px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 399px;
}

#u6958
{
	z-index: 2;
	width: 50px;
	min-height: 50px;
	margin-right: -10000px;
	left: -100px;
}

body
{
	position: relative;
	min-width: 960px;
}

#page .verticalspacer
{
	clear: both;
}

