﻿@import url(http://fonts.googleapis.com/css?family=Actor);
@import url(http://fonts.googleapis.com/css?family=Lato:400,700,300italic,400italic,700italic);

body{
    margin: 0;
    position: relative;
    bottom:0;
    padding: 0px;
}


div#up {
    position:relative;
    width: 957px;

}

div#up input.vertical{
    display: inline-block;
}

div#principal{
    width: 951px;
    height: 756px;
    background:rgba(0,0,0,0.5);
    border: 3px solid #b78101;
}

div#presentacion{
    position: relative;
    background: black;
    background:rgba(0,0,0,0.7);
    height: 69px;
    border-bottom: 3px solid #b78101;
    color: white;
    font-family: 'Actor';
    font-size: 30px;
     
}

p#categoria{
    font-family: 'Actor';
}

div#presentacion p#categoria{
    position: relative;
    float: left;
    bottom: 12px;
    left: 89px;
    font-family: 'Actor';
}

div#presentacion p#machine{
    float: right;
    position: relative;
    bottom: 12px;
    right: 17px;
    font-family:'Lato';
    font-style: italic;
    font-weight:300;
    font-size: 27px;
}
div#presentacion p#saldo{
    float: right;
    position: relative;
    bottom: 12px;
    right: 17px;
    font-family:'Lato';
    font-style: italic;
    font-weight:300;
    font-size: 27px;
}

input.vertical:focus{
    outline: 0;
}

input.vertical{
    position: relative;
    width: 236px;
    height: 69px;
    margin-top: 5px;
    color: white;
    font-family: 'Actor';
    font-size: 20px;
    background-color: black;
    border: none;

    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#525252+0,030303+100 */
    background: #525252; /* Old browsers */
    background: -moz-linear-gradient(top,  #525252 0%, #030303 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#525252), color-stop(100%,#030303)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #525252 0%,#030303 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #525252 0%,#030303 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #525252 0%,#030303 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #525252 0%,#030303 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#525252', endColorstr='#030303',GradientType=0 ); /* IE6-9 */
}

input.vertical:hover{
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#c1c1c1+0,030303+100 */
    background: #c1c1c1; /* Old browsers */
    background: -moz-linear-gradient(top,  #c1c1c1 0%, #030303 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#c1c1c1), color-stop(100%,#030303)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #c1c1c1 0%,#030303 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #c1c1c1 0%,#030303 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #c1c1c1 0%,#030303 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #c1c1c1 0%,#030303 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c1c1c1', endColorstr='#030303',GradientType=0 ); /* IE6-9 */
}

.vertical-active{
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#c1c1c1+0,030303+100 */
    background: #c1c1c1 !important; /* Old browsers */
    background: -moz-linear-gradient(top,  #c1c1c1 0%, #030303 100%) !important; /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#c1c1c1), color-stop(100%,#030303)) !important; /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #c1c1c1 0%,#030303 100%) !important; /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #c1c1c1 0%,#030303 100%) !important; /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #c1c1c1 0%,#030303 100%) !important; /* IE10+ */
    background: linear-gradient(to bottom,  #c1c1c1 0%,#030303 100%) !important; /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c1c1c1', endColorstr='#030303',GradientType=0 ) !important; /* IE6-9 */
}



div#iframe-principal{
    position: relative;
    width: 716px;
    height: 567px;
    /*background-color: chocolate;*/
    bottom: 663px;
    left: 235px;
}

div#iframe-principal > iframe{
    position:relative;
    width: 100%;
    height: 100%;
    border: none;
}

iframe#menuGames{
width: 100%;
height: 682px;
margin-top: -23px;
    
}
 

input.horizontal,a.horizontal{
    position: relative;
    display: list-item;
    width: 228px;
    height: 52px;
    margin-left: 4px;
    margin-top: 7px;
    border: 3px solid #183aa4;
    border-radius: 5px;
    color: white;
    font-family: 'Actor';
    border-top: 1px solid blue;
    font-size: 16px;

    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#17379d+0,0e132f+100 */
    background: #17379d; /* Old browsers */
    background: -moz-linear-gradient(top,  #17379d 0%, #0e132f 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#17379d), color-stop(100%,#0e132f)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #17379d 0%,#0e132f 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #17379d 0%,#0e132f 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #17379d 0%,#0e132f 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #17379d 0%,#0e132f 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#17379d', endColorstr='#0e132f',GradientType=0 ); /* IE6-9 */
}

input.horizontal:hover{

    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#0c5cad+0,0e132f+100 */
    background: #0c5cad; /* Old browsers */
    background: -moz-linear-gradient(top,  #0c5cad 0%, #0e132f 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#0c5cad), color-stop(100%,#0e132f)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #0c5cad 0%,#0e132f 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #0c5cad 0%,#0e132f 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #0c5cad 0%,#0e132f 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #0c5cad 0%,#0e132f 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0c5cad', endColorstr='#0e132f',GradientType=0 ); /* IE6-9 */
}

.horizontal-active{
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#0c5cad+0,0e132f+100 */
    background: #0c5cad !important; /* Old browsers */
    background: -moz-linear-gradient(top,  #0c5cad 0%, #0e132f 100%) !important; /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#0c5cad), color-stop(100%,#0e132f)) !important; /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #0c5cad 0%,#0e132f 100%) !important; /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #0c5cad 0%,#0e132f 100%) !important; /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #0c5cad 0%,#0e132f 100%) !important; /* IE10+ */
    background: linear-gradient(to bottom,  #0c5cad 0%,#0e132f 100%) !important; /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0c5cad', endColorstr='#0e132f',GradientType=0 ) !important; /* IE6-9 */
}

input.horizontal:active{

    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#0c5cad+0,0e132f+100 */
    background: #0c5cad; /* Old browsers */
    background: -moz-linear-gradient(top,  #0c5cad 0%, #0e132f 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#0c5cad), color-stop(100%,#0e132f)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #0c5cad 0%,#0e132f 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #0c5cad 0%,#0e132f 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #0c5cad 0%,#0e132f 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #0c5cad 0%,#0e132f 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0c5cad', endColorstr='#0e132f',GradientType=0 ); /* IE6-9 */
}


input.horizontal:focus{
    outline: 0;
}


input.horizontal:active{
    background:rgb(12,91,172); /* Old browsers */
    background:  -moz-linear-gradient(top,  rgba(12,91,172,1) 0%, rgba(12,12,26,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(12,91,172,1)), color-stop(100%,rgba(12,12,26,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgno ba(12,91,172,1) 0%,rgba(12,12,26,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(12,91,172,1) 0%,rgba(12,12,26,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(12,91,172,1) 0%,rgba(12,12,26,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(12,91,172,1) 0%,rgba(12,12,26,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0c5bac', endColorstr='#0c0c1a',GradientType=0 ); /* IE6-9 */
}

img.volver{
    display:block;
    position: relative;
    top: 27px;
    left: 4px;
    cursor:pointer;
    z-index: 100;
    margin:0;
}

img.volver-hover{
    display: block;
    position: absolute;
    top: 51px;
    left: 4px;
    cursor: pointer;
    margin: 0;
}

input[type=button]:hover{
    cursor: pointer;
}

div#saldo1 {
    position: relative;
    bottom: 55px;
    width: 155px;
    color: white;
    font-size: 24px;
    left: 787px;
    padding: 1px;
    font-family: 'Actor';
}

p#saldo p{
    display: inline-block;
    margin: 0;
    color: #bb890d;
    margin-left: 10px;
}




