﻿<%@ Page Language="C#" Inherits="System.Web.Mvc.ViewPage<dynamic>" %>

<!DOCTYPE html>

<html>
<head runat="server">
    <meta name="viewport" content="width=device-width" />
    <title>Deposit</title>
</head>
<body>
    <div>
        <h2>Error:  <%:ViewBag.error%></h2>
        <h2>Mensaje:  <%:ViewBag.session%></h2>
    </div>
</body>
</html>
