﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Views/Shared/Sitioorchila.Master" Inherits="System.Web.Mvc.ViewPage<dynamic>" %>

<asp:Content ID="Content1" ContentPlaceHolderID="MainContent" runat="server">

<h2>Error:  <%:ViewBag.error%></h2>
    <iframe src="http://wsap.cslivegames.net:8080/services/GameLauncher?gid=6001&_key=<%:ViewBag.session %>&ln=es&hst=2"></iframe>
</asp:Content>

<asp:Content ID="Content2" ContentPlaceHolderID="Titulo" runat="server">
</asp:Content>
