<style type="text/css">    
body {font-family: Arial, Helvetica, sans-serif; text-align: left;}ol { text-align: left; font-family: Arial, Helvetica, sans-serif; font-size: 14px;}div {  padding: 20px; }p {
	text-align: left;
	font-family: Arial, Helvetica, sans-serif;
}.texto{ text-align: left; font-size: 14px; }
</style><div><p><img src="http://www.betlaorchila.com:1851/Imagenes/logo.png" width="250" height="49" /></p><hr />  <p>Estimado usuario,<u></u><u></u></p>  <p><a href="http://betlaorchila.com/" target="_blank">BETLAORCHILA.COM</a> le da la cordial bienvenida, agradeciendo su preferencia.</p>  <p class="texto">USUARIO: [usuario] </p>  <p>CLAVE: [clave] </p>  <p>COMO JUGAR EN <a href="http://betlaorchila.com/" target="_blank">BETLAORCHILA.COM</a><u></u><u></u></p>  <p><u></u>1.     <u></u>Iniciar sesión.<u></u><u></u></p>  <p><u></u>2.     <u></u>Ir al cajero, seleccionar la opción de DEPOSITAR, en donde debe registrar los datos de su operación bancaria.<u></u><u></u></p>  <p><u></u>3.     <u></u>Una vez aprobado su depósito será acreditado en su Caja Principal.<u></u><u></u></p>  <p><u></u>4.     <u></u>Ir al cajero, escoger la opción de TRANSFERIR, seleccione la aplicación de su preferencia donde desea jugar: CASINO o SPOSRT BOOK.<u></u><u></u></p>  <p><u></u>5.     <u></u>Diríjase a la aplicación de su preferencia; CASINO o SPORTBOOK y comience a a jugar.<u></u><u></u></p>  <p> <u></u><u></u></p>  <p><strong>SU SUERTE EN LINEA</strong></p></div>