﻿/**********************************

Use: cmxform template

***********************************/
form.cmxform fieldset {
        margin-bottom: 10px;
}

form.cmxform legend {
        padding: 0 2px;
        font-weight: bold;
        _margin: 0 -7px; /* IE Win */
}

form.cmxform label {
        display: inline-block;
        line-height: 1.8;
        vertical-align: top;
        cursor: hand;
}

form.cmxform fieldset p {
        list-style: none;
        padding: 5px;
        margin: 0;
}

form.cmxform fieldset fieldset {
        border: none;
        margin: 3px 0 0;
}

form.cmxform fieldset fieldset legend {
        padding: 0 0 5px;
        font-weight: normal;
}

form.cmxform fieldset fieldset label {
        display: block;
        width: auto;
}

form.cmxform label { width: 100px; } /* Width of labels */
form.cmxform fieldset fieldset label { margin-left: 103px; } /* Width plus 3 (html space) */
form.cmxform label.error {
        margin-left: 103px;
        width: 220px;
}

form.cmxform input.submit {
        margin-left: 103px;
}

/*\*//*/ form.cmxform legend { display: inline-block; } /* IE Mac legend fix */