

/* Your local CSS File */


@font-face {
    font-family: 'Abel';
    font-style: normal;
    font-weight: 700;
    src: local('Abel Bold'), local('Abel-Bold'), url("/Contenido/fonts/Abel/Abel-Regular.ttf") format('truetype');
}


/*@import url(https://fonts.googleapis.com/css?family=Abel);*/


html {
    position: relative;
    height: 100%;
}

body{
	padding-top:50px;
    background-image: url('../img/fondosorchila2.jpg');
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
	background-size: cover;
	overflow-x: hidden;
}

input:focus {
    border: 1px solid black;
}


.gral{
	text-align:center;
	padding-right: 0px;
	padding-left: 0px;
}

.div-int {
	height: 80px;
}

.foot {
	width: 100%;
	position: absolute;
	bottom: 0px;
	background-color: #303030;
	border-top: 3px solid #E82A52;
}

.padd {
	padding: 5px;
	border-right: 1px solid #fff;
}
.borde-right{
	border-left: 1px solid #fff;
}

.titulos {
	height: 50%;
}

.info-user {
	height: 80%;
	margin-left: 10px;
	margin-right: 10px;
}

.info {
    display: block;
}

.loading-amount {
    display: none;
    color: white;
    font-size: 21px;
    float: right;
    position: relative;
    top: 12px;
}

.h4edit {
	margin: 0px;
	padding-top: 10px;
	color:#fff;
}

@media screen and (max-width: 768px) {
    .padd {
        border-right: none;
		border-bottom: 1px solid #fff;
    }
	.borde-right{
	border-left: none;
	}
    /*
	.div-hidden{
		display: none;	
	} */
	body{
		background-image: url(/accest/img/fondosorchila2.jpg);
		background-repeat: no-repeat;
	}


}

.other {
    width: 100%;
    position: relative;
}
	
.sub-row {
    position: relative;
    top: 50px;
}

.cont-general {
    position:relative;
    margin-bottom: 20%;
    height: 100%;
	background-color: rgba(0, 0, 0, 0.7);
	-webkit-box-shadow: 17px 14px 53px -8px rgba(0,0,0,1);
	-moz-box-shadow: 17px 14px 53px -8px rgba(0,0,0,0.75);
	box-shadow: 17px 14px 53px -8px rgba(0,0,0,0.75);
    padding: 7% 0 7% 0;
}



.sub-info {
	width: 200px;
}

.sub-place {
	width: 350px;
}

.titulo {
	color: #fff;
	width: 80px;
	text-align: left;
	font-size: 16px;
	float: left;
	
}

.ancho {
	width: 80%;
	float: left;
}

.table-td {
	text-align:right;
    width: 24%;
	font-size: 13px;
	color: #fff;
}

.sub-table {
	width: 180px;
	text-align:right; 
	color: #fff;

}

.logo-bancos {
    position: relative;
	float: left;
	height: 100%;
	width: 30%;
}



.nuemeros-cuentas {
    position: relative;
	float: left;
	height: 100%;
	width: 70%;
}

.sub-cont-gral {
	padding-top: 0px;
	
}

.bancos {
	width: 100%;
	height: 16.65%;
	border-bottom: 1px solid #E82A52;
	background-color: #d3d3d3;
}

.sub-linea {
	border-bottom: none;
}

.cuentas {
	width: 100%;
	height: 16.65%;
	border-bottom: 1px solid #E82A52;
	
}

.banco-uno {
	background-image: url(../img/BOD.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.banco-dos {
	background-image: url(../img/banesco.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.banco-tres {
	background-image: url(../img/BBVA.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.banco-cuatro {
	background-image: url(../img/bcvenezuela.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.banco-cinco {
	background-image: url(../img/sofitasa.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.banco-seis {
	background-image: url(../img/bancaribe.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}


/*
@media screen and (max-width: 1366px) {
    .cont-general {
        height: 388px;
    }
}*/

/*
@media screen and (max-width: 1170px) {

    .cont-general {
        height: 388px;
        background-color: rgba(0, 0, 0, 0.7);
        box-shadow: 17px 14px 53px -8px rgba(0, 0, 0, 0.75);
        width: 80%;
        margin: auto;
    }

    
    .banco-uno, .banco-dos, .banco-tres, .banco-cuatro, .banco-cinco, .banco-seis {
        background-size: 95%;
    }
}
*/



@media screen and (max-width: 558px) {
	.logo-bancos{
		display: none;
	}
	.nuemeros-cuentas{
	    width: 100%;	
    }
    .banco-uno,.banco-dos,.banco-tres,.banco-cuatro,.banco-cinco,.banco-seis{
        background-size: 10%;
    }    
}
.titulos-cuentas {
	padding-top: 10px;
	margin: 0px;
	margin-left: 10px;
	text-align:left;
	color: #E82A52;

}

.numeros-cuentas {
	padding-top: 10px;
	margin: 0px;
	text-align: left;
	font-size: 18px;
	margin-left: 10px;
	color: #fff;

}

.bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) {
	width: 100%;
	
}
.estilo {
    position: relative;
    width: 90%;
    float: left;
    height: 36px;
    border-radius: 4px 4px 4px 4px;
    border: 0px solid #000000;
    padding: 6px 12px;
}


.columna {
    width: 100%;
}



/**MODALLL*/
.modal-content {
    background-color: black;
    border-radius: 0px;
    border: 3px solid  #04386A;
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
    margin-top: 120px;
}

.modal-header {
    border: 0px;
}

.modal-footer {
    border: 0px;
}
.modal-title {
    font-family: 'Abel';
    color: white !important; 
    text-align: center;
    font-size: 21px;
}

.close {
    color: white;
}

.modal-footer {
    text-align: center;
}
.boton-aceptar-modal {
    width: 108px;
    height: 35px;
    background-color:blue;
    background-image: url(../img/aceptarmodal-normal.png);
    border: 0px;
    border-radius: 5px;
    
}

.boton-aceptar-modal:hover {
    background-image: url(../img/aceptarmodal-hover.png);
    background-position: center;
}
.modal-body {
    font-family: 'Abel';
    color: white;
    font-size: 18px;
    text-align: center;
}

div#icono{
    width: 50px;
    height: 50px;
    margin: auto;
    margin-top: 18px;
    background-size: 100%;
}

.icono-mensaje-check {
    background-image: url(../img/check.png);
}

.icono-mensaje-cancel {
    background-image: url(../img/cancel.png);
}



table.my-input{
    position: relative;
    margin-bottom: 16px;
    width: 100%;
}

table.my-input tr[role=presentation] {
    position:relative;
    width: 100%;
}

table.my-input tr[role=presentation] td:nth-last-child(1){
    position:relative;
    width: 100%;
}



.my-button{
    position: relative;
    bottom: 32px;
    left: 10%;
}

.my-form{
    width: 90%;
    position: relative;
}

.navbar-toggle .my-icon-bar{
    width: 37px;
}


.my-button-up-open{
    background-image: url('../img/verSaldoAbajo.png');
    background-size: 100px 20px;
    background-repeat: no-repeat;
    background-position: 0px 11px;
    width: 97px;
    height: 40px;
}

.my-button-up{

    background-image: url('../img/verSaldoArriba.png');
    background-size: 100px 20px;
    background-repeat: no-repeat;
    background-position: 0px 11px;
    width: 97px;
    height: 40px;
}


.my-list{
    position: relative;
    width: 100%;
}

.my-list li {
    position: relative;
    width: 19.9%;
}

/*.my-list li{
    position:relative;
    width: 16.66666666666667%;
}*/

tr.names-responsive {
    display: none;
    position: relative;
    float: left;
    bottom: 2px;
}
tr.names-responsive td{
    color: #fff;
}

img.ui-datepicker-trigger {
    
    position: relative;
    top: 8px;
}

.message {
    position: relative;
    width: 100%;
}

tr.message td{
    color: red;
    position: relative;
    left: 28%;
    font-size: 12px;
    /* display: none; */
}

/*MESSAGE ERROR*/
.input-error {
    border: 2px solid #991717;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    padding: 6px 12px;
}

.input-error:focus {
    border: 2px solid #991717;
}


.input-error::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:#991717;
}
.input-error:-moz-placeholder {
    /* FF 4-18 */
    color: #991717;
}
.input-error::-moz-placeholder {
    /* FF 19+ */
    color: #991717;
}
.input-error:-ms-input-placeholder {
    /* IE 10+ */
    color: #991717;
}


@media (max-width: 768px){

    .my-form {
        width: 100%;
        top: 17px;
    }
    .table-td {
        display: none;
    }

    tr.names-responsive {
        display: block;
    }
}

@media screen and (max-width: 768px){
    body {
        background-image: url('../img/fondosorchila2.jpg');
    }

    .my-list li {
        position: relative;
        width: 100%;
    }

}


@media (max-width: 768px){

    .estilo{
        width: 85%;
        float: left;
    }

    img.ui-datepicker-trigger {        
        min-height: 31px;
        top: 0px;
    }


    tr.message td {
        position:relative;
        left:auto;
        float: left;
        top: 5px;
    }
    .my-button {
        left: 0%;
    }

    .cont-general {
        padding-bottom: 22px;
    }

}


.glyphicon-refresh-animate {
    -animation: spin .7s infinite linear;
    -webkit-animation: spin2 .7s infinite linear;
}

@-webkit-keyframes spin2 {
    from { -webkit-transform: rotate(0deg);}
    to { -webkit-transform: rotate(360deg);}
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg);}
    to { transform: scale(1) rotate(360deg);}
}



.my-container {
    position: fixed;
    width: 100%;
    bottom: 0px;
}

.my-navar {
    margin: 0;
}


button#transferir > span.ladda-label {
    z-index: 0;
}

.navbar-inverse .navbar-nav > li > a:focus, .navbar-inverse .navbar-nav > li > a:hover{
    outline:0;
}




table.my-input tr[role=myindex] {
    position:relative;
    width: 100%;
}

table.my-input tr[role=myindex]:nth-last-child(1){
    position:relative;
    width: 72%;
}


.only-td {
    position: relative;
    width: 28%;
}

.my-header{
    position: relative;
    left: 171px;
    margin: 0 auto;

}

@media (max-width: 992px) {
    .my-header {
        left: 0px;
    }
}