﻿@import url(https://fonts.googleapis.com/css?family=Abel);
body {
    margin: 0 auto;
    padding-top:50px;
    background-image: url('../img/fondosorchila2.jpg');
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
	background-size: cover;
	overflow-x: hidden;
    
}

div.my-row {
    position: relative;
    height: 271px;
}
div.alert-my{
    position:relative;
    height:100%;
    background-color:black;
    border: 2px solid #04386a;
    top: 15%;
}

.alert-my h2{ 
    color: white;
    font: 400 25px Abel;
}

.alert-my p {
    color: white;
    position:relative;
    font: 400 18px Abel;
    top: 15px;
}

.alert-my img {
    position:relative;
    top: 54px;
}



