body {
  min-width: none;
  height: 100%;
  min-height: nonepx;
  background: url('../Imagenes/fondosorchila(5).jpg') rgb(0, 0, 0);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  font: 400 1em/1.38 Helvetica;
  color: rgb(255, 255, 255);
  -webkit-transform: none;
  -moz-transform: none;
  -o-transform: none;
  -ms-transform: none;
  transform: none;
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  -ms-transition: none;
  transition: none;
  -webkit-filter: none;
  -moz-filter: none;
  -o-filter: none;
  -ms-filter: none;
  filter: none;
}

.batea {
  display: none;
  position: relative;
  float: left;
  clear: both;
  z-index: 100;
  width: 63.3333333333%;
  min-width: none;
  height: 516px;
  min-height: nonepx;
  margin: -147px 0 0 14.5%;
  border-top-style: solid;
  -webkit-transform: none;
  -moz-transform: none;
  -o-transform: none;
  -ms-transform: none;
  transform: none;
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  -ms-transition: none;
  transition: none;
  -webkit-filter: none;
  -moz-filter: none;
  -o-filter: none;
  -ms-filter: none;
  filter: none;
}

.batea .image {
  width: 100%;
  margin: 0 auto;
}

.cabecera {
  position: relative;
  float: left;
  z-index: 22;
  width: 100%;
  height: 92px;
  background-image: url('../Imagenes/barra3(8).jpg');
  background-repeat: repeat-x;
  background-size: contain;
  background-position: left top;
}

.cabecera .container {
  height: 91px;
}

.cabecera .element {
  float: left;
  width: 30.8401639344%;
  height: 67px;
  margin: 14px 0 0 1.06942%;
  background-image: url('../Imagenes/logo3(5).png');
  background-position: left top;
}

.cabecera .text {
  position: relative;
  float: left;
  clear: both;
  z-index: 19;
  width: 58.9449541284%;
  min-height: 46px;
  margin-left: 1.88578%;
  font-size: 1em;
  text-align: center;
  color: rgb(0, 0, 0);
}

.checkbox {
  display: block;
  float: left;
  width: 75.09%;
  min-width: none;
  min-height: nonepx;
  margin-top: 4px;
  -webkit-transform: none;
  -moz-transform: none;
  -o-transform: none;
  -ms-transform: none;
  transform: none;
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  -ms-transition: none;
  transition: none;
  -webkit-filter: none;
  -moz-filter: none;
  -o-filter: none;
  -ms-filter: none;
  filter: none;
}

.checkbox-label {
  display: block;
  position: relative;
  float: left;
  clear: both;
  width: 7.5585140648%;
  min-width: none;
  height: 20px;
  min-height: nonepx;
  margin-top: 11px;
  -webkit-transform: none;
  -moz-transform: none;
  -o-transform: none;
  -ms-transform: none;
  transform: none;
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  -ms-transition: none;
  transition: none;
  -webkit-filter: none;
  -moz-filter: none;
  -o-filter: none;
  -ms-filter: none;
  filter: none;
}

.container .container {
  min-width: none;
  min-height: nonepx;
  -webkit-transform: none;
  -moz-transform: none;
  -o-transform: none;
  -ms-transform: none;
  transform: none;
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  -ms-transition: none;
  transition: none;
  -webkit-filter: none;
  -moz-filter: none;
  -o-filter: none;
  -ms-filter: none;
  filter: none;
}

.container- .element {
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgba(222, 222, 222, 0);
}

.container- .image {
  position: relative;
  float: right;
  width: 35px;
  min-width: none;
  min-height: nonepx;
  -webkit-transform: none;
  -moz-transform: none;
  -o-transform: none;
  -ms-transform: none;
  transform: none;
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  -ms-transition: none;
  transition: none;
  -webkit-filter: none;
  -moz-filter: none;
  -o-filter: none;
  -ms-filter: none;
  filter: none;
}

.container- .text {
  font-weight: 400;
  line-height: 1.38;
}

.container-inputs {
  float: left;
  clear: both;
  width: 96.357615894%;
  min-width: none;
  height: 301px;
  min-height: nonepx;
  margin: 7px 0 0 1.65563%;
  -webkit-transform: none;
  -moz-transform: none;
  -o-transform: none;
  -ms-transform: none;
  transform: none;
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  -ms-transition: none;
  transition: none;
  -webkit-filter: none;
  -moz-filter: none;
  -o-filter: none;
  -ms-filter: none;
  filter: none;
}

.container-inputs .checkbox {
  margin-left: 13.57498%;
}

.container-inputs .checkbox-label {
  z-index: 85;
}

.container-inputs .text {
  position: relative;
  float: left;
  clear: both;
  z-index: 86;
  width: 94.08%;
  min-height: 16px;
  margin: -16px 0 0 7.53906%;
  font-size: 0.688em;
  font-weight: 400;
  line-height: 1.38;
  color: rgb(255, 255, 255);
}

.container-inputs- {
  float: left;
  clear: both;
  width: 96.357615894%;
  min-width: none;
  height: 301px;
  min-height: nonepx;
  margin-top: 100px;
  -webkit-transform: none;
  -moz-transform: none;
  -o-transform: none;
  -ms-transform: none;
  transform: none;
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  -ms-transition: none;
  transition: none;
  -webkit-filter: none;
  -moz-filter: none;
  -o-filter: none;
  -ms-filter: none;
  filter: none;
}

.container-inputs- .checkbox {
  margin-left: 13.50391%;
}

.container-inputs- .checkbox-label {
  z-index: 60;
}

.container-inputs- .text {
  position: relative;
  float: left;
  clear: both;
  z-index: 61;
  width: 94.08%;
  min-height: 16px;
  margin: -16px 0 0 7.52833%;
  font-size: 0.688em;
  color: rgb(255, 255, 255);
}

.image {
  display: block;
  height: auto;
  overflow: hidden;
}

.img {
  display: none;
  position: relative;
  float: left;
  clear: both;
  z-index: 68;
  width: 100%;
  height: auto;
  margin-top: 80px;
  overflow: hidden;
}

.login-movil {
  display: none;
  position: relative;
  float: left;
  clear: both;
  z-index: 12;
  width: 64%;
  min-width: none;
  min-height: nonepx;
  margin: -279px 0 0 15.82422%;
  -webkit-transform: none;
  -moz-transform: none;
  -o-transform: none;
  -ms-transform: none;
  transform: none;
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  -ms-transition: none;
  transition: none;
  -webkit-filter: none;
  -moz-filter: none;
  -o-filter: none;
  -ms-filter: none;
  filter: none;
}

.login-movil .container {
  float: left;
  width: 100%;
}

.login-movil .text {
  color: rgb(255, 255, 255);
}

.panel-principal {
  /*width: 80%;*/
  max-width: 960px;
  /*height: 405px;*/
  margin: 92px auto 0;
}

.panel-principal .element {
    /* width: 100%; */
    /* height: 372px; */
    /*margin: 0px auto 0px;*/
    /* background-image: url('../Imagenes/2(2).png'); */
    background-position: center top;
}

.please {
  float: left;
  width: 304px;
  min-width: none;
  height: 407px;
  min-height: nonepx;
  margin: -580px 0 0 57.39844%;
  border: 1px solid rgb(7, 63, 132);
  background-color: rgb(0, 0, 0);
  -webkit-transform: none;
  -moz-transform: none;
  -o-transform: none;
  -ms-transform: none;
  transform: none;
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  -ms-transition: none;
  transition: none;
  -webkit-filter: none;
  -moz-filter: none;
  -o-filter: none;
  -ms-filter: none;
  filter: none;
}

.please .container {
  position: relative;
  float: left;
  min-width: none;
  min-height: nonepx;
  -webkit-transform: none;
  -moz-transform: none;
  -o-transform: none;
  -ms-transform: none;
  transform: none;
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  -ms-transition: none;
  transition: none;
  -webkit-filter: none;
  -moz-filter: none;
  -o-filter: none;
  -ms-filter: none;
  filter: none;
}

.recuperar-contrasena {
  display: none;
  position: relative;
  float: left;
  clear: both;
  z-index: 44;
  width: 304px;
  min-width: none;
  height: 146px;
  min-height: nonepx;
  margin: -225px 0 0 398px;
  border: 1px solid rgb(7, 63, 132);
  background-color: rgb(0, 0, 0);
  -webkit-transform: none;
  -moz-transform: none;
  -o-transform: none;
  -ms-transform: none;
  transform: none;
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  -ms-transition: none;
  transition: none;
  -webkit-filter: none;
  -moz-filter: none;
  -o-filter: none;
  -ms-filter: none;
  filter: none;
}

.recuperar-contrasena .container {
  min-width: none;
  min-height: nonepx;
  -webkit-transform: none;
  -moz-transform: none;
  -o-transform: none;
  -ms-transform: none;
  transform: none;
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  -ms-transition: none;
  transition: none;
  -webkit-filter: none;
  -moz-filter: none;
  -o-filter: none;
  -ms-filter: none;
  filter: none;
}

.recuperar-contrasena .text {
  margin-right: auto;
  margin-left: auto;
}

.registrouu {
  display: none;
  position: relative;
  float: left;
  clear: both;
  z-index: 92;
  width: 304px;
  min-width: none;
  height: 407px;
  min-height: nonepx;
  margin: 115px 0 0 35.33203%;
  border: 1px solid rgb(7, 63, 132);
  background-color: rgb(0, 0, 0);
  -webkit-transform: none;
  -moz-transform: none;
  -o-transform: none;
  -ms-transform: none;
  transform: none;
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  -ms-transition: none;
  transition: none;
  -webkit-filter: none;
  -moz-filter: none;
  -o-filter: none;
  -ms-filter: none;
  filter: none;
}

.registrouu .container {
  position: relative;
  float: left;
}

.text {
  min-width: none;
  background-color: rgba(0, 0, 0, 0);
  -webkit-transform: none;
  -moz-transform: none;
  -o-transform: none;
  -ms-transform: none;
  transform: none;
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  -ms-transition: none;
  transition: none;
  -webkit-filter: none;
  -moz-filter: none;
  -o-filter: none;
  -ms-filter: none;
  filter: none;
}

.topmovil {
  visibility: hidden;
  position: relative;
  float: left;
  clear: both;
  z-index: 28;
  width: 32.2578125%;
  min-width: none;
  height: 77px;
  min-height: nonepx;
  margin: -91px 0 0 25.14063%;
  background-image: url('../Imagenes/barra3(4).jpg');
  background-repeat: repeat-x;
  background-size: auto auto;
  background-position: center center;
  -webkit-transform: none;
  -moz-transform: none;
  -o-transform: none;
  -ms-transform: none;
  transform: none;
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  -ms-transition: none;
  transition: none;
  -webkit-filter: none;
  -moz-filter: none;
  -o-filter: none;
  -ms-filter: none;
  filter: none;
}

.topmovil .container {
  visibility: hidden;
  float: left;
  width: 12.1861629127%;
  height: 42px;
  margin: 19px 0 0 18.60822%;
  border: 2px solid rgb(76, 46, 0);
  border-radius: 5px;
}

.topmovil .element {
  float: left;
  width: 71.4285714285%;
  min-width: none;
  height: 7px;
  min-height: nonepx;
  margin-left: 14.29606%;
  border-style: solid;
  background-color: rgb(57, 35, 2);
  -webkit-transform: none;
  -moz-transform: none;
  -o-transform: none;
  -ms-transform: none;
  transform: none;
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  -ms-transition: none;
  transition: none;
  -webkit-filter: none;
  -moz-filter: none;
  -o-filter: none;
  -ms-filter: none;
  filter: none;
}

.topmovil .image {
  float: left;
  width: 175px;
  min-width: none;
  min-height: nonepx;
  margin: 19px 0 0 4.67426%;
  -webkit-transform: none;
  -moz-transform: none;
  -o-transform: none;
  -ms-transform: none;
  transform: none;
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  -ms-transition: none;
  transition: none;
  -webkit-filter: none;
  -moz-filter: none;
  -o-filter: none;
  -ms-filter: none;
  filter: none;
}

._button {
  display: block;
  border-style: solid;
  font-weight: 400;
  line-height: 1.38;
  text-align: center;
  color: rgb(255, 255, 255);
}

._input {
  display: block;
  min-width: none;
  min-height: nonepx;
  padding: 0 10px;
  background-color: rgb(242, 242, 242);
  font-size: 0.813em;
  font-weight: 400;
  line-height: 1.38;
  color: rgb(0, 0, 0);
  -webkit-transform: none;
  -moz-transform: none;
  -o-transform: none;
  -ms-transform: none;
  transform: none;
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  -ms-transition: none;
  transition: none;
  -webkit-filter: none;
  -moz-filter: none;
  -o-filter: none;
  -ms-filter: none;
  filter: none;
}

._select {
  display: block;
  position: relative;
  width: 49%;
  min-width: none;
  height: 23px;
  min-height: nonepx;
  margin-top: 13px;
  padding-left: 10px;
  border-style: none;
  background: url('../Imagenes/select-arrows.svg') rgb(242, 242, 242);
  background-repeat: no-repeat;
  background-size: auto auto;
  background-position: right center;
  font-size: 0.75em;
  font-weight: 400;
  line-height: 1.38;
  color: rgb(0, 0, 0);
  -webkit-transform: none;
  -moz-transform: none;
  -o-transform: none;
  -ms-transform: none;
  transform: none;
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  -ms-transition: none;
  transition: none;
  -webkit-filter: none;
  -moz-filter: none;
  -o-filter: none;
  -ms-filter: none;
  filter: none;
}

.cabecera ._button {
  float: right;
  width: 25.4587155963%;
  height: 30px;
  margin: 10px 11.88424% 0 0;
  border-width: 2px;
  border-color: rgb(59, 117, 209);
  border-radius: 5px;
  background: rgb(0, 0, 0);
  background: none, -webkit-linear-gradient(90deg, rgb(0, 0, 0) 0%, rgb(0, 0, 0) 0%, rgb(0, 0, 0) 0%, rgb(14, 13, 159) 100%) rgb(24, 59, 169);
  background: none,    -moz-linear-gradient(90deg, rgb(0, 0, 0) 0%, rgb(0, 0, 0) 0%, rgb(0, 0, 0) 0%, rgb(14, 13, 159) 100%) rgb(24, 59, 169);
  background: none,      -o-linear-gradient(90deg, rgb(0, 0, 0) 0%, rgb(0, 0, 0) 0%, rgb(0, 0, 0) 0%, rgb(14, 13, 159) 100%) rgb(24, 59, 169);
  background: none,     -ms-linear-gradient(90deg, rgb(0, 0, 0) 0%, rgb(0, 0, 0) 0%, rgb(0, 0, 0) 0%, rgb(14, 13, 159) 100%) rgb(24, 59, 169);
  background: none,         linear-gradient(360deg, rgb(0, 0, 0) 0%, rgb(0, 0, 0) 0%, rgb(0, 0, 0) 0%, rgb(14, 13, 159) 100%) rgb(24, 59, 169);
  background-repeat: repeat, repeat;
  background-size: 100% 100%, 100% 100%;
  background-position: 0% 0%, 0% 0%;
  background-attachment: scroll, scroll;
  font-style: normal;
  font-size: 1em;
}

.cabecera ._button:hover {
  background-image: -webkit-linear-gradient(90deg, rgb(14, 13, 159) 0%, rgb(0, 0, 0) 100%), none;
  background-image:    -moz-linear-gradient(90deg, rgb(14, 13, 159) 0%, rgb(0, 0, 0) 100%), none;
  background-image:      -o-linear-gradient(90deg, rgb(14, 13, 159) 0%, rgb(0, 0, 0) 100%), none;
  background-image:     -ms-linear-gradient(90deg, rgb(14, 13, 159) 0%, rgb(0, 0, 0) 100%), none;
  background-image:         linear-gradient(360deg, rgb(14, 13, 159) 0%, rgb(0, 0, 0) 100%), none;
}

.cabecera ._input {
  position: relative;
  float: left;
  width: 28.8990825688%;
  height: 32px;
  margin-top: 8px;
}

.container ._button {
  min-width: none;
  min-height: nonepx;
  -webkit-transform: none;
  -moz-transform: none;
  -o-transform: none;
  -ms-transform: none;
  transform: none;
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  -ms-transition: none;
  transition: none;
  -webkit-filter: none;
  -moz-filter: none;
  -o-filter: none;
  -ms-filter: none;
  filter: none;
}

.container-inputs ._input,
.container-inputs- ._input {
  width: 49%;
  height: 23px;
  margin-top: 13px;
}

.login-movil ._button {
  position: relative;
  float: right;
  z-index: 2;
  width: 25.6249999999%;
  max-width: 100px;
  height: 31px;
  margin: 6px 6.08724% 0 0;
  border-width: 2px;
  border-color: rgb(0, 135, 161);
  border-radius: 3px;
  background: rgb(4, 4, 128);
  background: -webkit-linear-gradient(266deg, rgb(4, 4, 128) 0%, rgb(0, 6, 36) 100%) rgb(222, 222, 222);
  background:    -moz-linear-gradient(266deg, rgb(4, 4, 128) 0%, rgb(0, 6, 36) 100%) rgb(222, 222, 222);
  background:      -o-linear-gradient(266deg, rgb(4, 4, 128) 0%, rgb(0, 6, 36) 100%) rgb(222, 222, 222);
  background:     -ms-linear-gradient(266deg, rgb(4, 4, 128) 0%, rgb(0, 6, 36) 100%) rgb(222, 222, 222);
  background:         linear-gradient(184deg, rgb(4, 4, 128) 0%, rgb(0, 6, 36) 100%) rgb(222, 222, 222);
  font-size: 0.875em;
}

.login-movil ._input {
  width: 90.06%;
  height: 34px;
  margin-right: auto;
  margin-left: auto;
}

.panel-principal ._button {
  position: relative;
  float: left;
  height: 51px;
  border-width: 1px;
  border-color: rgb(0, 0, 0);
  border-radius: 3px;
  background: rgb(0, 0, 0);
  background: none, -webkit-linear-gradient(90deg, rgb(0, 0, 0) 0%, rgb(0, 0, 0) 16.904761904761905%, rgb(24, 59, 169) 100%) rgb(24, 59, 169);
  background: none,    -moz-linear-gradient(90deg, rgb(0, 0, 0) 0%, rgb(0, 0, 0) 16.904761904761905%, rgb(24, 59, 169) 100%) rgb(24, 59, 169);
  background: none,      -o-linear-gradient(90deg, rgb(0, 0, 0) 0%, rgb(0, 0, 0) 16.904761904761905%, rgb(24, 59, 169) 100%) rgb(24, 59, 169);
  background: none,     -ms-linear-gradient(90deg, rgb(0, 0, 0) 0%, rgb(0, 0, 0) 16.904761904761905%, rgb(24, 59, 169) 100%) rgb(24, 59, 169);
  background: none,         linear-gradient(360deg, rgb(0, 0, 0) 0%, rgb(0, 0, 0) 16.904761904761905%, rgb(24, 59, 169) 100%) rgb(24, 59, 169);
  background-repeat: repeat, repeat;
  background-size: 100% 100%, 100% 100%;
  background-position: 0% 0%, 0% 0%;
  background-attachment: scroll, scroll;
  font-size: 1.063em;
}

.panel-principal ._button:hover {
  background-image: -webkit-linear-gradient(90deg, rgb(46, 46, 46) 0%, rgb(46, 46, 46) 21.666666666666668%, rgb(175, 177, 152) 100%), -webkit-linear-gradient(90deg, rgb(0, 0, 0) 0%, rgb(0, 0, 0) 16.904761904761905%, rgb(24, 59, 169) 100%);
  background-image:    -moz-linear-gradient(90deg, rgb(46, 46, 46) 0%, rgb(46, 46, 46) 21.666666666666668%, rgb(175, 177, 152) 100%),    -moz-linear-gradient(90deg, rgb(0, 0, 0) 0%, rgb(0, 0, 0) 16.904761904761905%, rgb(24, 59, 169) 100%);
  background-image:      -o-linear-gradient(90deg, rgb(46, 46, 46) 0%, rgb(46, 46, 46) 21.666666666666668%, rgb(175, 177, 152) 100%),      -o-linear-gradient(90deg, rgb(0, 0, 0) 0%, rgb(0, 0, 0) 16.904761904761905%, rgb(24, 59, 169) 100%);
  background-image:     -ms-linear-gradient(90deg, rgb(46, 46, 46) 0%, rgb(46, 46, 46) 21.666666666666668%, rgb(175, 177, 152) 100%),     -ms-linear-gradient(90deg, rgb(0, 0, 0) 0%, rgb(0, 0, 0) 16.904761904761905%, rgb(24, 59, 169) 100%);
  background-image:         linear-gradient(360deg, rgb(46, 46, 46) 0%, rgb(46, 46, 46) 21.666666666666668%, rgb(175, 177, 152) 100%),         linear-gradient(360deg, rgb(0, 0, 0) 0%, rgb(0, 0, 0) 16.904761904761905%, rgb(24, 59, 169) 100%);
}

.panel-principal ._button:focus {
  background: none, none rgb(0, 0, 0);
}

.please ._button {
  width: 117px;
  min-width: none;
  height: 27px;
  min-height: nonepx;
  margin: 533px auto 0;
  border-width: 1px;
  border-color: rgb(0, 135, 161);
  border-radius: 4px;
  background: rgb(4, 4, 128);
  background: -webkit-linear-gradient(270deg, rgb(4, 4, 128) 0%, rgb(0, 0, 0) 100%) rgb(222, 222, 222);
  background:    -moz-linear-gradient(270deg, rgb(4, 4, 128) 0%, rgb(0, 0, 0) 100%) rgb(222, 222, 222);
  background:      -o-linear-gradient(270deg, rgb(4, 4, 128) 0%, rgb(0, 0, 0) 100%) rgb(222, 222, 222);
  background:     -ms-linear-gradient(270deg, rgb(4, 4, 128) 0%, rgb(0, 0, 0) 100%) rgb(222, 222, 222);
  background:         linear-gradient(180deg, rgb(4, 4, 128) 0%, rgb(0, 0, 0) 100%) rgb(222, 222, 222);
  font-size: 1em;
  -webkit-transform: none;
  -moz-transform: none;
  -o-transform: none;
  -ms-transform: none;
  transform: none;
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  -ms-transition: none;
  transition: none;
  -webkit-filter: none;
  -moz-filter: none;
  -o-filter: none;
  -ms-filter: none;
  filter: none;
}

.recuperar-contrasena ._button {
  float: right;
  clear: both;
  width: 26.8211920529%;
  min-width: none;
  height: 23px;
  min-height: nonepx;
  margin: 17px 3.31126% 0 0;
  border-width: 1px;
  border-color: rgb(0, 135, 161);
  border-radius: 4px;
  background: rgb(4, 4, 128);
  background: -webkit-linear-gradient(270deg, rgb(4, 4, 128) 0%, rgb(0, 0, 0) 100%) rgb(222, 222, 222);
  background:    -moz-linear-gradient(270deg, rgb(4, 4, 128) 0%, rgb(0, 0, 0) 100%) rgb(222, 222, 222);
  background:      -o-linear-gradient(270deg, rgb(4, 4, 128) 0%, rgb(0, 0, 0) 100%) rgb(222, 222, 222);
  background:     -ms-linear-gradient(270deg, rgb(4, 4, 128) 0%, rgb(0, 0, 0) 100%) rgb(222, 222, 222);
  background:         linear-gradient(180deg, rgb(4, 4, 128) 0%, rgb(0, 0, 0) 100%) rgb(222, 222, 222);
  font-size: 1em;
  -webkit-transform: none;
  -moz-transform: none;
  -o-transform: none;
  -ms-transform: none;
  transform: none;
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  -ms-transition: none;
  transition: none;
  -webkit-filter: none;
  -moz-filter: none;
  -o-filter: none;
  -ms-filter: none;
  filter: none;
}

.recuperar-contrasena ._input {
  float: left;
  clear: both;
  width: 92.715231788%;
  height: 24px;
  margin: 9px 0 0 3.97351%;
}

.registrouu ._button {
  width: 117px;
  height: 27px;
  margin: 367px auto 0;
  border-width: 1px;
  border-color: rgb(0, 135, 161);
  border-radius: 4px;
  background: rgb(4, 4, 128);
  background: -webkit-linear-gradient(270deg, rgb(4, 4, 128) 0%, rgb(0, 0, 0) 100%) rgb(222, 222, 222);
  background:    -moz-linear-gradient(270deg, rgb(4, 4, 128) 0%, rgb(0, 0, 0) 100%) rgb(222, 222, 222);
  background:      -o-linear-gradient(270deg, rgb(4, 4, 128) 0%, rgb(0, 0, 0) 100%) rgb(222, 222, 222);
  background:     -ms-linear-gradient(270deg, rgb(4, 4, 128) 0%, rgb(0, 0, 0) 100%) rgb(222, 222, 222);
  background:         linear-gradient(180deg, rgb(4, 4, 128) 0%, rgb(0, 0, 0) 100%) rgb(222, 222, 222);
  font-size: 1em;
}

.container-1 {
  z-index: 46;
  width: 53.9735099337%;
  height: 23px;
  margin: 9px 0 0 3.31126%;
}

.container-11 {
  height: 150px;
}

.container-12 {
  clear: both;
  height: 367px;
  margin-top: 6px;
}

.container-13 {
  float: right;
  width: 9.26%;
  height: 27px;
  margin: -1px 3.31126% 0 0;
  border: 1px solid rgb(0, 0, 0);
  background-color: rgb(182, 172, 172);
}

.container-14 {
  width: 86.0927152317%;
  height: 23px;
  margin: 36px auto 0;
}

.container-16 {
  z-index: 71;
  width: 53.9735099337%;
  height: 23px;
  margin: 9px 0 0 3.31126%;
}

.container-17 {
  z-index: 91;
  width: 9.26%;
  height: 27px;
  margin-top: -1px;
  border: 1px solid rgb(0, 0, 0);
  background-color: rgb(182, 172, 172);
}

.container-2 {
  z-index: 66;
  width: 9.26%;
  height: 27px;
  margin-top: -1px;
  border: 1px solid rgb(0, 0, 0);
  background-color: rgb(182, 172, 172);
}

.container-3 {
  /*width: 81.3333333333%;*/
  max-width: 976px;
  margin: 0 auto;
}

.container-4 {
  float: right;
  width: 406px;
  margin-right: 0.31218%;
}

.container-7 {
    position: relative;
    clear: both;
    z-index: 96;
    width: 100%;
    max-width: 990px;
    height: 122px;
    margin-top: -17px;
    background-color: rgba(250, 235, 215, 0);
    /* padding-top: 0px; */
}

.container-8 {
  position: relative;
  float: left;
  clear: both;
  z-index: 69;
  width: 100%;
  height: 74px;
  margin-top: 236px;
  background: url('../Imagenes/barra_inferior_licencias(7)-992x54-1.png') rgb(0, 0, 0);
  background-repeat: no-repeat;
  background-size: initial; 
  background-position: center center;
}

.element-2 {
  margin-top: 5px;
}

.element-3,
.element-4 {
  clear: both;
  margin-top: 4px;
}

.element-6 {
    position: relative;
    float: left;
    z-index: 93;
    width: 39%;
    height: 122px;
    margin-left: -14px;
    background: none, url('../Imagenes/01-normal(7).png') rgba(222, 222, 222, 0);
    /* background-repeat: repeat, no-repeat; */
    background-size: auto auto, contain;
    background-position: left top, left top;
    background-attachment: scroll, scroll;
}
.element-6:hover {
  background-image: url('../Imagenes/01-hover(5).png'), none;
  background-repeat: repeat-x, no-repeat;
  background-size: contain, contain;
}

.element-6:active {
  background-image: url('../Imagenes/01-hover(5).png'), none;
  background-repeat: no-repeat, no-repeat;
  background-size: contain, contain;
}

.element-7 {
    position: relative;
    /* float: left; */
    /* clear: both; */
    z-index: 94;
    width: 40.1%;
    height: 122px;
    margin: 0px 0 0 30%;
    background: none, url('../Imagenes/02-normal(2).png') rgba(222, 222, 222, 0);
    background-repeat: repeat, no-repeat;
    background-size: auto auto, contain;
    background-position: left top, left top;
    background-attachment: scroll, scroll;
}

.element-7:hover {
  background-image: url('../Imagenes/02-hover(8).png'), none;
  background-repeat: no-repeat, no-repeat;
  background-size: contain, contain;
}

.element-8 {
    position: relative;
    /* float: right; */
    /* z-index: 95; */
    width: 40%;
    height: 122px;
    margin: -122px 0 0 61.7%;
    background: none, url('../Imagenes/03-normal(2).png') rgba(222, 222, 222, 0);
    background-repeat: repeat, no-repeat;
    background-size: auto auto, contain;
    background-position: left top, left top;
    background-attachment: scroll, scroll;
}
.element-8:hover {
  background-image: url('../Imagenes/03-hover(3).png'), none;
  background-repeat: no-repeat, no-repeat;
  background-size: contain, contain;
}

.element-7:active,
.element-8:active {
  background-image: none, none;
}

.image-1 {
  cursor: pointer;
  clear: both;
  z-index: 18;
  margin-top: -32px;
}

.image-2 {
  cursor: pointer;
  z-index: 17;
  margin-top: 3px;
}

.text-1 {
  float: left;
  width: 88.9570552147%;
  min-height: 16px;
  margin-left: auto;
  font-size: 0.875em;
  color: rgb(255, 255, 255);
}

.text-10,
.text-11,
.text-7,
.text-8 {
  width: 89.0625%;
  min-height: 53px;
  margin: 7px auto 0;
  border-style: none;
  background-image: -webkit-linear-gradient(270deg, rgb(0, 4, 161) 0%, rgb(0, 0, 0) 100%);
  background-image:    -moz-linear-gradient(270deg, rgb(0, 4, 161) 0%, rgb(0, 0, 0) 100%);
  background-image:      -o-linear-gradient(270deg, rgb(0, 4, 161) 0%, rgb(0, 0, 0) 100%);
  background-image:     -ms-linear-gradient(270deg, rgb(0, 4, 161) 0%, rgb(0, 0, 0) 100%);
  background-image:         linear-gradient(180deg, rgb(0, 4, 161) 0%, rgb(0, 0, 0) 100%);
  font-style: normal;
  font-size: 1em;
  line-height: 2.88;
  text-align: center;
}

.text-12 {
  width: 68.3950617283%;
  min-height: 18px;
  margin-top: 2px;
  font-size: 1em;
  text-align: center;
  color: rgb(0, 113, 224);
}

.text-13 {
  width: 95.3846153846%;
  min-height: 16px;
  font-size: 0.875em;
  color: rgb(255, 255, 255);
}

.text-14 {
  float: left;
  width: 88.9570552147%;
  min-height: 16px;
  margin-left: auto;
  font-size: 0.875em;
  font-weight: 400;
  line-height: 1.38;
  color: rgb(255, 255, 255);
}

.text-15 {
  width: 65.5027092113%;
  min-height: 18px;
  margin: 2px auto 0;
  font-size: 1em;
  font-weight: 400;
  line-height: 1.38;
  text-align: center;
  color: rgb(0, 113, 224);
}

.text-2 {
  width: 65.5027092113%;
  min-height: 18px;
  margin: 2px auto 0;
  font-size: 1em;
  text-align: center;
  color: rgb(0, 113, 224);
}

.text-5 {
  position: relative;
  float: left;
  clear: both;
  z-index: 1;
  width: 62.1874999999%;
  min-height: 27px;
  margin: 6px 0 0 5.4667199999%;
  font-size: 0.875em;
  font-weight: 400;
  line-height: 1.38;
}

.text-6 {
  width: 89.0625%;
  min-height: 53px;
  margin: 6px auto 0;
  border-style: none;
  background-image: -webkit-linear-gradient(270deg, rgb(0, 4, 161) 0%, rgb(0, 0, 0) 100%);
  background-image:    -moz-linear-gradient(270deg, rgb(0, 4, 161) 0%, rgb(0, 0, 0) 100%);
  background-image:      -o-linear-gradient(270deg, rgb(0, 4, 161) 0%, rgb(0, 0, 0) 100%);
  background-image:     -ms-linear-gradient(270deg, rgb(0, 4, 161) 0%, rgb(0, 0, 0) 100%);
  background-image:         linear-gradient(180deg, rgb(0, 4, 161) 0%, rgb(0, 0, 0) 100%);
  font-style: normal;
  font-size: 1em;
  line-height: 2.88;
  text-align: center;
}

.text-9 {
  width: 89.0625%;
  min-height: 53px;
  margin: 8px auto 0;
  border-style: none;
  background-image: -webkit-linear-gradient(270deg, rgb(0, 4, 161) 0%, rgb(0, 0, 0) 100%);
  background-image:    -moz-linear-gradient(270deg, rgb(0, 4, 161) 0%, rgb(0, 0, 0) 100%);
  background-image:      -o-linear-gradient(270deg, rgb(0, 4, 161) 0%, rgb(0, 0, 0) 100%);
  background-image:     -ms-linear-gradient(270deg, rgb(0, 4, 161) 0%, rgb(0, 0, 0) 100%);
  background-image:         linear-gradient(180deg, rgb(0, 4, 161) 0%, rgb(0, 0, 0) 100%);
  font-style: normal;
  font-size: 1em;
  line-height: 2.88;
  text-align: center;
}

.container ._input-12 {
  z-index: 14;
  margin-left: 1.85499%;
}

.container ._input-13 {
  z-index: 15;
  margin-left: 0.9198%;
}

.container ._input-14 {
  margin-top: 11px;
}

.container ._input-15 {
  margin-top: 5px;
}

.container- ._button-3 {
  z-index: 29;
  width: 14.0625%;
  margin: 1px 0 0 -0.10417%;
}

.container- ._button-4 {
  z-index: 36;
  width: 14.0625%;
  margin-left: 0.20671%;
}

.container- ._button-5 {
  z-index: 30;
  width: 14.0625%;
  margin: 1px 0 0 0.3125%;
}

.container- ._button-6 {
  z-index: 31;
  width: 14.0625%;
  margin: 1px 0 0 0.20671%;
}

.container- ._button-7 {
  z-index: 32;
  width: 14.1666666666%;
  margin: 1px 0 0 0.3125%;
}

.container- ._button-8 {
  z-index: 33;
  width: 14.1666666666%;
  margin: 1px 0 0 0.10417%;
}

.container- ._button-9 {
  z-index: 34;
  width: 14.1666666666%;
  margin: 1px 0 0 0.20671%;
}

.container-inputs ._input-17 {
  position: relative;
  float: left;
  z-index: 72;
}

.container-inputs ._input-18 {
  position: relative;
  float: right;
  z-index: 73;
}

.container-inputs ._input-19 {
  position: relative;
  float: left;
  clear: both;
  z-index: 74;
}

.container-inputs ._input-20 {
  position: relative;
  float: right;
  z-index: 78;
}

.container-inputs ._input-21 {
  position: relative;
  float: left;
  clear: both;
  z-index: 75;
}

.container-inputs ._input-22 {
  position: relative;
  float: right;
  z-index: 76;
}

.container-inputs ._input-23 {
  position: relative;
  float: left;
  clear: both;
  z-index: 79;
}

.container-inputs ._input-24 {
  position: relative;
  float: right;
  z-index: 80;
}

.container-inputs ._input-25 {
  position: relative;
  float: left;
  clear: both;
  z-index: 81;
}

.container-inputs ._input-26 {
  position: relative;
  float: right;
  z-index: 82;
}

.container-inputs ._input-27,
.container-inputs- ._input-11 {
  float: left;
  clear: both;
}

.container-inputs ._select-3 {
  float: left;
  clear: both;
  z-index: 77;
}

.container-inputs ._select-4 {
  float: right;
  z-index: 87;
}

.container-inputs- ._input-1 {
  position: relative;
  float: left;
  z-index: 47;
}

.container-inputs- ._input-10 {
  position: relative;
  float: right;
  z-index: 57;
}

.container-inputs- ._input-2 {
  position: relative;
  float: right;
  z-index: 48;
}

.container-inputs- ._input-3 {
  position: relative;
  float: left;
  clear: both;
  z-index: 49;
}

.container-inputs- ._input-4 {
  position: relative;
  float: right;
  z-index: 53;
}

.container-inputs- ._input-5 {
  position: relative;
  float: left;
  clear: both;
  z-index: 50;
}

.container-inputs- ._input-6 {
  position: relative;
  float: right;
  z-index: 51;
}

.container-inputs- ._input-7 {
  position: relative;
  float: left;
  clear: both;
  z-index: 54;
}

.container-inputs- ._input-8 {
  position: relative;
  float: right;
  z-index: 55;
}

.container-inputs- ._input-9 {
  position: relative;
  float: left;
  clear: both;
  z-index: 56;
}

.container-inputs- ._select-1 {
  float: left;
  clear: both;
  z-index: 52;
}

.container-inputs- ._select-2 {
  float: right;
  z-index: 62;
}

@media(max-width: 992px) {
  .batea {
    position: relative;
    z-index: 100;
    width: 100%;
    height: 520px;
    margin-top: -130px;
    margin-left: -0.90726%;
  }

  .cabecera {
    z-index: 22;
    height: 77px;
  }

  .cabecera .container {
    height: 77px;
  }

  .cabecera .element {
    width: 34.5132743362%;
    margin-top: 13px;
    margin-left: 0;
  }

  .cabecera .text {
    position: relative;
    float: right;
    z-index: 19;
    width: 61.6279069767%;
    margin-right: 36.5116299999%;
    margin-left: 0;
  }

  .container .image {
    height: auto;
  }

  .container- {
    position: relative;
    height: 92px;  
  }

  .container- .container-inputs- {
    margin-top: 7px;
    margin-left: 1.65563%;
  }

  .container- .image {
    position: relative;
    width: 33px;
  }

  .container-inputs .checkbox-label {
    position: relative;
    z-index: 85;
  }

  .container-inputs .text {
    position: relative;
    z-index: 86;
  }

  .container-inputs- .checkbox-label {
    position: relative;
    z-index: 60;
  }

  .container-inputs- .text {
    position: relative;
    z-index: 61;
  }

  .img {
    position: relative;
    z-index: 68;
    height: auto;
    margin-top: -14px;
  }

  .login-movil {
    position: relative;
    z-index: 12;
    width: 63.9994959677%;
    margin-top: -360px;
    margin-left: 14.30822%;
  }

  .panel-principal {
    z-index: 37;
    width: 80.0403225806%;
    height: 353px;
    /*margin-top: 77px;*/
  }

  .panel-principal .element {
    width: 99.8740554156%;
    /*height: 309px;*/
    margin-top: 53px;
  }

  .please {
    display: none;
    z-index: 67;
    margin-top: -1473px;
    margin-left: 34.7766499999%;
  }

  .recuperar-contrasena {
    z-index: 44;
    width: 351px;
    margin-top: 1809px;
    margin-left: 352px;
  }

  .registrouu {
    position: relative;
    z-index: 92;
    margin-top: 60px;
    margin-left: 0;
  }

  .topmovil {
    display: none;
    visibility: visible;
    position: relative;
    z-index: 28;
    width: 32.2580645161%;
    margin-top: -93px;
    margin-left: 0.00158%;
  }

  .topmovil .container {
    width: 12.1875%;
    margin-left: 18.62793%;
  }

  .topmovil .element {
    margin-left: 14.19643%;
  }

  .topmovil .image {
    margin-left: 4.68262%;
  }

  .cabecera ._button {
    clear: both;
    width: 24.57002457%;
    margin-top: -30px;
    margin-right: 11.91497%;
  }

  .cabecera ._input {
    position: relative;
    float: right;
    width: 29.484029484%;
    margin-left: 0;
  }

  .container-inputs ._select,
  .container-inputs- ._select,
  .please .container,
  .registrouu .container {
    position: relative;
  }

  .login-movil ._button {
    position: relative;
    z-index: 2;
    margin-right: 6.0888%;
  }

  .panel-principal ._button {
    position: relative;
    width: 14%;
    font-size: 0.875em;
  }

  .please ._button {
    margin-top: 367px;
  }

  .recuperar-contrasena ._button {
    margin-right: 3.29961%;
  }

  .recuperar-contrasena ._input {
    margin-left: 3.97117%;
  }

  .container .container-16 {
    z-index: 71;
  }

  .container .container-17 {
    z-index: 91;
  }

  .container .container-4 {
    clear: both;
    width: 54.3615676359%;
    margin-top: -80px;
    margin-right: -0.94817%;
  }

  .container .element-6 {
    position: relative;
    z-index: 93;
    width: 37.7833753148%;
    height: 96px;
    margin-top: 13px;
    margin-left: 0;
  }

  .container .element-7 {
    position: relative;
    z-index: 94;
    width: 38.4130982367%;
    height: 96px;
    margin-top: 12px;
    margin-left: 30.60257%;
  }

  .container .element-8 {
    position: relative;
    /*float: left;*/
    z-index: 95;
    width: 38.4130982367%;
    height: 96px;
    margin-top: -96px;
    margin-left: 60.82533%;
  }

  .container .image-1 {
    z-index: 18;
    margin-top: -37px;
    margin-right: 0.34157%;
  }

  .container .image-2 {
    clear: both;
    z-index: 17;
    margin-top: -49px;
    margin-right: 0.31977%;
  }

  .container .image-4 {
    float: left;
    margin-right: 0;
    margin-left: 0;
  }

  .container .image-5 {
    float: left;
    clear: both;
    width: 76.6129032258%;
    margin-right: 0;
    margin-left: 12.90323%;
  }

  .container .image-6 {
    margin-top: 490px;
  }

  .container .text-5 {
    position: relative;
    z-index: 1;
    margin-left: 5.46614%;
  }

  .container- .container-1 {
    z-index: 46;
  }

  .container- .container-13 {
    margin-right: 3.29961%;
  }

  .container- .container-2 {
    z-index: 66;
  }

  .container- .container-3 {
    /*width: 79.7379032258%;*/
  }

  .container-7 {
    position: relative;
    z-index: 96;
    width: 100%;
    margin-left: 2px;
    margin-top: -25px;
  }

  .container-8 {
    position: relative;
    z-index: 69;
    margin-top: 319px;
  }

  .container ._input-12 {
    z-index: 14;
    margin-right: 68.68823%;
  }

  .container ._input-13 {
    clear: both;
    z-index: 15;
    margin-top: -32px;
    margin-right: 38.30669%;
  }

  .container- ._button-3 {
    z-index: 29;
    margin-left: 0;
  }

  .container- ._button-4 {
    z-index: 36;
    margin-top: 1px;
    margin-left: 0.35619%;
  }

  .container- ._button-5 {
    z-index: 30;
    margin-left: 0.35619%;
  }

  .container- ._button-6 {
    z-index: 31;
    margin-left: 0.22631%;
  }

  .container- ._button-7 {
    z-index: 32;
    margin-left: 0.35619%;
  }

  .container- ._button-8 {
    z-index: 33;
    margin-left: 0.35619%;
  }

  .container- ._button-9 {
    z-index: 34;
    margin-top: 0;
    margin-left: 0.33848%;
  }

  .container-inputs ._input-17 {
    position: relative;
    z-index: 72;
  }

  .container-inputs ._input-18 {
    position: relative;
    z-index: 73;
  }

  .container-inputs ._input-19 {
    position: relative;
    z-index: 74;
  }

  .container-inputs ._input-20 {
    position: relative;
    z-index: 78;
  }

  .container-inputs ._input-21 {
    position: relative;
    z-index: 75;
  }

  .container-inputs ._input-22 {
    position: relative;
    z-index: 76;
  }

  .container-inputs ._input-23 {
    position: relative;
    z-index: 79;
  }

  .container-inputs ._input-24 {
    position: relative;
    z-index: 80;
  }

  .container-inputs ._input-25 {
    position: relative;
    z-index: 81;
  }

  .container-inputs ._input-26 {
    position: relative;
    z-index: 82;
  }

  .container-inputs ._select-3 {
    z-index: 77;
  }

  .container-inputs ._select-4 {
    z-index: 87;
  }

  .container-inputs- ._input-1 {
    position: relative;
    z-index: 47;
  }

  .container-inputs- ._input-10 {
    position: relative;
    z-index: 57;
  }

  .container-inputs- ._input-2 {
    position: relative;
    z-index: 48;
  }

  .container-inputs- ._input-3 {
    position: relative;
    z-index: 49;
  }

  .container-inputs- ._input-4 {
    position: relative;
    z-index: 53;
  }

  .container-inputs- ._input-5 {
    position: relative;
    z-index: 50;
  }

  .container-inputs- ._input-6 {
    position: relative;
    z-index: 51;
  }

  .container-inputs- ._input-7 {
    position: relative;
    z-index: 54;
  }

  .container-inputs- ._input-8 {
    position: relative;
    z-index: 55;
  }

  .container-inputs- ._input-9 {
    position: relative;
    z-index: 56;
  }

  .container-inputs- ._select-1 {
    z-index: 52;
  }

  .container-inputs- ._select-2 {
    z-index: 62;
  }
}

@media(max-width: 768px) {
  body {
    font-size: 1em;
  }

  .batea {
    display: block;
    position: absolute;
    z-index: 100;
    margin-top: 85px;
    margin-left: 0;
  }

  .cabecera {
    display: none;
    z-index: 22;
    margin-top: 196px;
  }

  .cabecera .container {
    float: left;
    margin-right: 0;
  }

  .cabecera .element {
    visibility: hidden;
    margin-top: 1259px;
    margin-left: 18.4604%;
  }

  .cabecera .text {
    position: relative;
    float: left;
    z-index: 19;
    width: 58.0563393753%;
    margin-top: -13px;
    margin-right: 0;
    margin-left: -3.0232%;
  }

  .container .container-inputs {
    margin-left: 1.62981%;
  }

  .container .image {
    height: auto;
  }

  .container- {
    position: relative;
  }

  .container- .container-inputs- {
    margin-left: 1.61758%;
  }

  .container- .image {
    visibility: hidden;
    position: relative;
    float: left;
    margin-right: 0;
  }

  .container-inputs .checkbox {
    margin-left: 13.47339%;
  }

  .container-inputs .checkbox-label {
    position: relative;
    z-index: 85;
  }

  .container-inputs .text {
    position: relative;
    z-index: 86;
    margin-left: 7.53631%;
  }

  .container-inputs- .checkbox {
    margin-left: 13.44538%;
  }

  .container-inputs- .checkbox-label {
    position: relative;
    z-index: 60;
  }

  .container-inputs- .text {
    position: relative;
    z-index: 61;
    width: 92.4001862906%;
    margin-left: 7.50667%;
  }

  .img {
    display: block;
    position: relative;
    z-index: 68;
    height: auto;
    margin-top: 1738px;
  }

  .login-movil {
    display: none;
    position: relative;
    clear: none;
    z-index: 12;
    width: 100%;
    margin-top: -1193px;
    margin-left: 0;
  }

  .panel-principal {
    display: none;
    float: left;
    clear: both;
    z-index: 37;
    width: 100.1302083333%;
    height: 478px;
    margin-top: -77px;
    margin-right: 0;
    margin-left: -0.13021%;
  }

  .panel-principal .element {
    position: relative;
    float: left;
    clear: both;
    z-index: 35;
    width: 100%;
    height: 235px;
    margin-top: -233px;
    margin-right: 0;
    margin-left: -5.53479%;
  }

  .please {
    z-index: 67;
    width: 100%;
    margin-top: 1137px;
    margin-left: 0;
  }

  .recuperar-contrasena {
    display: block;
    clear: none;
    z-index: 44;
    width: 100%;
    height: 164px;
    margin-top: -16702px;
    margin-left: 0;
  }

  .registrouu {
    display: block;
    position: relative;
    clear: none;
    z-index: 92;
    width: 100%;
    margin-top: -593px;
  }

  .please .container,
  .registrouu .container {
    position: relative;
  }

  .topmovil {
    display: block;
    position: relative;
    clear: none;
    z-index: 28;
    width: 100%;
    margin-top: 0;
    margin-left: 0;
  }

  .topmovil .container {
    visibility: visible;
    float: right;
    width: 54px;
    margin-right: 7.55005%;
    margin-left: 0;
  }

  .topmovil .element {
    margin-left: 14.1875%;
  }

  .topmovil .image {
    margin-left: 12.68107%;
  }

  .cabecera ._button {
    visibility: hidden;
    float: left;
    margin-top: 10px;
    margin-right: 0;
    margin-left: 1.89323%;
  }

  .cabecera ._input {
    visibility: hidden;
    position: relative;
    float: left;
    margin-right: 0;
  }

  .container-inputs ._select,
  .container-inputs- ._select {
    position: relative;
  }

  .login-movil ._button {
    position: relative;
    z-index: 2;
    margin-right: 6.073%;
  }

  .panel-principal ._button {
    position: relative;
  }

  .recuperar-contrasena ._button {
    margin-right: 5.41164%;
  }

  .recuperar-contrasena ._input {
    float: none;
    clear: none;
    margin-right: auto;
    margin-left: auto;
  }

  .container .container-16 {
    z-index: 71;
    margin-left: 3.2922699999%;
  }

  .container .container-17 {
    z-index: 91;
    margin-left: 33.45912%;
  }

  .container .container-4 {
    width: 59.8408666804%;
    margin-top: 53px;
    margin-left: 3.53644%;
  }

  .container .element-6 {
    position: relative;
    z-index: 93;
    width: 38.2304536857%;
    margin-top: 222px;
    margin-left: -0.00246%;
  }

  .container .element-7 {
    position: relative;
    z-index: 94;
    width: 38.2304536857%;
    margin-top: -122px;
    margin-left: 31.08251%;
  }

  .container .element-8 {
    position: relative;
    z-index: 95;
    width: 38.2304536857%;
    margin-top: -122px;
    margin-left: 61.76955%;
  }

  .container .image-1 {
    z-index: 18;
    margin-top: -3px;
    margin-left: 2.3068399999%;
  }

  .container .image-2 {
    z-index: 17;
    margin-top: 26px;
    margin-left: 29.29814%;
  }

  .container .image-4 {
    float: none;
    margin-right: auto;
    margin-left: auto;
  }

  .container .image-5 {
    float: none;
    clear: none;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
  }

  .container .image-6 {
    margin-top: 0;
  }

  .container .text-1,
  .container .text-14 {
    margin-left: 0;
  }

  .container .text-5 {
    position: relative;
    z-index: 1;
    margin-left: 5.45044%;
  }

  .container- .container-1 {
    z-index: 46;
    margin-left: 3.2922699999%;
  }

  .container- .container-13 {
    margin-right: 3.29023%;
  }

  .container- .container-2 {
    z-index: 66;
    margin-left: 33.42445%;
  }

  .container- .container-3 {
    display: none;
    width: 79.736328125%;
    margin-top: -169px;
    margin-left: 26.38143%;
  }

  .container-7 {
    display: none;
    position: relative;
    z-index: 96;
    width: 82.8267415364%;
    margin-top: 420px;
    margin-left: 13.66781%;
  }

  .container-8 {
    display: none;
    position: relative;
    z-index: 69;
    /*margin-top: 781px;*/
  }

  .container ._input-12 {
    z-index: 14;
    margin-left: 1.85912%;
  }

  .container ._input-13 {
    clear: none;
    z-index: 15;
    margin-top: 8px;
    margin-left: 0.88692%;
  }

  .container- ._button-3 {
    visibility: hidden;
    z-index: 29;
    width: 8.9990234375%;
    margin-left: -0.02032%;
  }

  .container- ._button-4 {
    z-index: 36;
    width: 8.9990234375%;
    margin-left: 12.81697%;
  }

  .container- ._button-5 {
    clear: both;
    z-index: 30;
    width: 8.9990234375%;
    margin-top: 57px;
    margin-left: 7.74545%;
  }

  .container- ._button-6 {
    z-index: 31;
    width: 8.9990234375%;
    margin-top: 80px;
    margin-left: 14.04015%;
  }

  .container- ._button-7 {
    z-index: 32;
    width: 9.0657552083%;
    margin-top: 301px;
    margin-left: 7.57884%;
  }

  .container- ._button-8 {
    z-index: 33;
    width: 9.0657552083%;
    margin-top: -182px;
    margin-left: 28.79755%;
  }

  .container- ._button-9 {
    z-index: 34;
    width: 9.0657552083%;
    margin-top: 277px;
    margin-left: 22.67149%;
  }

  .container-inputs ._input-17 {
    position: relative;
    z-index: 72;
  }

  .container-inputs ._input-18 {
    position: relative;
    z-index: 73;
  }

  .container-inputs ._input-19 {
    position: relative;
    z-index: 74;
  }

  .container-inputs ._input-20 {
    position: relative;
    z-index: 78;
  }

  .container-inputs ._input-21 {
    position: relative;
    z-index: 75;
  }

  .container-inputs ._input-22 {
    position: relative;
    z-index: 76;
  }

  .container-inputs ._input-23 {
    position: relative;
    z-index: 79;
  }

  .container-inputs ._input-24 {
    position: relative;
    z-index: 80;
  }

  .container-inputs ._input-25 {
    position: relative;
    z-index: 81;
  }

  .container-inputs ._input-26 {
    position: relative;
    z-index: 82;
  }

  .container-inputs ._select-3 {
    z-index: 77;
  }

  .container-inputs ._select-4 {
    z-index: 87;
  }

  .container-inputs- ._input-1 {
    position: relative;
    z-index: 47;
  }

  .container-inputs- ._input-10 {
    position: relative;
    z-index: 57;
  }

  .container-inputs- ._input-2 {
    position: relative;
    z-index: 48;
  }

  .container-inputs- ._input-3 {
    position: relative;
    z-index: 49;
  }

  .container-inputs- ._input-4 {
    position: relative;
    z-index: 53;
  }

  .container-inputs- ._input-5 {
    position: relative;
    z-index: 50;
  }

  .container-inputs- ._input-6 {
    position: relative;
    z-index: 51;
  }

  .container-inputs- ._input-7 {
    position: relative;
    z-index: 54;
  }

  .container-inputs- ._input-8 {
    position: relative;
    z-index: 55;
  }

  .container-inputs- ._input-9 {
    position: relative;
    z-index: 56;
  }

  .container-inputs- ._select-1 {
    z-index: 52;
  }

  .container-inputs- ._select-2 {
    z-index: 62;
  }
}

@media(max-width: 320px) {
  .batea {
    position: relative;
    z-index: 100;
    height: 219px;
    margin-top: -1601px;
  }

  .cabecera {
    z-index: 22;
    height: 62px;
    margin-top: 407px;
  }

  .cabecera .element {
    margin-top: 784px;
    margin-left: 59.83466%;
  }

  .cabecera .text {
    position: relative;
    z-index: 19;
    width: 58.0578512396%;
    margin-top: 3px;
    margin-left: -2.99867%;
  }

  .container .container-inputs {
    margin-left: 1.64603%;
  }

  .container .image {
    height: auto;
  }

  .container- {
    position: relative;
  }

  .container- .container-inputs- {
    margin-left: 1.64112%;
  }

  .container- .image {
    position: relative;
  }

  .container-inputs .checkbox {
    margin-left: 13.49528%;
  }

  .container-inputs .checkbox-label {
    position: relative;
    z-index: 85;
  }

  .container-inputs .text {
    position: relative;
    z-index: 86;
    margin-left: 7.49618%;
  }

  .container-inputs- .checkbox {
    margin-left: 13.4278%;
  }

  .container-inputs- .checkbox-label {
    position: relative;
    z-index: 60;
  }

  .container-inputs- .text {
    position: relative;
    z-index: 61;
    margin-left: 7.49618%;
  }

  .img {
    position: relative;
    z-index: 68;
    height: auto;
    margin-top: 1551px;
  }

  .login-movil {
    position: relative;
    z-index: 12;
    margin-top: -993px;
  }

  .panel-principal {
    z-index: 37;
    margin-top: 1335px;
    margin-left: -0.12695%;
  }

  .panel-principal .element {
    position: relative;
    clear: none;
    z-index: 35;
    width: 99.8840897999%;
    height: 98px;
    margin-top: 88px;
    margin-left: 0;
  }

  .please {
    z-index: 67;
    margin-top: 221px;
    margin-left: -0.11719%;
  }

  .recuperar-contrasena {
    z-index: 44;
    margin-top: -395px;
  }

  .registrouu {
    position: relative;
    z-index: 92;
    margin-top: -231px;
  }

  .please .container,
  .registrouu .container {
    position: relative;
  }

  .topmovil {
    position: relative;
    z-index: 28;
  }

  .topmovil .container {
    float: left;
    width: 47px;
    margin-right: 0;
    margin-left: 22.51465%;
  }

  .topmovil .element {
    margin-left: 14.24419%;
  }

  .topmovil .image {
    margin-left: 4.66797%;
  }

  .cabecera ._button {
    position: relative;
    z-index: 16;
    margin-left: 1.84219%;
  }

  .cabecera ._input {
    position: relative;
  }

  .container-inputs ._select,
  .container-inputs- ._select {
    position: relative;
  }

  .login-movil ._button {
    position: relative;
    z-index: 2;
    margin-right: 6.03516%;
  }

  .panel-principal ._button {
    position: relative;
  }

  .container- .container-13,
  .recuperar-contrasena ._button {
    margin-right: 3.29206%;
  }

  .recuperar-contrasena ._input {
    float: left;
    clear: both;
    margin-right: 0;
    margin-left: 3.95539%;
  }

  .container .container-16 {
    z-index: 71;
    margin-left: 3.30189%;
  }

  .container .container-17 {
    float: right;
    z-index: 91;
    margin-right: 3.29206%;
    margin-left: 0;
  }

  .container .container-4 {
    width: 59.840756407%;
    margin-top: 19px;
    margin-left: 0;
  }

  .container .element-6 {
    position: relative;
    z-index: 93;
    width: 38.2302658727%;
    margin-top: 76px;
    margin-left: 0;
  }

  .container .element-7 {
    position: relative;
    z-index: 94;
    width: 38.2302658727%;
    margin-left: 31.07941%;
  }

  .container .element-8 {
    position: relative;
    z-index: 95;
    width: 38.2302658727%;
    margin-left: 61.76384%;
  }

  .container .image-1 {
    z-index: 18;
    margin-top: -20px;
    margin-left: 2.31297%;
  }

  .container .image-2 {
    z-index: 17;
    margin-top: 48px;
    margin-left: 29.29076%;
  }

  .container .image-4 {
    margin-top: -1px;
  }

  .container .text-1,
  .container .text-14 {
    float: none;
    margin-right: auto;
    margin-left: auto;
  }

  .container .text-5 {
    position: relative;
    z-index: 1;
    margin-left: 5.44434%;
  }

  .container- .container-1 {
    z-index: 46;
    margin-left: 3.29206%;
  }

  .container- .container-2 {
    float: right;
    z-index: 66;
    margin-right: 3.28715%;
    margin-left: 0;
  }

  .container- .container-3 {
    display: block;
    margin-top: -209px;
    margin-left: 12.9980499999%;
  }

  .container-7 {
    position: relative;
    z-index: 96;
    width: 82.8271484375%;
    margin-top: -57px;
    margin-left: 17.16797%;
  }

  .container-8 {
    position: relative;
    z-index: 69;
  }

  .container ._input-12 {
    z-index: 14;
    margin-left: 1.75008%;
  }

  .container ._input-13 {
    clear: both;
    z-index: 15;
    margin-left: 0.74711%;
  }

  .container- ._button-3 {
    z-index: 29;
    width: 3.75%;
    margin-left: 0;
  }

  .container- ._button-4 {
    z-index: 36;
    width: 3.75%;
    margin-left: 48.53214%;
  }

  .container- ._button-5 {
    z-index: 30;
    width: 3.75%;
    margin-top: -182px;
    margin-left: 41.24159%;
  }

  .container- ._button-6 {
    z-index: 31;
    width: 3.75%;
    margin-top: -182px;
    margin-left: 57.00771%;
  }

  .container- ._button-7 {
    z-index: 32;
    width: 3.7776692708%;
    margin-top: -182px;
    margin-left: 74.1978%;
  }

  .container- ._button-8 {
    z-index: 33;
    width: 3.7776692708%;
    margin-left: 89.9200199999%;
  }

  .container- ._button-9 {
    z-index: 34;
    width: 3.7776692708%;
    margin-top: -182px;
    margin-left: 95.02585%;
  }

  .container-inputs ._input-17 {
    position: relative;
    z-index: 72;
  }

  .container-inputs ._input-18 {
    position: relative;
    z-index: 73;
  }

  .container-inputs ._input-19 {
    position: relative;
    z-index: 74;
  }

  .container-inputs ._input-20 {
    position: relative;
    z-index: 78;
  }

  .container-inputs ._input-21 {
    position: relative;
    z-index: 75;
  }

  .container-inputs ._input-22 {
    position: relative;
    z-index: 76;
  }

  .container-inputs ._input-23 {
    position: relative;
    z-index: 79;
  }

  .container-inputs ._input-24 {
    position: relative;
    z-index: 80;
  }

  .container-inputs ._input-25 {
    position: relative;
    z-index: 81;
  }

  .container-inputs ._input-26 {
    position: relative;
    z-index: 82;
  }

  .container-inputs ._select-3 {
    z-index: 77;
  }

  .container-inputs ._select-4 {
    z-index: 87;
  }

  .container-inputs- ._input-1 {
    position: relative;
    z-index: 47;
  }

  .container-inputs- ._input-10 {
    position: relative;
    z-index: 57;
  }

  .container-inputs- ._input-2 {
    position: relative;
    z-index: 48;
  }

  .container-inputs- ._input-3 {
    position: relative;
    z-index: 49;
  }

  .container-inputs- ._input-4 {
    position: relative;
    z-index: 53;
  }

  .container-inputs- ._input-5 {
    position: relative;
    z-index: 50;
  }

  .container-inputs- ._input-6 {
    position: relative;
    z-index: 51;
  }

  .container-inputs- ._input-7 {
    position: relative;
    z-index: 54;
  }

  .container-inputs- ._input-8 {
    position: relative;
    z-index: 55;
  }

  .container-inputs- ._input-9 {
    position: relative;
    z-index: 56;
  }

  .container-inputs- ._select-1 {
    z-index: 52;
  }

  .container-inputs- ._select-2 {
    z-index: 62;
  }
}