ul.redes{
    position: fixed;
    right: 5px;
    top: 142px;
    z-index: 200;
}


ul.redes img{
    border-radius: 53px;
    max-width: 60px;
    max-height: 58px;
}

ul.redes li{
    margin-top: 9px;
    cursor: pointer;
}

li#chat > a > div{
    position: fixed;
    bottom: 1px;
    width: 105px;
    height: 103px;
    right: 1px;
    background: url(../imagenes/chat.png) left top no-repeat;
}

li#chat > a > div:hover{
    background: url(../imagenes/chat-hover.png) left top no-repeat;
    
}

@media (max-width: 992px){
    ul.redes img {
        position: relative;
        width: 90%;

    }
    .container-8{
        background-size:contain;
        background-position: center;
    }
}

@media (max-width: 768px){
    div#Rompecabeza, #ulredes {
        display: none;
    }
    .registrouu,.login-movil {
        display: none;
        top: 18%;
    }
    .login-movil {
        position: absolute;
        display: none;
        clear: none;
        z-index: 12;
        width: 100%;
        margin-top: -37px;

    }
}

@media (max-width: 768px){
    
    .element > .SlideShowContentPanel > .SlideShowImage{
    width: 100%;
    height: 353px;
    position: relative;
    background-color: transparent;
    display: none;
    margin: 52px auto 0;
    background-position: center top;    
    }
    
    .rslides {
      position: relative;
      list-style: none;
      overflow: hidden;
      width: 100%;
      padding: 0;
      margin: 0;
      }

    .rslides li {
      -webkit-backface-visibility: hidden;
      position: absolute;
      display: none;
      width: 100%;
      left: 0;
      top: 0;
      }

    .rslides li:first-child {
      position: relative;
      display: block;
      float: left;
      }

    .rslides img {
      display: block;
      height: auto;
      float: left;
      width: 100%;
      border: 0;
      }    
}


.element > .SlideShowContentPanel > .SlideShowImage{
    width: 100%;
    height: 353px;
    position: relative;
    background-color: transparent;
    display: none;
    margin: 52px auto 0;
    background-position: center top;
    
}

.rslides {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0;
  }

.rslides li {
  -webkit-backface-visibility: hidden;
  position: absolute;
  display: none;
  width: 100%;
  left: 0;
  top: 0;
  }

.rslides li:first-child {
  position: relative;
  display: block;
  float: left;
  }

.rslides img {
  display: block;
  height: auto;
  float: left;
  width: 100%;
  border: 0;
  }

@media (max-width: 1024px){
    .panel-principal{
    width: 95%;
    }
    .container-3{
    width: 95%;
    
    }
}