﻿<%@ Page Language="C#" AutoEventWireup="true"  Inherits="OrchilaFinal.page.casinoauto" %>

<!DOCTYPE html>
<html>
<head runat="server">
    <title>casino flash</title>
    <script src="../js/jquery-2.0.3.min.js" type="text/javascript"></script>
    <script type="text/javascript" src="http://cache.download.banner.flashinandplay.com/integrationjs.php"></script>
    <script type="text/javascript">
        var url = 0;
        $(function () {
            url = "<%= Request.QueryString["url"]%>";
        login(1, '<%=Request.QueryString["user"] %>', '<%=Request.QueryString["pass"]%>');
    });
    iapiSetCallout('Login', calloutLogin);
    iapiSetCallout('Logout', calloutLogout);

    function login(realMode, usuario, password) {
        iapiLogin(usuario, password, realMode, "en");
    }

    function logout(allSessions, realMode) {
        iapiLogout(allSessions, realMode);
    }

    //    function calloutLogin(response) {
    //        if (response.errorCode) {
    //            alert("Login failed, " + response.errorText);
    //        }
    //        else {
    //            switch (url) {
    //                  case 1:
    //                    window.location = "http://cache.download.banner.flashinandplay.com/flash/10al/casino_flashinandplay/launchcasino.html?language=es&game=kkgsc";
    //                    break;
    //                  case 2:
    //                    window.location = "http://cache.download.banner.flashinandplay.com/flash/10al/casino_flashinandplay/launchcasino.html?language=es&game=irm3";
    //                    break;
    //                  case 3:
    //                    window.location = "http://cache.download.banner.flashinandplay.com/flash/10al/casino_flashinandplay/launchcasino.html?language=es&game=irm2";
    //                    break; 
    //                  case 4:
    //                    window.location = "http://cache.download.banner.flashinandplay.com/flash/10al/casino_flashinandplay/launchcasino.html?language=es&game=hlk2";
    //                  break;
    //                    case 5:
    //                    window.location = "http://cache.download.banner.flashinandplay.com/flash/10al/casino_flashinandplay/launchcasino.html?language=es&game=bld";
    //                    break;
    //                  case 6:
    //                    window.location = "http://cache.download.banner.flashinandplay.com/flash/10al/casino_flashinandplay/launchcasino.html?language=es&game=fnf";
    //                    break; 
    //                   case 7:
    //                    window.location = "http://cache.download.banner.flashinandplay.com/flash/10al/casino_flashinandplay/launchcasino.html?language=es&game=c7";
    //                   break; 
    //                  case 8:
    //                    window.location = "http://cache.download.banner.flashinandplay.com/flash/10al/casino_flashinandplay/launchcasino.html?language=es&game=8bs";
    //                    break; 
    //                  case 9:
    //                    window.location = "http://cache.download.banner.flashinandplay.com/flash/10al/casino_flashinandplay/launchcasino.html?language=es&game=rky";
    //                    break;
    //                  case 10:
    //                    window.location = "http://cache.download.banner.flashinandplay.com/flash/10al/casino_flashinandplay/launchcasino.html?language=es";
    //                  break;
    //                  

    //                                         
    //            }
    //            
    //        }
    //    }

    function calloutLogin(response) {
        if (response.errorCode) {
            alert("Login failed, " + response.errorText);
        }
        else {
            // window.location = "http://cache.download.banner.flashinandplay.com/flash/10al/casino_flashinandplay/launchcasino.html?language=es&nolobby=1&game="+url;
            window.location = "http://cache.download.banner.flashinandplay.com/casinoclient.html?language=es&game=" + url;
        }
    }

    function calloutLogout(response) {
        if (response.errorCode) {
            alert("Logout failed, " + response.errorCode);
        }
        else {
            delete_cookie();
        }
    }
    </script>

</head>
<body>
    <form id="form1" runat="server">
    <div>
    </div>
    </form>
</body>
</html>
