.html
{

}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 479px;
	padding-bottom: 21px;
	margin-left: auto;
	margin-right: auto;
	background: transparent url(../images/pano3.png) no-repeat center bottom;
	background-size: contain !important;
}

#u1578
{
	z-index: 5;
	width: 960px;
	height: 52px;
	border-style: none;
	border-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 675px;
}

#u1576
{
	z-index: 6;
	width: 196px;
	position: relative;
	margin-right: -10000px;
	margin-top: 67px;
	left: 2px;
	padding: 37px 5px 93px 6px;
}

#u3245
{
	z-index: 17;
	width: 196px;
	position: relative;
}

#u3239
{
	z-index: 18;
	width: 196px;
	border-style: none;
	border-color: transparent;
	background-color: #00026D;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
	padding-bottom: 3px;
	position: relative;
	margin-right: -10000px;
}

#u3240
{
	z-index: 19;
	width: 196px;
	border-style: none;
	border-color: transparent;
	background-color: #03B2FB;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
	padding-bottom: 2px;
	position: relative;
	margin-right: -10000px;
	margin-top: 2px;
}

#u3241
{
	z-index: 20;
	width: 196px;
	border-style: none;
	border-color: transparent;
	background-color: #03B2FB;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
	position: relative;
	margin-right: -10000px;
}

#u3242
{
	z-index: 21;
	width: 196px;
	border-style: none;
	border-color: transparent;
	background-color: #0081B6;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
}

#u3243
{
	z-index: 22;
	width: 192px;
	background: #0C0C1A url("../images/u3243-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, from(#183BA9),color-stop(100%, #0C0C1A));
	background: -webkit-linear-gradient(top,#183BA9 ,#0C0C1A 100%);
	background: -moz-linear-gradient(top,#183BA9 ,#0C0C1A 100%);
	background: -ms-linear-gradient(top,#183BA9 ,#0C0C1A 100%);
	background: -o-linear-gradient(top,#183BA9 ,#0C0C1A 100%);
	background: linear-gradient(to bottom,#183BA9 ,#0C0C1A 100%);
	border-style: none;
	border-color: transparent;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
	padding-bottom: 13px;
	position: relative;
	margin-right: -10000px;
	left: 2px;
}

#u3243:hover
{
	background: transparent url("../images/u3243-r-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, from(rgba(24, 59, 169, 0.51)),color-stop(100%, #0C0C1A));
	background: -webkit-linear-gradient(top,rgba(24, 59, 169, 0.51) ,#0C0C1A 100%);
	background: -moz-linear-gradient(top,rgba(24, 59, 169, 0.51) ,#0C0C1A 100%);
	background: -ms-linear-gradient(top,rgba(24, 59, 169, 0.51) ,#0C0C1A 100%);
	background: -o-linear-gradient(top,rgba(24, 59, 169, 0.51) ,#0C0C1A 100%);
	background: linear-gradient(to bottom,rgba(24, 59, 169, 0.51) ,#0C0C1A 100%);
	margin: 0px -10000px 0px 0px;
}

#u3244-4
{
	z-index: 23;
	width: 163px;
	min-height: 17px;
	text-align: left;
	letter-spacing: 1px;
	font-size: 12px;
	line-height: 14px;
	color: #FFFFFF;
	font-family: actor, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 15px;
	left: 15px;
}

#u3246
{
	z-index: 57;
	width: 196px;
	margin-top: 10px;
	position: relative;
}

#u3247
{
	z-index: 58;
	width: 196px;
	border-style: none;
	border-color: transparent;
	background-color: #00026D;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
	padding-bottom: 3px;
	position: relative;
	margin-right: -10000px;
}

#u3250
{
	z-index: 59;
	width: 196px;
	border-style: none;
	border-color: transparent;
	background-color: #03B2FB;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
	padding-bottom: 2px;
	position: relative;
	margin-right: -10000px;
	margin-top: 2px;
}

#u3251
{
	z-index: 60;
	width: 196px;
	border-style: none;
	border-color: transparent;
	background-color: #03B2FB;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
	position: relative;
	margin-right: -10000px;
}

#u3252
{
	z-index: 61;
	width: 196px;
	border-style: none;
	border-color: transparent;
	background-color: #0081B6;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
}

#u3249
{
	z-index: 62;
	width: 192px;
	background: #0C0C1A url("../images/u3243-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, from(#183BA9),color-stop(100%, #0C0C1A));
	background: -webkit-linear-gradient(top,#183BA9 ,#0C0C1A 100%);
	background: -moz-linear-gradient(top,#183BA9 ,#0C0C1A 100%);
	background: -ms-linear-gradient(top,#183BA9 ,#0C0C1A 100%);
	background: -o-linear-gradient(top,#183BA9 ,#0C0C1A 100%);
	background: linear-gradient(to bottom,#183BA9 ,#0C0C1A 100%);
	border-style: none;
	border-color: transparent;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
	padding-bottom: 13px;
	position: relative;
	margin-right: -10000px;
	left: 2px;
}

#u3249:hover
{
	background: transparent url("../images/u3243-r-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, from(rgba(24, 59, 169, 0.51)),color-stop(100%, #0C0C1A));
	background: -webkit-linear-gradient(top,rgba(24, 59, 169, 0.51) ,#0C0C1A 100%);
	background: -moz-linear-gradient(top,rgba(24, 59, 169, 0.51) ,#0C0C1A 100%);
	background: -ms-linear-gradient(top,rgba(24, 59, 169, 0.51) ,#0C0C1A 100%);
	background: -o-linear-gradient(top,rgba(24, 59, 169, 0.51) ,#0C0C1A 100%);
	background: linear-gradient(to bottom,rgba(24, 59, 169, 0.51) ,#0C0C1A 100%);
	margin: 0px -10000px 0px 0px;
}

#u3248-4
{
	z-index: 63;
	width: 163px;
	min-height: 17px;
	text-align: left;
	letter-spacing: 1px;
	font-size: 12px;
	line-height: 14px;
	color: #FFFFFF;
	font-family: actor, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 15px;
	left: 15px;
}

#u3281
{
	z-index: 37;
	width: 196px;
	margin-top: 10px;
	position: relative;
}

#u3282
{
	z-index: 38;
	width: 196px;
	border-style: none;
	border-color: transparent;
	background-color: #00026D;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
	padding-bottom: 3px;
	position: relative;
	margin-right: -10000px;
}

#u3285
{
	z-index: 39;
	width: 196px;
	border-style: none;
	border-color: transparent;
	background-color: #03B2FB;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
	padding-bottom: 2px;
	position: relative;
	margin-right: -10000px;
	margin-top: 2px;
}

#u3286
{
	z-index: 40;
	width: 196px;
	border-style: none;
	border-color: transparent;
	background-color: #03B2FB;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
	position: relative;
	margin-right: -10000px;
}

#u3287
{
	z-index: 41;
	width: 196px;
	border-style: none;
	border-color: transparent;
	background-color: #0081B6;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
}

#u3284
{
	z-index: 42;
	width: 192px;
	background: #0C0C1A url("../images/u3243-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, from(#183BA9),color-stop(100%, #0C0C1A));
	background: -webkit-linear-gradient(top,#183BA9 ,#0C0C1A 100%);
	background: -moz-linear-gradient(top,#183BA9 ,#0C0C1A 100%);
	background: -ms-linear-gradient(top,#183BA9 ,#0C0C1A 100%);
	background: -o-linear-gradient(top,#183BA9 ,#0C0C1A 100%);
	background: linear-gradient(to bottom,#183BA9 ,#0C0C1A 100%);
	border-style: none;
	border-color: transparent;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
	padding-bottom: 13px;
	position: relative;
	margin-right: -10000px;
	left: 2px;
}

#u3284:hover
{
	background: transparent url("../images/u3243-r-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, from(rgba(24, 59, 169, 0.51)),color-stop(100%, #0C0C1A));
	background: -webkit-linear-gradient(top,rgba(24, 59, 169, 0.51) ,#0C0C1A 100%);
	background: -moz-linear-gradient(top,rgba(24, 59, 169, 0.51) ,#0C0C1A 100%);
	background: -ms-linear-gradient(top,rgba(24, 59, 169, 0.51) ,#0C0C1A 100%);
	background: -o-linear-gradient(top,rgba(24, 59, 169, 0.51) ,#0C0C1A 100%);
	background: linear-gradient(to bottom,rgba(24, 59, 169, 0.51) ,#0C0C1A 100%);
	margin: 0px -10000px 0px 0px;
}

#u3283-4
{
	z-index: 43;
	width: 163px;
	min-height: 17px;
	text-align: left;
	letter-spacing: 1px;
	font-size: 12px;
	line-height: 14px;
	color: #FFFFFF;
	font-family: actor, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 15px;
	left: 15px;
}

#u3288
{
	z-index: 77;
	width: 196px;
	margin-top: 10px;
	position: relative;
}

#u3289
{
	z-index: 78;
	width: 196px;
	border-style: none;
	border-color: transparent;
	background-color: #00026D;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
	padding-bottom: 3px;
	position: relative;
	margin-right: -10000px;
}

#u3290
{
	z-index: 79;
	width: 196px;
	border-style: none;
	border-color: transparent;
	background-color: #03B2FB;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
	padding-bottom: 2px;
	position: relative;
	margin-right: -10000px;
	margin-top: 2px;
}

#u3293
{
	z-index: 80;
	width: 196px;
	border-style: none;
	border-color: transparent;
	background-color: #03B2FB;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
	position: relative;
	margin-right: -10000px;
}

#u3294
{
	z-index: 81;
	width: 196px;
	border-style: none;
	border-color: transparent;
	background-color: #0081B6;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
}

#u3291
{
	z-index: 82;
	width: 192px;
	background: #0C0C1A url("../images/u3243-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, from(#183BA9),color-stop(100%, #0C0C1A));
	background: -webkit-linear-gradient(top,#183BA9 ,#0C0C1A 100%);
	background: -moz-linear-gradient(top,#183BA9 ,#0C0C1A 100%);
	background: -ms-linear-gradient(top,#183BA9 ,#0C0C1A 100%);
	background: -o-linear-gradient(top,#183BA9 ,#0C0C1A 100%);
	background: linear-gradient(to bottom,#183BA9 ,#0C0C1A 100%);
	border-style: none;
	border-color: transparent;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
	padding-bottom: 13px;
	position: relative;
	margin-right: -10000px;
	left: 2px;
}

#u3291:hover
{
	background: transparent url("../images/u3243-r-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, from(rgba(24, 59, 169, 0.51)),color-stop(100%, #0C0C1A));
	background: -webkit-linear-gradient(top,rgba(24, 59, 169, 0.51) ,#0C0C1A 100%);
	background: -moz-linear-gradient(top,rgba(24, 59, 169, 0.51) ,#0C0C1A 100%);
	background: -ms-linear-gradient(top,rgba(24, 59, 169, 0.51) ,#0C0C1A 100%);
	background: -o-linear-gradient(top,rgba(24, 59, 169, 0.51) ,#0C0C1A 100%);
	background: linear-gradient(to bottom,rgba(24, 59, 169, 0.51) ,#0C0C1A 100%);
	margin: 0px -10000px 0px 0px;
}

#u3292-4
{
	z-index: 83;
	width: 163px;
	min-height: 17px;
	text-align: left;
	letter-spacing: 1px;
	font-size: 12px;
	line-height: 14px;
	color: #FFFFFF;
	font-family: actor, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 15px;
	left: 15px;
}

#u3295
{
	z-index: 27;
	width: 196px;
	margin-top: 9px;
	position: relative;
}

#u3296
{
	z-index: 28;
	width: 196px;
	border-style: none;
	border-color: transparent;
	background-color: #00026D;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
	padding-bottom: 3px;
	position: relative;
	margin-right: -10000px;
}

#u3299
{
	z-index: 29;
	width: 196px;
	border-style: none;
	border-color: transparent;
	background-color: #03B2FB;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
	padding-bottom: 2px;
	position: relative;
	margin-right: -10000px;
	margin-top: 2px;
}

#u3300
{
	z-index: 30;
	width: 196px;
	border-style: none;
	border-color: transparent;
	background-color: #03B2FB;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
	position: relative;
	margin-right: -10000px;
}

#u3301
{
	z-index: 31;
	width: 196px;
	border-style: none;
	border-color: transparent;
	background-color: #0081B6;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
}

#u3298
{
	z-index: 32;
	width: 192px;
	background: #0C0C1A url("../images/u3243-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, from(#183BA9),color-stop(100%, #0C0C1A));
	background: -webkit-linear-gradient(top,#183BA9 ,#0C0C1A 100%);
	background: -moz-linear-gradient(top,#183BA9 ,#0C0C1A 100%);
	background: -ms-linear-gradient(top,#183BA9 ,#0C0C1A 100%);
	background: -o-linear-gradient(top,#183BA9 ,#0C0C1A 100%);
	background: linear-gradient(to bottom,#183BA9 ,#0C0C1A 100%);
	border-style: none;
	border-color: transparent;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
	padding-bottom: 13px;
	position: relative;
	margin-right: -10000px;
	left: 2px;
}

#u3298:hover
{
	background: transparent url("../images/u3243-r-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, from(rgba(24, 59, 169, 0.51)),color-stop(100%, #0C0C1A));
	background: -webkit-linear-gradient(top,rgba(24, 59, 169, 0.51) ,#0C0C1A 100%);
	background: -moz-linear-gradient(top,rgba(24, 59, 169, 0.51) ,#0C0C1A 100%);
	background: -ms-linear-gradient(top,rgba(24, 59, 169, 0.51) ,#0C0C1A 100%);
	background: -o-linear-gradient(top,rgba(24, 59, 169, 0.51) ,#0C0C1A 100%);
	background: linear-gradient(to bottom,rgba(24, 59, 169, 0.51) ,#0C0C1A 100%);
	margin: 0px -10000px 0px 0px;
}

#u3297-4
{
	z-index: 33;
	width: 163px;
	min-height: 17px;
	text-align: left;
	letter-spacing: 1px;
	font-size: 12px;
	line-height: 14px;
	color: #FFFFFF;
	font-family: actor, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 15px;
	left: 15px;
}

#u3302
{
	z-index: 67;
	width: 196px;
	margin-top: 10px;
	position: relative;
}

#u3303
{
	z-index: 68;
	width: 196px;
	border-style: none;
	border-color: transparent;
	background-color: #00026D;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
	padding-bottom: 3px;
	position: relative;
	margin-right: -10000px;
}

#u3304
{
	z-index: 69;
	width: 196px;
	border-style: none;
	border-color: transparent;
	background-color: #03B2FB;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
	padding-bottom: 2px;
	position: relative;
	margin-right: -10000px;
	margin-top: 2px;
}

#u3307
{
	z-index: 70;
	width: 196px;
	border-style: none;
	border-color: transparent;
	background-color: #03B2FB;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
	position: relative;
	margin-right: -10000px;
}

#u3308
{
	z-index: 71;
	width: 196px;
	border-style: none;
	border-color: transparent;
	background-color: #0081B6;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
}

#u3305
{
	z-index: 72;
	width: 192px;
	background: #0C0C1A url("../images/u3243-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, from(#183BA9),color-stop(100%, #0C0C1A));
	background: -webkit-linear-gradient(top,#183BA9 ,#0C0C1A 100%);
	background: -moz-linear-gradient(top,#183BA9 ,#0C0C1A 100%);
	background: -ms-linear-gradient(top,#183BA9 ,#0C0C1A 100%);
	background: -o-linear-gradient(top,#183BA9 ,#0C0C1A 100%);
	background: linear-gradient(to bottom,#183BA9 ,#0C0C1A 100%);
	border-style: none;
	border-color: transparent;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
	padding-bottom: 13px;
	position: relative;
	margin-right: -10000px;
	left: 2px;
}

#u3305:hover
{
	background: transparent url("../images/u3243-r-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, from(rgba(24, 59, 169, 0.51)),color-stop(100%, #0C0C1A));
	background: -webkit-linear-gradient(top,rgba(24, 59, 169, 0.51) ,#0C0C1A 100%);
	background: -moz-linear-gradient(top,rgba(24, 59, 169, 0.51) ,#0C0C1A 100%);
	background: -ms-linear-gradient(top,rgba(24, 59, 169, 0.51) ,#0C0C1A 100%);
	background: -o-linear-gradient(top,rgba(24, 59, 169, 0.51) ,#0C0C1A 100%);
	background: linear-gradient(to bottom,rgba(24, 59, 169, 0.51) ,#0C0C1A 100%);
	margin: 0px -10000px 0px 0px;
}

#u3306-4
{
	z-index: 73;
	width: 163px;
	min-height: 17px;
	text-align: left;
	letter-spacing: 1px;
	font-size: 12px;
	line-height: 14px;
	color: #FFFFFF;
	font-family: actor, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 15px;
	left: 15px;
}

#u3309
{
	z-index: 47;
	width: 196px;
	margin-top: 10px;
	position: relative;
}

#u3310
{
	z-index: 48;
	width: 196px;
	border-style: none;
	border-color: transparent;
	background-color: #00026D;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
	padding-bottom: 3px;
	position: relative;
	margin-right: -10000px;
}

#u3313
{
	z-index: 49;
	width: 196px;
	border-style: none;
	border-color: transparent;
	background-color: #03B2FB;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
	padding-bottom: 2px;
	position: relative;
	margin-right: -10000px;
	margin-top: 2px;
}

#u3311
{
	z-index: 50;
	width: 196px;
	border-style: none;
	border-color: transparent;
	background-color: #03B2FB;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
	position: relative;
	margin-right: -10000px;
}

#u3315
{
	z-index: 51;
	width: 196px;
	border-style: none;
	border-color: transparent;
	background-color: #0081B6;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
}

#u3314
{
	z-index: 52;
	width: 192px;
	background: #0C0C1A url("../images/u3243-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, from(#183BA9),color-stop(100%, #0C0C1A));
	background: -webkit-linear-gradient(top,#183BA9 ,#0C0C1A 100%);
	background: -moz-linear-gradient(top,#183BA9 ,#0C0C1A 100%);
	background: -ms-linear-gradient(top,#183BA9 ,#0C0C1A 100%);
	background: -o-linear-gradient(top,#183BA9 ,#0C0C1A 100%);
	background: linear-gradient(to bottom,#183BA9 ,#0C0C1A 100%);
	border-style: none;
	border-color: transparent;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
	padding-bottom: 13px;
	position: relative;
	margin-right: -10000px;
	left: 2px;
}

#u3314:hover
{
	background: transparent url("../images/u3243-r-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, from(rgba(24, 59, 169, 0.51)),color-stop(100%, #0C0C1A));
	background: -webkit-linear-gradient(top,rgba(24, 59, 169, 0.51) ,#0C0C1A 100%);
	background: -moz-linear-gradient(top,rgba(24, 59, 169, 0.51) ,#0C0C1A 100%);
	background: -ms-linear-gradient(top,rgba(24, 59, 169, 0.51) ,#0C0C1A 100%);
	background: -o-linear-gradient(top,rgba(24, 59, 169, 0.51) ,#0C0C1A 100%);
	background: linear-gradient(to bottom,rgba(24, 59, 169, 0.51) ,#0C0C1A 100%);
	margin: 0px -10000px 0px 0px;
}

#u3312-4
{
	z-index: 53;
	width: 163px;
	min-height: 17px;
	text-align: left;
	letter-spacing: 1px;
	font-size: 12px;
	line-height: 14px;
	color: #FFFFFF;
	font-family: actor, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 15px;
	left: 15px;
}

#u3316
{
	z-index: 87;
	width: 196px;
	margin-top: 10px;
	position: relative;
}

#u3322
{
	z-index: 88;
	width: 196px;
	border-style: none;
	border-color: transparent;
	background-color: #00026D;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
	padding-bottom: 3px;
	position: relative;
	margin-right: -10000px;
}

#u3320
{
	z-index: 89;
	width: 196px;
	border-style: none;
	border-color: transparent;
	background-color: #03B2FB;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
	padding-bottom: 2px;
	position: relative;
	margin-right: -10000px;
	margin-top: 2px;
}

#u3317
{
	z-index: 90;
	width: 196px;
	border-style: none;
	border-color: transparent;
	background-color: #03B2FB;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
	position: relative;
	margin-right: -10000px;
}

#u3318
{
	z-index: 91;
	width: 196px;
	border-style: none;
	border-color: transparent;
	background-color: #0081B6;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
}

#u3321
{
	z-index: 92;
	width: 192px;
	background: #0C0C1A url("../images/u3243-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, from(#183BA9),color-stop(100%, #0C0C1A));
	background: -webkit-linear-gradient(top,#183BA9 ,#0C0C1A 100%);
	background: -moz-linear-gradient(top,#183BA9 ,#0C0C1A 100%);
	background: -ms-linear-gradient(top,#183BA9 ,#0C0C1A 100%);
	background: -o-linear-gradient(top,#183BA9 ,#0C0C1A 100%);
	background: linear-gradient(to bottom,#183BA9 ,#0C0C1A 100%);
	border-style: none;
	border-color: transparent;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
	padding-bottom: 13px;
	position: relative;
	margin-right: -10000px;
	left: 2px;
}

#u3321:hover
{
	background: transparent url("../images/u3243-r-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, from(rgba(24, 59, 169, 0.51)),color-stop(100%, #0C0C1A));
	background: -webkit-linear-gradient(top,rgba(24, 59, 169, 0.51) ,#0C0C1A 100%);
	background: -moz-linear-gradient(top,rgba(24, 59, 169, 0.51) ,#0C0C1A 100%);
	background: -ms-linear-gradient(top,rgba(24, 59, 169, 0.51) ,#0C0C1A 100%);
	background: -o-linear-gradient(top,rgba(24, 59, 169, 0.51) ,#0C0C1A 100%);
	background: linear-gradient(to bottom,rgba(24, 59, 169, 0.51) ,#0C0C1A 100%);
	margin: 0px -10000px 0px 0px;
}

#u3319-4
{
	z-index: 93;
	width: 163px;
	min-height: 17px;
	text-align: left;
	letter-spacing: 1px;
	font-size: 12px;
	line-height: 14px;
	color: #FFFFFF;
	font-family: actor, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 15px;
	left: 15px;
}

#u1577
{
	z-index: 7;
	width: 213px;
	height: 69px;
	border-style: none;
	border-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 20px;
	background: transparent url("../images/buttonjugar3.png") no-repeat left top;
}

#u1580
{
	z-index: 8;
	width: 747px;
	border-style: none;
	position: relative;
	margin-right: -10000px;
	margin-top: 26px;
	left: 213px;
}
#u1580_position_content
{
	margin-top: -3px;
	margin-bottom: 5px;
}

#u1791-4
{
	z-index: 9;
	width: 613px;
	min-height: 41px;
	text-align: center;
	color: #FFFFFF;
	font-size: 27px;
	line-height: 32px;
	font-family: comfortaa, sans-serif;
	font-weight: 700;
	margin-left: 65px;
	position: relative;
}

#u1806-4
{
	z-index: 13;
	width: 613px;
	min-height: 41px;
	text-align: center;
	color: #FFFFFF;
	font-size: 27px;
	line-height: 32px;
	font-family: comfortaa, sans-serif;
	font-weight: 700;
	margin-left: 65px;
	margin-top: 1px;
	position: relative;
}

#u3323
{
	z-index: 97;
	width: 746px;
	height: 651px;
	border-width: 1px;
	position: relative;
	margin-right: -10000px;
	margin-top: 105px;
	left: 213px;
    overflow-x:hidden;
    overflow-y:auto;
    scrollbar-track-color:#1F1F1F;
    scrollbar-face-color:#808080;
    scrollbar-arrow-color:#1F1F1F;
}
 
#u3323::-webkit-scrollbar {
width: 10px;
background-color: #F5F5F5;
}
#u3323::-webkit-scrollbar-thumb {
border-radius: 2px;
background-color:#03B2FB;

background-image: -webkit-linear-gradient(90deg, transparent, rgba(0, 0, 0, 0.4) 50%, transparent, transparent);
}
#u3323::-webkit-scrollbar-track {
 
-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.9);
border-radius: 2px;
background-color: #CCCCCC;

}
#pu1579
{
	z-index: 2;
	width: 0.01px;
	position: relative;
	margin-right: -10000px;
	margin-top: 89px;
	left: 213px;
}

#u1579
{
	z-index: 0;
	width: 727px;
	border-style: none;
	border-color: transparent;
	opacity: 0.57;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=56.99999999999999)";
	filter: alpha(opacity=56.99999999999999);
	position: absolute;
	top: 0px;
	bottom: 0px;

}

#pu1785
{
	width: 0.01px;
	position: relative;
	padding-top: 350px;
	z-index: 2;
}

#u1785
{
	z-index: 3;
	width: 457px;
	position: relative;
	margin-right: -10000px;
}

#page .verticalspacer
{
	clear: both;
}

