.html
{
	
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 477px;
	background-image: none;
	border-style: none;
	border-color: transparent;
	background-color: #E2E2E2;
	background-color: rgba(0, 0, 0, 0.11);
	padding-top: 2px;
	padding-bottom: 21px;
	margin-left: auto;
	margin-right: auto;
}

#u1751-3
{
	z-index: 77;
	width: 960px;
	min-height: 31px;
	border-style: none;
	border-color: transparent;
	position: relative;
	margin-right: -10000px;
	background: #EBC408 url("../images/barra31.jpg") repeat-x left top;
	top:-2px;
}

#u1752-4
{
	z-index: 80;
	width: 216px;
	min-height: 19px;
	text-align: center;
	letter-spacing: 2px;
	font-size: 20px;
	line-height: 24px;
	font-family: asap, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 3px;
	left: 391px;
}

#ppu1723-4
{
	width: 0.01px;
	margin-left: 43px;
	margin-top: 19px;
	position: relative;
}

#pu1723-4
{
	width: 0.01px;
	padding-bottom: 0px;
	position: relative;
	margin-right: -10000px;
}

#u1723-4
{
	z-index: 56;
	width: 363px;
	min-height: 25px;
	line-height: 22px;
	color: #FFFFFF;
	font-size: 18px;
	font-family: actor, sans-serif;
	font-weight: 400;
	position: relative;
}

#u1726
{
	z-index: 68;
	width: 362px;
	height: 29px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #FFFFFF;
	margin-top: 5px;
	position: relative;
}

#u1724-4
{
	z-index: 60;
	width: 363px;
	min-height: 25px;
	line-height: 22px;
	color: #FFFFFF;
	font-size: 18px;
	font-family: actor, sans-serif;
	font-weight: 400;
	margin-top: 15px;
	position: relative;
}

#u1727
{
	z-index: 69;
	width: 358px;
	height: 29px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #FFFFFF;
	margin-left: 4px;
	margin-top: 8px;
	position: relative;
}

#u1725-4
{
	z-index: 64;
	width: 359px;
	min-height: 25px;
	line-height: 22px;
	color: #FFFFFF;
	font-size: 18px;
	font-family: actor, sans-serif;
	font-weight: 400;
	margin-left: 4px;
	margin-top: 7px;
	position: relative;
}

#u1729
{
	z-index: 70;
	width: 358px;
	height: 139px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #FFFFFF;
	margin-left: 4px;
	margin-top: 8px;
	position: relative;
}

#buttonu1715
{
	z-index: 46;
	width: 111px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
	padding-bottom: 1px;
	margin-left: 255px;
	margin-top: 17px;
	position: relative;
}

#buttonu1715:hover
{
	margin: 17px 0px 0px 255px;
}

#buttonu1715.ButtonSelected
{
	margin: 17px 0px 0px 255px;
}

#u1722
{
	z-index: 47;
	width: 108px;
	border-style: none;
	border-color: transparent;
	background-color: #00026D;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
	padding-bottom: 2px;
	position: relative;
	margin-right: -10000px;
}

#buttonu1715:hover #u1722
{
	margin: 0px -10000px 0px 0px;
}

#u1721
{
	z-index: 48;
	width: 108px;
	border-style: none;
	border-color: transparent;
	background-color: #03B2FB;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
	padding-bottom: 1px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
}

#buttonu1715:hover #u1721
{
	margin: 1px -10000px 0px 0px;
}

#u1718
{
	z-index: 49;
	width: 108px;
	border-style: none;
	border-color: transparent;
	background-color: #03B2FB;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
	position: relative;
	margin-right: -10000px;
}

#buttonu1715.ButtonSelected #u1722,#buttonu1715:hover #u1718
{
	margin: 0px -10000px 0px 0px;
}

#buttonu1715.ButtonSelected #u1718
{
	margin: 0px -10000px 0px 0px;
}

#u1716
{
	z-index: 50;
	width: 108px;
	border-style: none;
	border-color: transparent;
	background-color: #0081B6;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
}

#buttonu1715.ButtonSelected #u1721,#buttonu1715:hover #u1716
{
	margin: 1px -10000px 0px 0px;
}

#buttonu1715.ButtonSelected #u1716
{
	margin: 1px -10000px 0px 0px;
}

#u1719
{
	z-index: 51;
	width: 106px;
	background: #0C0C1A url("../images/u1096-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, from(#183BA9),color-stop(100%, #0C0C1A));
	background: -webkit-linear-gradient(top,#183BA9 ,#0C0C1A 100%);
	background: -moz-linear-gradient(top,#183BA9 ,#0C0C1A 100%);
	background: -ms-linear-gradient(top,#183BA9 ,#0C0C1A 100%);
	background: -o-linear-gradient(top,#183BA9 ,#0C0C1A 100%);
	background: linear-gradient(to bottom,#183BA9 ,#0C0C1A 100%);
	border-style: none;
	border-color: transparent;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
	padding-bottom: 4px;
	position: relative;
	margin-right: -10000px;
	left: 1px;
}

#buttonu1715:hover #u1719
{
	background: transparent url("../images/u1096-r-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, from(rgba(24, 59, 169, 0.51)),color-stop(100%, #0C0C1A));
	background: -webkit-linear-gradient(top,rgba(24, 59, 169, 0.51) ,#0C0C1A 100%);
	background: -moz-linear-gradient(top,rgba(24, 59, 169, 0.51) ,#0C0C1A 100%);
	background: -ms-linear-gradient(top,rgba(24, 59, 169, 0.51) ,#0C0C1A 100%);
	background: -o-linear-gradient(top,rgba(24, 59, 169, 0.51) ,#0C0C1A 100%);
	background: linear-gradient(to bottom,rgba(24, 59, 169, 0.51) ,#0C0C1A 100%);
	margin: 0px -10000px 0px 0px;
}

#buttonu1715.ButtonSelected #u1719
{
	background: #0C0C1A url("../images/u1096-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, from(#183BA9),color-stop(100%, #0C0C1A));
	background: -webkit-linear-gradient(top,#183BA9 ,#0C0C1A 100%);
	background: -moz-linear-gradient(top,#183BA9 ,#0C0C1A 100%);
	background: -ms-linear-gradient(top,#183BA9 ,#0C0C1A 100%);
	background: -o-linear-gradient(top,#183BA9 ,#0C0C1A 100%);
	background: linear-gradient(to bottom,#183BA9 ,#0C0C1A 100%);
	margin: 0px -10000px 0px 0px;
}

#u1720-4
{
	z-index: 52;
	width: 90px;
	min-height: 12px;
	text-align: center;
	color: #FFFFFF;
	font-size: 18px;
	line-height: 22px;
	font-family: actor, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 9px;
}

#ppu1711-21
{
	width: 0.01px;
	position: relative;
	margin-right: -10000px;
	margin-top: 12px;
	left: 460px;
}

#pu1751-3,#pu1711-21
{
	width: 0.01px;
	position: relative;
}

#u1711-21
{
	z-index: 2;
	width: 174px;
	min-height: 257px;
	text-align: right;
	line-height: 19px;
	color: #FFFFFF;
	font-size: 16px;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	position: relative;
	margin-right: -10000px;
}

#u1712-23
{
	z-index: 23;
	width: 230px;
	min-height: 257px;
	text-align: left;
	line-height: 19px;
	color: #FFFFFF;
	font-size: 16px;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	position: relative;
	margin-right: -10000px;
	left: 187px;
}

#u1730
{
	z-index: 71;
	width: 200px;
	margin-left: 95px;
	margin-top: 8px;
	position: relative;
}

#u1735-4
{
	z-index: 73;
	width: 124px;
	min-height: 32px;
	line-height: 22px;
	color: #FFFFFF;
	font-size: 18px;
	margin-left: 636px;
	margin-top: 15px;
	position: relative;
}

#page .verticalspacer
{
	clear: both;
}

