.html
{
	
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 500px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-bottom: 21px;
}

#pu2635-3
{
	width: 0.01px;
	position: relative;
}

#u2635-3
{
	z-index: 2;
	width: 960px;
	min-height: 31px;
	border-style: none;
	border-color: transparent;
	position: relative;
	margin-right: -10000px;
	background: #EBC408 url("../images/barra31.jpg") repeat-x left top;
}

#u2636-4
{
	z-index: 5;
	width: 314px;
	min-height: 19px;
	text-align: center;
	letter-spacing: 0px;
	font-size: 20px;
	line-height: 24px;
	font-family: Abel, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 3px;
	left: 347px;
}

#u2637
{
	z-index: 9;
	width: 960px;
	min-height: 474px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-top: 7px;
	position: relative;
}

#u2639-3
{
	z-index: 10;
	width: 960px;
	min-height: 31px;
	border-style: none;
	border-color: transparent;
	position: relative;
	margin-right: -10000px;
	background: #EBC408 url("../images/barra31.jpg") repeat-x left top;
}

#u2640-4
{
	z-index: 13;
	width: 483px;
	min-height: 19px;
	text-align: center;
	letter-spacing: 0px;
	font-size: 20px;
	line-height: 24px;
	font-family: Abel, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 3px;
	left: 262px;
}

#u3479
{
	z-index: 27;
	width: 960px;
	min-height: 263px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-top: 6px;
	position: relative;
}

#pu2681-3
{
	width: 0.01px;
	margin-top: 7px;
	position: relative;
}

#u2681-3
{
	z-index: 17;
	width: 960px;
	min-height: 31px;
	border-style: none;
	border-color: transparent;
	position: relative;
	margin-right: -10000px;
	background: #EBC408 url("../images/barra31.jpg") repeat-x left top;
}

#u2682-4
{
	z-index: 20;
	width: 314px;
	min-height: 19px;
	text-align: center;
	letter-spacing: 0px;
	font-size: 20px;
	line-height: 24px;
	font-family: Abel, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 2px;
	left: 347px;
}

#pu2639-3,#pu2696
{
	width: 0.01px;
	margin-top: 14px;
	position: relative;
}

#u2696
{
	z-index: 24;
	width: 960px;
	height: 119px;
	position: relative;
	margin-right: -10000px;
	margin-top: 258px;
}

.ie #u2696
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u3092
{
	z-index: 25;
	width: 454px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u3092:hover
{
	opacity: 0.8;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
	margin: 0px -10000px 0px 0px;
}

#page .verticalspacer
{
	clear: both;
}

