.html
{
	
}

#page
{
	z-index: 1;
	width: 790px;
	min-height: 400px;
	padding-right: 170px;
	padding-bottom: 100px;
	margin-left: auto;
	margin-right: auto;
}

#u3542
{
	z-index: 2;
	width: 790px;
	position: relative;
}

#u3537
{
	z-index: 3;
	width: 790px;
	position: relative;
	margin-right: -10000px;
}

#u3532
{
	z-index: 5;
	width: 790px;
	position: relative;
	margin-right: -10000px;
}

#u3527
{
	z-index: 7;
	width: 790px;
	position: relative;
	margin-right: -10000px;
}

#u3522
{
	z-index: 9;
	width: 790px;
	position: relative;
	margin-right: -10000px;
}

#u3517
{
	z-index: 11;
	width: 790px;
	position: relative;
	margin-right: -10000px;
}

#u3512
{
	z-index: 13;
	width: 790px;
	position: relative;
	margin-right: -10000px;
}

#u3507
{
	z-index: 15;
	width: 790px;
	position: relative;
	margin-right: -10000px;
}

#u3502
{
	z-index: 17;
	width: 790px;
	position: relative;
	margin-right: -10000px;
}

#page .verticalspacer
{
	clear: both;
}

