.html
{
	
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 408px;
	padding-bottom: 92px;
	margin-left: auto;
	margin-right: auto;
}

#pu3562
{
	width: 0.01px;
	position: relative;
	margin-right: -10000px;
	margin-top: 17px;
}

#u3562
{
	z-index: 2;
	width: 477px;
	height: 206px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	position: relative;
	background: transparent url("../images/debes-estar-registrado1-u3562-fr.png") no-repeat center center;
	background-size: contain !important;
}

#u3563-6
{
	z-index: 3;
	width: 439px;
	min-height: 51px;
	border-style: none;
	border-color: transparent;
	background-color: #1A1A1A;
	padding-left: 10px;
	padding-top: 10px;
	text-align: center;
	color: #FFFFFF;
	font-size: 18px;
	font-family: actor, sans-serif;
	font-weight: 400;
	margin-left: 10px;
	top: -7px;
	margin-bottom: -7px;
	position: relative;
}

#u3563-2
{
	line-height: 22px;
}

#u3563-4
{
	line-height: 25px;
}

#u3577
{
	z-index: 33;
	width: 174px;
	height: 49px;
	border-style: none;
	border-color: transparent;
	margin-left: 162px;
	margin-top: 50px;
	position: relative;
	background: transparent url("../images/registrate.png") no-repeat left top;
}

#pu3568-4
{
	width: 0.01px;
	padding-bottom: 0px;
	position: relative;
	margin-right: -10000px;
	margin-top: 11px;
	left: 496px;
}

#u3568-4
{
	z-index: 19;
	width: 270px;
	min-height: 28px;
	padding-left: 10px;
	padding-top: 10px;
	text-align: left;
	line-height: 20px;
	color: #FFFFFF;
	font-family: abel, sans-serif;
    font-size:16px;
	font-weight: 400;
	position: relative;
}

#u3565-4
{
	z-index: 10;
	width: 220px;
	min-height: 26px;
	color: #FFFFFF;
	font-family: actor, sans-serif;
	font-weight: 400;
	margin-left: 6px;
	margin-top: 12px;
	position: relative;
}

#u3564
{
	z-index: 9;
	width: 222px;
	height: 30px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #FFFFFF;
	margin-left: 2px;
	position: relative;
}

#u3567-4
{
	z-index: 15;
	width: 220px;
	min-height: 26px;
	color: #FFFFFF;
	font-family: actor, sans-serif;
	font-weight: 400;
	margin-left: 4px;
	margin-top: 14px;
	position: relative;
}

#u3566
{
	z-index: 14;
	width: 222px;
	height: 30px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #FFFFFF;
	position: relative;
}

#buttonu3569
{
	z-index: 23;
	width: 111px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
	padding-bottom: 1px;
	margin-left: 115px;
	margin-top: 16px;
	position: relative;
}

#buttonu3569:hover
{
	margin: 16px 0px 0px 115px;
}

#buttonu3569.ButtonSelected
{
	margin: 16px 0px 0px 115px;
}

#u3573
{
	z-index: 24;
	width: 108px;
	border-style: none;
	border-color: transparent;
	background-color: #00026D;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
	padding-bottom: 2px;
	position: relative;
	margin-right: -10000px;
}

#buttonu3569:hover #u3573
{
	margin: 0px -10000px 0px 0px;
}

#u3571
{
	z-index: 25;
	width: 108px;
	border-style: none;
	border-color: transparent;
	background-color: #03B2FB;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
	padding-bottom: 1px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
}

#buttonu3569:hover #u3571
{
	margin: 1px -10000px 0px 0px;
}

#u3570
{
	z-index: 26;
	width: 108px;
	border-style: none;
	border-color: transparent;
	background-color: #03B2FB;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
	position: relative;
	margin-right: -10000px;
}

#buttonu3569.ButtonSelected #u3573,#buttonu3569:hover #u3570
{
	margin: 0px -10000px 0px 0px;
}

#buttonu3569.ButtonSelected #u3570
{
	margin: 0px -10000px 0px 0px;
}

#u3575
{
	z-index: 27;
	width: 108px;
	border-style: none;
	border-color: transparent;
	background-color: #0081B6;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
}

#buttonu3569.ButtonSelected #u3571,#buttonu3569:hover #u3575
{
	margin: 1px -10000px 0px 0px;
}

#buttonu3569.ButtonSelected #u3575
{
	margin: 1px -10000px 0px 0px;
}

#u3574
{
	z-index: 28;
	width: 106px;
	background: #0C0C1A url("../images/u1096-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, from(#183BA9),color-stop(100%, #0C0C1A));
	background: -webkit-linear-gradient(top,#183BA9 ,#0C0C1A 100%);
	background: -moz-linear-gradient(top,#183BA9 ,#0C0C1A 100%);
	background: -ms-linear-gradient(top,#183BA9 ,#0C0C1A 100%);
	background: -o-linear-gradient(top,#183BA9 ,#0C0C1A 100%);
	background: linear-gradient(to bottom,#183BA9 ,#0C0C1A 100%);
	border-style: none;
	border-color: transparent;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
	padding-bottom: 4px;
	position: relative;
	margin-right: -10000px;
	left: 1px;
}

#buttonu3569:hover #u3574
{
	background: transparent url("../images/u1096-r-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, from(rgba(24, 59, 169, 0.51)),color-stop(100%, #0C0C1A));
	background: -webkit-linear-gradient(top,rgba(24, 59, 169, 0.51) ,#0C0C1A 100%);
	background: -moz-linear-gradient(top,rgba(24, 59, 169, 0.51) ,#0C0C1A 100%);
	background: -ms-linear-gradient(top,rgba(24, 59, 169, 0.51) ,#0C0C1A 100%);
	background: -o-linear-gradient(top,rgba(24, 59, 169, 0.51) ,#0C0C1A 100%);
	background: linear-gradient(to bottom,rgba(24, 59, 169, 0.51) ,#0C0C1A 100%);
	margin: 0px -10000px 0px 0px;
}

#buttonu3569.ButtonSelected #u3574
{
	background: #0C0C1A url("../images/u1096-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, from(#183BA9),color-stop(100%, #0C0C1A));
	background: -webkit-linear-gradient(top,#183BA9 ,#0C0C1A 100%);
	background: -moz-linear-gradient(top,#183BA9 ,#0C0C1A 100%);
	background: -ms-linear-gradient(top,#183BA9 ,#0C0C1A 100%);
	background: -o-linear-gradient(top,#183BA9 ,#0C0C1A 100%);
	background: linear-gradient(to bottom,#183BA9 ,#0C0C1A 100%);
	margin: 0px -10000px 0px 0px;
}

#u3576-4
{
	z-index: 29;
	width: 90px;
	min-height: 12px;
	text-align: center;
	color: #FFFFFF;
	font-size: 18px;
	line-height: 22px;
	font-family: actor, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 9px;
}

#page .verticalspacer
{
	clear: both;
}

