#u1942
{
	background-color: transparent;
	position: fixed;
}

#u3386_clip,#u3395_clip
{
	overflow: hidden;
}

.SSSlideLoading /* slideshowFreeStyle */
{
	background: url("../images/loading.gif") no-repeat center center;
}

#u317
{
	border-style: none;
	border-color: transparent;
	position: relative;
	background: #FFFFFF url("../images/barra3.jpg") repeat center top;
}

#u3386,#u3395,#u1766
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#u1766:hover
{
	background-color: transparent;
}

#u1766_img:hover
{
	opacity: 0.87;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=87)";
	filter: alpha(opacity=87);
}

#u3164-4
{
	line-height: 23px;
	font-size: 19px;
	font-family: abel, sans-serif;
	font-weight: 400;
	position: relative;
}

#buttonu3132
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
	position: relative;
}

#u3135
{
	border-style: none;
	border-color: transparent;
	background-color: #00026D;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
	position: relative;
}

#u3134
{
	border-style: none;
	border-color: transparent;
	background-color: #03B2FB;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
	position: relative;
}

#u3138
{
	border-style: none;
	border-color: transparent;
	background-color: #03B2FB;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
	position: relative;
}

#u3139
{
	border-style: none;
	border-color: transparent;
	background-color: #0081B6;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
	position: relative;
}

#u3137
{
	background: #0C0C1A url("../images/u3137-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, from(#183BA9),color-stop(100%, #0C0C1A));
	background: -webkit-linear-gradient(top,#183BA9 ,#0C0C1A 100%);
	background: -moz-linear-gradient(top,#183BA9 ,#0C0C1A 100%);
	background: -ms-linear-gradient(top,#183BA9 ,#0C0C1A 100%);
	background: -o-linear-gradient(top,#183BA9 ,#0C0C1A 100%);
	background: linear-gradient(to bottom,#183BA9 ,#0C0C1A 100%);
	border-style: none;
	border-color: transparent;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
	position: relative;
}

#buttonu3132:hover #u3137
{
	background: transparent url("../images/u3137-r-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, from(rgba(24, 59, 169, 0.51)),color-stop(100%, #0C0C1A));
	background: -webkit-linear-gradient(top,rgba(24, 59, 169, 0.51) ,#0C0C1A 100%);
	background: -moz-linear-gradient(top,rgba(24, 59, 169, 0.51) ,#0C0C1A 100%);
	background: -ms-linear-gradient(top,rgba(24, 59, 169, 0.51) ,#0C0C1A 100%);
	background: -o-linear-gradient(top,rgba(24, 59, 169, 0.51) ,#0C0C1A 100%);
	background: linear-gradient(to bottom,rgba(24, 59, 169, 0.51) ,#0C0C1A 100%);
}

#buttonu3132.ButtonSelected #u3137
{
	background: #0C0C1A url("../images/u3137-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, from(#183BA9),color-stop(100%, #0C0C1A));
	background: -webkit-linear-gradient(top,#183BA9 ,#0C0C1A 100%);
	background: -moz-linear-gradient(top,#183BA9 ,#0C0C1A 100%);
	background: -ms-linear-gradient(top,#183BA9 ,#0C0C1A 100%);
	background: -o-linear-gradient(top,#183BA9 ,#0C0C1A 100%);
	background: linear-gradient(to bottom,#183BA9 ,#0C0C1A 100%);
}

#buttonu3140
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
	position: relative;
}

#u3142
{
	border-style: none;
	border-color: transparent;
	background-color: #00026D;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
	position: relative;
}

#u3147
{
	border-style: none;
	border-color: transparent;
	background-color: #03B2FB;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
	position: relative;
}

#u3145
{
	border-style: none;
	border-color: transparent;
	background-color: #03B2FB;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
	position: relative;
}

#u3143
{
	border-style: none;
	border-color: transparent;
	background-color: #0081B6;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
	position: relative;
}

#u3141
{
	background: #0C0C1A url("../images/u3137-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, from(#183BA9),color-stop(100%, #0C0C1A));
	background: -webkit-linear-gradient(top,#183BA9 ,#0C0C1A 100%);
	background: -moz-linear-gradient(top,#183BA9 ,#0C0C1A 100%);
	background: -ms-linear-gradient(top,#183BA9 ,#0C0C1A 100%);
	background: -o-linear-gradient(top,#183BA9 ,#0C0C1A 100%);
	background: linear-gradient(to bottom,#183BA9 ,#0C0C1A 100%);
	border-style: none;
	border-color: transparent;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
	position: relative;
}

#buttonu3140:hover #u3141
{
	background: transparent url("../images/u3137-r-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, from(rgba(24, 59, 169, 0.51)),color-stop(100%, #0C0C1A));
	background: -webkit-linear-gradient(top,rgba(24, 59, 169, 0.51) ,#0C0C1A 100%);
	background: -moz-linear-gradient(top,rgba(24, 59, 169, 0.51) ,#0C0C1A 100%);
	background: -ms-linear-gradient(top,rgba(24, 59, 169, 0.51) ,#0C0C1A 100%);
	background: -o-linear-gradient(top,rgba(24, 59, 169, 0.51) ,#0C0C1A 100%);
	background: linear-gradient(to bottom,rgba(24, 59, 169, 0.51) ,#0C0C1A 100%);
}

#buttonu3140.ButtonSelected #u3141
{
	background: #0C0C1A url("../images/u3137-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, from(#183BA9),color-stop(100%, #0C0C1A));
	background: -webkit-linear-gradient(top,#183BA9 ,#0C0C1A 100%);
	background: -moz-linear-gradient(top,#183BA9 ,#0C0C1A 100%);
	background: -ms-linear-gradient(top,#183BA9 ,#0C0C1A 100%);
	background: -o-linear-gradient(top,#183BA9 ,#0C0C1A 100%);
	background: linear-gradient(to bottom,#183BA9 ,#0C0C1A 100%);
}

#buttonu3148
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
	position: relative;
}

#u3159
{
	border-style: none;
	border-color: transparent;
	background-color: #00026D;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
	position: relative;
}

#u3160
{
	border-style: none;
	border-color: transparent;
	background-color: #03B2FB;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
	position: relative;
}

#u3161
{
	border-style: none;
	border-color: transparent;
	background-color: #03B2FB;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
	position: relative;
}

#u3158
{
	border-style: none;
	border-color: transparent;
	background-color: #0081B6;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
	position: relative;
}

#u3163
{
	background: #0C0C1A url("../images/u3137-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, from(#183BA9),color-stop(100%, #0C0C1A));
	background: -webkit-linear-gradient(top,#183BA9 ,#0C0C1A 100%);
	background: -moz-linear-gradient(top,#183BA9 ,#0C0C1A 100%);
	background: -ms-linear-gradient(top,#183BA9 ,#0C0C1A 100%);
	background: -o-linear-gradient(top,#183BA9 ,#0C0C1A 100%);
	background: linear-gradient(to bottom,#183BA9 ,#0C0C1A 100%);
	border-style: none;
	border-color: transparent;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
	position: relative;
}

#buttonu3148:hover #u3163
{
	background: transparent url("../images/u3137-r-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, from(rgba(24, 59, 169, 0.51)),color-stop(100%, #0C0C1A));
	background: -webkit-linear-gradient(top,rgba(24, 59, 169, 0.51) ,#0C0C1A 100%);
	background: -moz-linear-gradient(top,rgba(24, 59, 169, 0.51) ,#0C0C1A 100%);
	background: -ms-linear-gradient(top,rgba(24, 59, 169, 0.51) ,#0C0C1A 100%);
	background: -o-linear-gradient(top,rgba(24, 59, 169, 0.51) ,#0C0C1A 100%);
	background: linear-gradient(to bottom,rgba(24, 59, 169, 0.51) ,#0C0C1A 100%);
}

#buttonu3148.ButtonSelected #u3163
{
	background: #0C0C1A url("../images/u3137-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, from(#183BA9),color-stop(100%, #0C0C1A));
	background: -webkit-linear-gradient(top,#183BA9 ,#0C0C1A 100%);
	background: -moz-linear-gradient(top,#183BA9 ,#0C0C1A 100%);
	background: -ms-linear-gradient(top,#183BA9 ,#0C0C1A 100%);
	background: -o-linear-gradient(top,#183BA9 ,#0C0C1A 100%);
	background: linear-gradient(to bottom,#183BA9 ,#0C0C1A 100%);
}

#buttonu3150
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
	position: relative;
}

#u3154
{
	border-style: none;
	border-color: transparent;
	background-color: #00026D;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
	position: relative;
}

#u3152
{
	border-style: none;
	border-color: transparent;
	background-color: #03B2FB;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
	position: relative;
}

#u3157
{
	border-style: none;
	border-color: transparent;
	background-color: #03B2FB;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
	position: relative;
}

#u3155
{
	border-style: none;
	border-color: transparent;
	background-color: #0081B6;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
	position: relative;
}

#u3156
{
	background: #0C0C1A url("../images/u3137-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, from(#183BA9),color-stop(100%, #0C0C1A));
	background: -webkit-linear-gradient(top,#183BA9 ,#0C0C1A 100%);
	background: -moz-linear-gradient(top,#183BA9 ,#0C0C1A 100%);
	background: -ms-linear-gradient(top,#183BA9 ,#0C0C1A 100%);
	background: -o-linear-gradient(top,#183BA9 ,#0C0C1A 100%);
	background: linear-gradient(to bottom,#183BA9 ,#0C0C1A 100%);
	border-style: none;
	border-color: transparent;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
	position: relative;
}

#buttonu3150:hover #u3156
{
	background: transparent url("../images/u3137-r-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, from(rgba(24, 59, 169, 0.51)),color-stop(100%, #0C0C1A));
	background: -webkit-linear-gradient(top,rgba(24, 59, 169, 0.51) ,#0C0C1A 100%);
	background: -moz-linear-gradient(top,rgba(24, 59, 169, 0.51) ,#0C0C1A 100%);
	background: -ms-linear-gradient(top,rgba(24, 59, 169, 0.51) ,#0C0C1A 100%);
	background: -o-linear-gradient(top,rgba(24, 59, 169, 0.51) ,#0C0C1A 100%);
	background: linear-gradient(to bottom,rgba(24, 59, 169, 0.51) ,#0C0C1A 100%);
}

#buttonu3150.ButtonSelected #u3156
{
	background: #0C0C1A url("../images/u3137-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, from(#183BA9),color-stop(100%, #0C0C1A));
	background: -webkit-linear-gradient(top,#183BA9 ,#0C0C1A 100%);
	background: -moz-linear-gradient(top,#183BA9 ,#0C0C1A 100%);
	background: -ms-linear-gradient(top,#183BA9 ,#0C0C1A 100%);
	background: -o-linear-gradient(top,#183BA9 ,#0C0C1A 100%);
	background: linear-gradient(to bottom,#183BA9 ,#0C0C1A 100%);
}

#u3133-4,#u3146-4,#u3149-4,#u3151-4
{
	text-align: center;
	color: #FFFFFF;
	font-size: 18px;
	line-height: 22px;
	font-family: abel, sans-serif;
	font-weight: 400;
	position: relative;
}

#u3212
{
	border-color: #000000;
	position: relative;
	background: transparent url("../images/sonidoon.png") no-repeat left top;
	background-size: cover !important;
    width:40px;
}

#u3220
{
	border-color: #000000;
	position: relative;
	background: transparent url("../images/sonidooff.png") no-repeat left top;
	background-size: cover !important;
    width:40px;
}

#u321-4
{
	background-color: transparent;
	line-height: 22px;
	color: #000000;
	font-size: 18px;
	font-family: abel, sans-serif;
	font-weight: 400;
	position: relative;
}

#u321-4:hover p
{
	color: #FFFFC8;
	visibility: inherit;
}

#u334
{
	position: absolute;
	border-width: 1px;
	border-style: solid;
	border-color: #DEDEDE;
	background-color: #DEDEDE;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
}

#u334:hover
{
	border-color: #999999;
}

#u324
{
	position: absolute;
	border-style: none;
	border-color: transparent;
	background-color: #191919;
	background-color: rgba(0, 0, 0, 0.9);
	-pie-background: rgba(0, 0, 0, 0.9);
}

#u325
{
	border-width: 1px;
	border-style: solid;
	border-color: #032855;
	background-color: #000000;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	-khtml-border-radius: 3px;
	border-radius: 3px;
	position: relative;
}

#u330-4
{
	line-height: 22px;
	color: #FFFFFF;
	font-size: 18px;
	font-family: actor, sans-serif;
	font-weight: 400;
	position: relative;
}

#buttonu1095
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
	position: relative;
}

#u1098
{
	border-style: none;
	border-color: transparent;
	background-color: #00026D;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
	position: relative;
}

#u1100
{
	border-style: none;
	border-color: transparent;
	background-color: #03B2FB;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
	position: relative;
}

#u1102
{
	border-style: none;
	border-color: transparent;
	background-color: #03B2FB;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
	position: relative;
}

#u1101
{
	border-style: none;
	border-color: transparent;
	background-color: #0081B6;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
	position: relative;
}

#u1096
{
	background: #0C0C1A url("../images/u1096-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, from(#183BA9),color-stop(100%, #0C0C1A));
	background: -webkit-linear-gradient(top,#183BA9 ,#0C0C1A 100%);
	background: -moz-linear-gradient(top,#183BA9 ,#0C0C1A 100%);
	background: -ms-linear-gradient(top,#183BA9 ,#0C0C1A 100%);
	background: -o-linear-gradient(top,#183BA9 ,#0C0C1A 100%);
	background: linear-gradient(to bottom,#183BA9 ,#0C0C1A 100%);
	border-style: none;
	border-color: transparent;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
	position: relative;
}

#buttonu1095:hover #u1096
{
	background: transparent url("../images/u1096-r-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, from(rgba(24, 59, 169, 0.51)),color-stop(100%, #0C0C1A));
	background: -webkit-linear-gradient(top,rgba(24, 59, 169, 0.51) ,#0C0C1A 100%);
	background: -moz-linear-gradient(top,rgba(24, 59, 169, 0.51) ,#0C0C1A 100%);
	background: -ms-linear-gradient(top,rgba(24, 59, 169, 0.51) ,#0C0C1A 100%);
	background: -o-linear-gradient(top,rgba(24, 59, 169, 0.51) ,#0C0C1A 100%);
	background: linear-gradient(to bottom,rgba(24, 59, 169, 0.51) ,#0C0C1A 100%);
}

#buttonu1095.ButtonSelected #u1096
{
	background: #0C0C1A url("../images/u1096-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, from(#183BA9),color-stop(100%, #0C0C1A));
	background: -webkit-linear-gradient(top,#183BA9 ,#0C0C1A 100%);
	background: -moz-linear-gradient(top,#183BA9 ,#0C0C1A 100%);
	background: -ms-linear-gradient(top,#183BA9 ,#0C0C1A 100%);
	background: -o-linear-gradient(top,#183BA9 ,#0C0C1A 100%);
	background: linear-gradient(to bottom,#183BA9 ,#0C0C1A 100%);
}

#buttonu378
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
	position: relative;
}

#u385
{
	border-style: none;
	border-color: transparent;
	background-color: #00026D;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
	position: relative;
}

#u382
{
	border-style: none;
	border-color: transparent;
	background-color: #03B2FB;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
	position: relative;
}

#u384
{
	border-style: none;
	border-color: transparent;
	background-color: #03B2FB;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
	position: relative;
}

#u383
{
	border-style: none;
	border-color: transparent;
	background-color: #0081B6;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
	position: relative;
}

#u380
{
	background: #0C0C1A url("../images/u1096-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, from(#183BA9),color-stop(100%, #0C0C1A));
	background: -webkit-linear-gradient(top,#183BA9 ,#0C0C1A 100%);
	background: -moz-linear-gradient(top,#183BA9 ,#0C0C1A 100%);
	background: -ms-linear-gradient(top,#183BA9 ,#0C0C1A 100%);
	background: -o-linear-gradient(top,#183BA9 ,#0C0C1A 100%);
	background: linear-gradient(to bottom,#183BA9 ,#0C0C1A 100%);
	border-style: none;
	border-color: transparent;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
	position: relative;
}

#buttonu378:hover #u380
{
	background: transparent url("../images/u1096-r-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, from(rgba(24, 59, 169, 0.51)),color-stop(100%, #0C0C1A));
	background: -webkit-linear-gradient(top,rgba(24, 59, 169, 0.51) ,#0C0C1A 100%);
	background: -moz-linear-gradient(top,rgba(24, 59, 169, 0.51) ,#0C0C1A 100%);
	background: -ms-linear-gradient(top,rgba(24, 59, 169, 0.51) ,#0C0C1A 100%);
	background: -o-linear-gradient(top,rgba(24, 59, 169, 0.51) ,#0C0C1A 100%);
	background: linear-gradient(to bottom,rgba(24, 59, 169, 0.51) ,#0C0C1A 100%);
}

#buttonu378.ButtonSelected #u380
{
	background: #0C0C1A url("../images/u1096-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, from(#183BA9),color-stop(100%, #0C0C1A));
	background: -webkit-linear-gradient(top,#183BA9 ,#0C0C1A 100%);
	background: -moz-linear-gradient(top,#183BA9 ,#0C0C1A 100%);
	background: -ms-linear-gradient(top,#183BA9 ,#0C0C1A 100%);
	background: -o-linear-gradient(top,#183BA9 ,#0C0C1A 100%);
	background: linear-gradient(to bottom,#183BA9 ,#0C0C1A 100%);
}

#menuu248
{
	border-style: none;
	border-color: transparent;
	position: relative;
	background: transparent url("../images/u990-r-grad-menuu248-fr.png") repeat-x center bottom;
}

#u304
{
	background: #0C0C1A url("../images/u304-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, from(#183BA9),color-stop(100%, #0C0C1A));
	background: -webkit-linear-gradient(top,#183BA9 ,#0C0C1A 100%);
	background: -moz-linear-gradient(top,#183BA9 ,#0C0C1A 100%);
	background: -ms-linear-gradient(top,#183BA9 ,#0C0C1A 100%);
	background: -o-linear-gradient(top,#183BA9 ,#0C0C1A 100%);
	background: linear-gradient(to bottom,#183BA9 ,#0C0C1A 100%);
	border-width: 1px;
	border-style: solid;
	border-color: #161616;
	position: relative;
}

#u304:hover
{
	background: #0C0C1A url("../images/u304-r-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, from(#999999),color-stop(100%, #0C0C1A));
	background: -webkit-linear-gradient(top,#999999 ,#0C0C1A 100%);
	background: -moz-linear-gradient(top,#999999 ,#0C0C1A 100%);
	background: -ms-linear-gradient(top,#999999 ,#0C0C1A 100%);
	background: -o-linear-gradient(top,#999999 ,#0C0C1A 100%);
	background: linear-gradient(to bottom,#999999 ,#0C0C1A 100%);
}

#u304:active
{
	background: #0C0C1A url("../images/u304-m-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, from(#08255B),color-stop(100%, #0C0C1A));
	background: -webkit-linear-gradient(top,#08255B ,#0C0C1A 100%);
	background: -moz-linear-gradient(top,#08255B ,#0C0C1A 100%);
	background: -ms-linear-gradient(top,#08255B ,#0C0C1A 100%);
	background: -o-linear-gradient(top,#08255B ,#0C0C1A 100%);
	background: linear-gradient(to bottom,#08255B ,#0C0C1A 100%);
}

#u304.MuseMenuActive
{
	background: #000000 url("../images/u304-a-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, from(#000000),color-stop(100%, #000000));
	background: -webkit-linear-gradient(top,#000000 ,#000000 100%);
	background: -moz-linear-gradient(top,#000000 ,#000000 100%);
	background: -ms-linear-gradient(top,#000000 ,#000000 100%);
	background: -o-linear-gradient(top,#000000 ,#000000 100%);
	background: linear-gradient(to bottom,#000000 ,#000000 100%);
}

#u460
{
	background: #0C0C1A url("../images/u304-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, from(#183BA9),color-stop(100%, #0C0C1A));
	background: -webkit-linear-gradient(top,#183BA9 ,#0C0C1A 100%);
	background: -moz-linear-gradient(top,#183BA9 ,#0C0C1A 100%);
	background: -ms-linear-gradient(top,#183BA9 ,#0C0C1A 100%);
	background: -o-linear-gradient(top,#183BA9 ,#0C0C1A 100%);
	background: linear-gradient(to bottom,#183BA9 ,#0C0C1A 100%);
	border-width: 1px;
	border-style: solid;
	border-color: #161616;
	position: relative;
}

#u460:hover
{
	background: #0C0C1A url("../images/u304-r-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, from(#999999),color-stop(100%, #0C0C1A));
	background: -webkit-linear-gradient(top,#999999 ,#0C0C1A 100%);
	background: -moz-linear-gradient(top,#999999 ,#0C0C1A 100%);
	background: -ms-linear-gradient(top,#999999 ,#0C0C1A 100%);
	background: -o-linear-gradient(top,#999999 ,#0C0C1A 100%);
	background: linear-gradient(to bottom,#999999 ,#0C0C1A 100%);
}

#u460:active
{
	background: #0C0C1A url("../images/u304-m-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, from(#08255B),color-stop(100%, #0C0C1A));
	background: -webkit-linear-gradient(top,#08255B ,#0C0C1A 100%);
	background: -moz-linear-gradient(top,#08255B ,#0C0C1A 100%);
	background: -ms-linear-gradient(top,#08255B ,#0C0C1A 100%);
	background: -o-linear-gradient(top,#08255B ,#0C0C1A 100%);
	background: linear-gradient(to bottom,#08255B ,#0C0C1A 100%);
}

#u460.MuseMenuActive
{
	background: #000000 url("../images/u304-a-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, from(#000000),color-stop(100%, #000000));
	background: -webkit-linear-gradient(top,#000000 ,#000000 100%);
	background: -moz-linear-gradient(top,#000000 ,#000000 100%);
	background: -ms-linear-gradient(top,#000000 ,#000000 100%);
	background: -o-linear-gradient(top,#000000 ,#000000 100%);
	background: linear-gradient(to bottom,#000000 ,#000000 100%);
}

#u447
{
	background: #0C0C1A url("../images/u304-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, from(#183BA9),color-stop(100%, #0C0C1A));
	background: -webkit-linear-gradient(top,#183BA9 ,#0C0C1A 100%);
	background: -moz-linear-gradient(top,#183BA9 ,#0C0C1A 100%);
	background: -ms-linear-gradient(top,#183BA9 ,#0C0C1A 100%);
	background: -o-linear-gradient(top,#183BA9 ,#0C0C1A 100%);
	background: linear-gradient(to bottom,#183BA9 ,#0C0C1A 100%);
	border-width: 1px;
	border-style: solid;
	border-color: #161616;
	position: relative;
}

#u447:hover
{
	background: #0C0C1A url("../images/u304-r-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, from(#999999),color-stop(100%, #0C0C1A));
	background: -webkit-linear-gradient(top,#999999 ,#0C0C1A 100%);
	background: -moz-linear-gradient(top,#999999 ,#0C0C1A 100%);
	background: -ms-linear-gradient(top,#999999 ,#0C0C1A 100%);
	background: -o-linear-gradient(top,#999999 ,#0C0C1A 100%);
	background: linear-gradient(to bottom,#999999 ,#0C0C1A 100%);
}

#u447:active
{
	background: #0C0C1A url("../images/u304-m-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, from(#08255B),color-stop(100%, #0C0C1A));
	background: -webkit-linear-gradient(top,#08255B ,#0C0C1A 100%);
	background: -moz-linear-gradient(top,#08255B ,#0C0C1A 100%);
	background: -ms-linear-gradient(top,#08255B ,#0C0C1A 100%);
	background: -o-linear-gradient(top,#08255B ,#0C0C1A 100%);
	background: linear-gradient(to bottom,#08255B ,#0C0C1A 100%);
}

#u447.MuseMenuActive
{
	background: #000000 url("../images/u304-a-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, from(#000000),color-stop(100%, #000000));
	background: -webkit-linear-gradient(top,#000000 ,#000000 100%);
	background: -moz-linear-gradient(top,#000000 ,#000000 100%);
	background: -ms-linear-gradient(top,#000000 ,#000000 100%);
	background: -o-linear-gradient(top,#000000 ,#000000 100%);
	background: linear-gradient(to bottom,#000000 ,#000000 100%);
}

#u434
{
	background: #0C0C1A url("../images/u304-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, from(#183BA9),color-stop(100%, #0C0C1A));
	background: -webkit-linear-gradient(top,#183BA9 ,#0C0C1A 100%);
	background: -moz-linear-gradient(top,#183BA9 ,#0C0C1A 100%);
	background: -ms-linear-gradient(top,#183BA9 ,#0C0C1A 100%);
	background: -o-linear-gradient(top,#183BA9 ,#0C0C1A 100%);
	background: linear-gradient(to bottom,#183BA9 ,#0C0C1A 100%);
	border-width: 1px;
	border-style: solid;
	border-color: #161616;
	position: relative;
}

#u434:hover
{
	background: #0C0C1A url("../images/u304-r-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, from(#999999),color-stop(100%, #0C0C1A));
	background: -webkit-linear-gradient(top,#999999 ,#0C0C1A 100%);
	background: -moz-linear-gradient(top,#999999 ,#0C0C1A 100%);
	background: -ms-linear-gradient(top,#999999 ,#0C0C1A 100%);
	background: -o-linear-gradient(top,#999999 ,#0C0C1A 100%);
	background: linear-gradient(to bottom,#999999 ,#0C0C1A 100%);
}

#u434:active
{
	background: #0C0C1A url("../images/u304-m-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, from(#08255B),color-stop(100%, #0C0C1A));
	background: -webkit-linear-gradient(top,#08255B ,#0C0C1A 100%);
	background: -moz-linear-gradient(top,#08255B ,#0C0C1A 100%);
	background: -ms-linear-gradient(top,#08255B ,#0C0C1A 100%);
	background: -o-linear-gradient(top,#08255B ,#0C0C1A 100%);
	background: linear-gradient(to bottom,#08255B ,#0C0C1A 100%);
}

#u434.MuseMenuActive
{
	background: #000000 url("../images/u304-a-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, from(#000000),color-stop(100%, #000000));
	background: -webkit-linear-gradient(top,#000000 ,#000000 100%);
	background: -moz-linear-gradient(top,#000000 ,#000000 100%);
	background: -ms-linear-gradient(top,#000000 ,#000000 100%);
	background: -o-linear-gradient(top,#000000 ,#000000 100%);
	background: linear-gradient(to bottom,#000000 ,#000000 100%);
}

#u473
{
	background: #0C0C1A url("../images/u304-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, from(#183BA9),color-stop(100%, #0C0C1A));
	background: -webkit-linear-gradient(top,#183BA9 ,#0C0C1A 100%);
	background: -moz-linear-gradient(top,#183BA9 ,#0C0C1A 100%);
	background: -ms-linear-gradient(top,#183BA9 ,#0C0C1A 100%);
	background: -o-linear-gradient(top,#183BA9 ,#0C0C1A 100%);
	background: linear-gradient(to bottom,#183BA9 ,#0C0C1A 100%);
	border-width: 1px;
	border-style: solid;
	border-color: #161616;
	position: relative;
}

#u473:hover
{
	background: #0C0C1A url("../images/u304-r-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, from(#999999),color-stop(100%, #0C0C1A));
	background: -webkit-linear-gradient(top,#999999 ,#0C0C1A 100%);
	background: -moz-linear-gradient(top,#999999 ,#0C0C1A 100%);
	background: -ms-linear-gradient(top,#999999 ,#0C0C1A 100%);
	background: -o-linear-gradient(top,#999999 ,#0C0C1A 100%);
	background: linear-gradient(to bottom,#999999 ,#0C0C1A 100%);
}

#u473:active
{
	background: #0C0C1A url("../images/u304-m-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, from(#08255B),color-stop(100%, #0C0C1A));
	background: -webkit-linear-gradient(top,#08255B ,#0C0C1A 100%);
	background: -moz-linear-gradient(top,#08255B ,#0C0C1A 100%);
	background: -ms-linear-gradient(top,#08255B ,#0C0C1A 100%);
	background: -o-linear-gradient(top,#08255B ,#0C0C1A 100%);
	background: linear-gradient(to bottom,#08255B ,#0C0C1A 100%);
}

#u473.MuseMenuActive
{
	background: #000000 url("../images/u304-a-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, from(#000000),color-stop(100%, #000000));
	background: -webkit-linear-gradient(top,#000000 ,#000000 100%);
	background: -moz-linear-gradient(top,#000000 ,#000000 100%);
	background: -ms-linear-gradient(top,#000000 ,#000000 100%);
	background: -o-linear-gradient(top,#000000 ,#000000 100%);
	background: linear-gradient(to bottom,#000000 ,#000000 100%);
}

#u497
{
	background: #0C0C1A url("../images/u304-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, from(#183BA9),color-stop(100%, #0C0C1A));
	background: -webkit-linear-gradient(top,#183BA9 ,#0C0C1A 100%);
	background: -moz-linear-gradient(top,#183BA9 ,#0C0C1A 100%);
	background: -ms-linear-gradient(top,#183BA9 ,#0C0C1A 100%);
	background: -o-linear-gradient(top,#183BA9 ,#0C0C1A 100%);
	background: linear-gradient(to bottom,#183BA9 ,#0C0C1A 100%);
	border-width: 1px;
	border-style: solid;
	border-color: #161616;
	position: relative;
}

#u497:hover
{
	background: #0C0C1A url("../images/u304-r-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, from(#999999),color-stop(100%, #0C0C1A));
	background: -webkit-linear-gradient(top,#999999 ,#0C0C1A 100%);
	background: -moz-linear-gradient(top,#999999 ,#0C0C1A 100%);
	background: -ms-linear-gradient(top,#999999 ,#0C0C1A 100%);
	background: -o-linear-gradient(top,#999999 ,#0C0C1A 100%);
	background: linear-gradient(to bottom,#999999 ,#0C0C1A 100%);
}

#u497:active
{
	background: #0C0C1A url("../images/u304-m-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, from(#08255B),color-stop(100%, #0C0C1A));
	background: -webkit-linear-gradient(top,#08255B ,#0C0C1A 100%);
	background: -moz-linear-gradient(top,#08255B ,#0C0C1A 100%);
	background: -ms-linear-gradient(top,#08255B ,#0C0C1A 100%);
	background: -o-linear-gradient(top,#08255B ,#0C0C1A 100%);
	background: linear-gradient(to bottom,#08255B ,#0C0C1A 100%);
}

#u497.MuseMenuActive
{
	background: #000000 url("../images/u304-a-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, from(#000000),color-stop(100%, #000000));
	background: -webkit-linear-gradient(top,#000000 ,#000000 100%);
	background: -moz-linear-gradient(top,#000000 ,#000000 100%);
	background: -ms-linear-gradient(top,#000000 ,#000000 100%);
	background: -o-linear-gradient(top,#000000 ,#000000 100%);
	background: linear-gradient(to bottom,#000000 ,#000000 100%);
}

#u486
{
	background: #0C0C1A url("../images/u304-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, from(#183BA9),color-stop(100%, #0C0C1A));
	background: -webkit-linear-gradient(top,#183BA9 ,#0C0C1A 100%);
	background: -moz-linear-gradient(top,#183BA9 ,#0C0C1A 100%);
	background: -ms-linear-gradient(top,#183BA9 ,#0C0C1A 100%);
	background: -o-linear-gradient(top,#183BA9 ,#0C0C1A 100%);
	background: linear-gradient(to bottom,#183BA9 ,#0C0C1A 100%);
	border-width: 1px;
	border-style: solid;
	border-color: #161616;
	position: relative;
}

#u486:hover
{
	background: #0C0C1A url("../images/u304-r-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, from(#999999),color-stop(100%, #0C0C1A));
	background: -webkit-linear-gradient(top,#999999 ,#0C0C1A 100%);
	background: -moz-linear-gradient(top,#999999 ,#0C0C1A 100%);
	background: -ms-linear-gradient(top,#999999 ,#0C0C1A 100%);
	background: -o-linear-gradient(top,#999999 ,#0C0C1A 100%);
	background: linear-gradient(to bottom,#999999 ,#0C0C1A 100%);
}

#u486:active
{
	background: #0C0C1A url("../images/u304-m-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, from(#08255B),color-stop(100%, #0C0C1A));
	background: -webkit-linear-gradient(top,#08255B ,#0C0C1A 100%);
	background: -moz-linear-gradient(top,#08255B ,#0C0C1A 100%);
	background: -ms-linear-gradient(top,#08255B ,#0C0C1A 100%);
	background: -o-linear-gradient(top,#08255B ,#0C0C1A 100%);
	background: linear-gradient(to bottom,#08255B ,#0C0C1A 100%);
}

#u486.MuseMenuActive
{
	background: #000000 url("../images/u304-a-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, from(#000000),color-stop(100%, #000000));
	background: -webkit-linear-gradient(top,#000000 ,#000000 100%);
	background: -moz-linear-gradient(top,#000000 ,#000000 100%);
	background: -ms-linear-gradient(top,#000000 ,#000000 100%);
	background: -o-linear-gradient(top,#000000 ,#000000 100%);
	background: linear-gradient(to bottom,#000000 ,#000000 100%);
}

.SSFirstButton,.SSPreviousButton,.SSNextButton,.SSLastButton,.SSSlideLink,.SSCloseButton,.PamphletWidget .ThumbGroup .Thumb, .PamphletNextButton, .PamphletPrevButton, .PamphletCloseButton,.MenuItem /* slideshowFreeStyle */
{
	cursor: pointer;
}

#u693
{
	position: absolute;
	background-color: transparent;
}

#u1117
{
	border-style: none;
	border-color: transparent;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	-khtml-border-radius: 100px;
	border-radius: 100px;
	position: fixed;
	background: transparent url("../images/1398153143_facebook-px-u1117-fr.jpg") no-repeat center center;
	background: rgba(0,0,0,0) url("../images/1398153143_facebook-px.jpg") no-repeat center center;
	background-color: transparent;
	background-size: cover !important;
}

#u2114
{
	position: absolute;
	vertical-align: top;
	background: url("../images/u2114.png") no-repeat 0px 0px;
}

#u2114:hover
{
	background: url("../images/u2114-r.png") no-repeat 0px 0px;
}

#u2114.PamphletThumbSelected
{
	background: url("../images/u2114-a.png") no-repeat 0px 0px;
}

#u2109
{
	position: absolute;
	border-style: none;
	border-color: transparent;
	background-color: #191919;
	background-color: rgba(0, 0, 0, 0.9);
	-pie-background: rgba(0, 0, 0, 0.9);
}

#u1040
{
	position: absolute;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
}

#u1049
{
	position: absolute;
	border-style: none;
	border-color: transparent;
	background-color: #191919;
	background-color: rgba(0, 0, 0, 0.9);
	-pie-background: rgba(0, 0, 0, 0.9);
}

#u1050
{
	border-width: 1px;
	border-style: solid;
	border-color: #04234F;
	background-color: #000000;
	position: relative;
}

#u319,#u331,#u1011,#u982,#u866,#u1025,#u795,#u3171,#u1051
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#u358,#u357
{
	position: absolute;
	border-color: #DEDEDE;
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
}

#u358:hover,#u357:hover
{
	border-width: 1px;
	border-style: solid;
	border-color: #999999;
	background-color: transparent;
}

#u359
{
	position: absolute;
	border-style: none;
	border-color: transparent;
	background-color: #191919;
	background-color: rgba(0, 0, 0, 0.9);
	-pie-background: rgba(0, 0, 0, 0.9);
}

#u360
{
	border-width: 1px;
	border-style: solid;
	border-color: #04386A;
	background-color: #000000;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	-khtml-border-radius: 3px;
	border-radius: 3px;
	position: relative;
}

#u363
{
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	position: relative;
	background: transparent url("../images/debes-estar-registrado1.png") no-repeat center center;
	background-size: contain !important;
}

#u362-6
{
	border-style: none;
	border-color: transparent;
	background-color: #1A1A1A;
	text-align: center;
	color: #FFFFFF;
	font-size: 18px;
	font-family: actor, sans-serif;
	font-weight: 400;
	position: relative;
}

#u362-2
{
	line-height: 22px;
}

#u362-4
{
	line-height: 25px;
}

#u361-4
{
	text-align: left;
	line-height: 20px;
	color: #FFFFFF;
	font-family: actor, sans-serif;
	font-weight: 400;
	position: relative;
}

#u364-4,#u365-4
{
	color: #FFFFFF;
	font-family: actor, sans-serif;
	font-weight: 400;
	position: relative;
}

#u366,#u371
{
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #FFFFFF;
	position: relative;
}

#buttonu1080
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
	position: relative;
}

#u1084
{
	border-style: none;
	border-color: transparent;
	background-color: #00026D;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
	position: relative;
}

#u1082
{
	border-style: none;
	border-color: transparent;
	background-color: #03B2FB;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
	position: relative;
}

#u1085
{
	border-style: none;
	border-color: transparent;
	background-color: #03B2FB;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
	position: relative;
}

#u1087
{
	border-style: none;
	border-color: transparent;
	background-color: #0081B6;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
	position: relative;
}

#u1081
{
	background: #0C0C1A url("../images/u1096-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, from(#183BA9),color-stop(100%, #0C0C1A));
	background: -webkit-linear-gradient(top,#183BA9 ,#0C0C1A 100%);
	background: -moz-linear-gradient(top,#183BA9 ,#0C0C1A 100%);
	background: -ms-linear-gradient(top,#183BA9 ,#0C0C1A 100%);
	background: -o-linear-gradient(top,#183BA9 ,#0C0C1A 100%);
	background: linear-gradient(to bottom,#183BA9 ,#0C0C1A 100%);
	border-style: none;
	border-color: transparent;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
	position: relative;
}

#buttonu1080:hover #u1081
{
	background: transparent url("../images/u1096-r-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, from(rgba(24, 59, 169, 0.51)),color-stop(100%, #0C0C1A));
	background: -webkit-linear-gradient(top,rgba(24, 59, 169, 0.51) ,#0C0C1A 100%);
	background: -moz-linear-gradient(top,rgba(24, 59, 169, 0.51) ,#0C0C1A 100%);
	background: -ms-linear-gradient(top,rgba(24, 59, 169, 0.51) ,#0C0C1A 100%);
	background: -o-linear-gradient(top,rgba(24, 59, 169, 0.51) ,#0C0C1A 100%);
	background: linear-gradient(to bottom,rgba(24, 59, 169, 0.51) ,#0C0C1A 100%);
}

#buttonu1080.ButtonSelected #u1081
{
	background: #0C0C1A url("../images/u1096-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, from(#183BA9),color-stop(100%, #0C0C1A));
	background: -webkit-linear-gradient(top,#183BA9 ,#0C0C1A 100%);
	background: -moz-linear-gradient(top,#183BA9 ,#0C0C1A 100%);
	background: -ms-linear-gradient(top,#183BA9 ,#0C0C1A 100%);
	background: -o-linear-gradient(top,#183BA9 ,#0C0C1A 100%);
	background: linear-gradient(to bottom,#183BA9 ,#0C0C1A 100%);
}

#u1097-4,#u381-4,#u307-4,#u462-4,#u449-4,#u436-4,#u474-4,#u499-4,#u487-4,#u1086-4
{
	text-align: center;
	color: #FFFFFF;
	font-size: 18px;
	line-height: 22px;
	font-family: actor, sans-serif;
	font-weight: 400;
	position: relative;
}

#u2110,#u372
{
	border-width: 1px;
	border-style: solid;
	border-color: #04386A;
	background-color: #000000;
	position: relative;
}

#u2111,#u373
{
	border-style: none;
	border-color: transparent;
	background-color: #000000;
	position: relative;
}

#u348
{
	position: absolute;
	border-style: none;
	border-color: transparent;
	background: transparent url("../images/registrate.png") no-repeat left top;
}

#u348:hover
{
	background: transparent url("../images/registrate-u348-r-fr.png") no-repeat left top;
}

#u1115
{
	border-style: none;
	border-color: transparent;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	-khtml-border-radius: 100px;
	border-radius: 100px;
	position: fixed;
	background: transparent url("../images/1398153132_twitter-px-u1115-fr.jpg") no-repeat center center;
	background: rgba(0,0,0,0) url("../images/1398153132_twitter-px.jpg") no-repeat center center;
	background-color: transparent;
	background-size: cover !important;
}

#u1127
{
	border-style: none;
	border-color: transparent;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	-khtml-border-radius: 100px;
	border-radius: 100px;
	position: fixed;
	background: transparent url("../images/1398153149_youtube-px-u1127-fr.jpg") no-repeat center center;
	background: rgba(0,0,0,0) url("../images/1398153149_youtube-px.jpg") no-repeat center center;
	background-color: transparent;
	background-size: cover !important;
}

#u1120
{
	border-style: none;
	border-color: transparent;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	-khtml-border-radius: 100px;
	border-radius: 100px;
	position: fixed;
	background: transparent url("../images/1398153152_skype-px-u1120-fr.jpg") no-repeat center center;
	background: rgba(0,0,0,0) url("../images/1398153152_skype-px.jpg") no-repeat center center;
	background-color: transparent;
	background-size: cover !important;
}

#u1117:hover,#u1115:hover,#u1127:hover,#u1120:hover
{
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover !important;
}

#u921
{
	vertical-align: top;
	background: url("../images/puzzle-juega-u921.png") no-repeat 9px 9px;
	position: relative;
}

#u921:hover
{
	background: url("../images/puzzle-juega-u921-r.png") no-repeat 0px 0px;
}

#u914
{
	vertical-align: top;
	background: url("../images/puzzle-cajero-u914.png") no-repeat 9px 9px;
	position: relative;
}

#u914:hover
{
	background: url("../images/puzzle-cajero-u914-r.png") no-repeat 0px 0px;
}

#u875
{
	vertical-align: top;
	background: url("../images/puzzle-registrate-u875.png") no-repeat 9px 9px;
	position: relative;
}
#u875-6
{
	vertical-align: top;
	background: url("../images/puzzle-registrate-u875.png") no-repeat 9px 9px;
	position: relative;
}
#u875:hover
{
	background: url("../images/puzzle-registrate-u875-r.png") no-repeat 0px 0px;
}

#u1332
{
	border-style: none;
	border-color: transparent;
	position: fixed;
	background: transparent url("../images/icone_helpdesk1.png") no-repeat left top;
}

#u1332:hover
{
	background: transparent url("../images/icone_helpdesk2.png") no-repeat left top;
}

#u3118
{
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #FFFFFF;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
}

#u999
{
	border-style: solid;
	border-color: #995E1C;
	background-color: #000000;
	position: relative;
	border-width: 2px 0px 0px;
}

#slideshowu1910,#u317_align_to_page,#u3165,#u3129,#pamphletu323,#u333,#u247,#u303,#u457,#u444,#u431,#u470,#u496,#u483,#slideshowu677,#pamphletu2099,#u2113,#pamphletu1036,#u1039,#pamphletu347,#u356,#u999_align_to_page,#u1000
{
	position: relative;
}

