.html
{
	
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 479px;
	padding-bottom: 21px;
	margin-left: auto;
	margin-right: auto;
}

#pamphletu2118
{
	z-index: 2;
	width: 0.01px;
	height: 396px;
	position: relative;
	margin-right: -10000px;
	left: 11px;
}

#u2123
{
	z-index: 3;
	width: 945px;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: 286px;
	left: 2px;
}

#u2125
{
	position: absolute;
	width: 148px;
	height: 109px;
	border-width: 1px;
	border-style: solid;
	border-color: #C4C4C4;
	background: #FFFFFF url("../images/galeriagarotas20314_1-u2125-fr.jpg") no-repeat left top;
	background-size: contain !important;
}

#u2125:hover
{
	border-width: 1px;
	border-style: solid;
	border-color: #6B6B6B;
	width: 148px;
	height: 109px;
	min-height: 0px;
	margin: 0px;
	background: #FFFFFF url("../images/galeriagarotas20314_1-u2125-fr.jpg") no-repeat left top;
	background-size: contain !important;
}

#u2125:active
{
	border-width: 1px;
	border-style: solid;
	border-color: #6B6B6B;
	width: 148px;
	height: 109px;
	min-height: 0px;
	margin: 0px;
	background: #6B6B6B url("../images/galeriagarotas20314_1-u2125-fr.jpg") no-repeat left top;
	background-size: contain !important;
}

#u2125.PamphletThumbSelected
{
	border-style: none;
	border-color: #6B6B6B;
	width: 149px;
	height: 110px;
	min-height: 1px;
	margin: 0px 1px 1px 0px;
	background: #6B6B6B url("../images/galeriagarotas20314_1-u2125-a-fr.jpg") no-repeat center center;
	background-size: cover !important;
}

#u2129
{
	position: absolute;
	width: 148px;
	height: 109px;
	border-width: 1px;
	border-style: solid;
	border-color: #C4C4C4;
	left: 159px;
	background: #FFFFFF url("../images/mex-descanso-vs-brasil-u2129-fr.jpg") no-repeat center center;
	background-size: cover !important;
}

#u2129:hover
{
	border-color: #6B6B6B;
	width: 148px;
	height: 109px;
	min-height: 0px;
	margin: 0px;
	background: #FFFFFF url("../images/mex-descanso-vs-brasil-u2129-fr.jpg") no-repeat center center;
	background-size: cover !important;
}

#u2129:active
{
	border-color: #6B6B6B;
	width: 148px;
	height: 109px;
	min-height: 0px;
	margin: 0px;
	background: #6B6B6B url("../images/mex-descanso-vs-brasil-u2129-fr.jpg") no-repeat center center;
	background-size: cover !important;
}

#u2129.PamphletThumbSelected
{
	border-color: #6B6B6B;
	width: 148px;
	height: 109px;
	min-height: 0px;
	margin: 0px;
	background: #6B6B6B url("../images/mex-descanso-vs-brasil-u2129-fr.jpg") no-repeat center center;
	background-size: cover !important;
}

#u2128
{
	position: absolute;
	width: 148px;
	height: 109px;
	border-width: 1px;
	border-style: solid;
	border-color: #C4C4C4;
	left: 318px;
	background: #FFFFFF url("../images/wenger-100-partidos-u2128-fr.jpg") no-repeat center center;
	background-size: cover !important;
}

#u2128:hover
{
	border-color: #6B6B6B;
	width: 148px;
	height: 109px;
	min-height: 0px;
	margin: 0px;
	background: #FFFFFF url("../images/wenger-100-partidos-u2128-fr.jpg") no-repeat center center;
	background-size: cover !important;
}

#u2128:active
{
	border-color: #6B6B6B;
	width: 148px;
	height: 109px;
	min-height: 0px;
	margin: 0px;
	background: #6B6B6B url("../images/wenger-100-partidos-u2128-fr.jpg") no-repeat center center;
	background-size: cover !important;
}

#u2128.PamphletThumbSelected
{
	border-color: #6B6B6B;
	width: 148px;
	height: 109px;
	min-height: 0px;
	margin: 0px;
	background: #6B6B6B url("../images/wenger-100-partidos-u2128-fr.jpg") no-repeat center center;
	background-size: cover !important;
}

#u2127
{
	position: absolute;
	width: 148px;
	height: 109px;
	border-width: 1px;
	border-style: solid;
	border-color: #C4C4C4;
	left: 477px;
	background: #FFFFFF url("../images/marco1_20032014-u2127-fr.jpg") no-repeat center center;
	background-size: cover !important;
}

#u2127:hover
{
	border-color: #6B6B6B;
	width: 148px;
	height: 109px;
	min-height: 0px;
	margin: 0px;
	background: #FFFFFF url("../images/marco1_20032014-u2127-fr.jpg") no-repeat center center;
	background-size: cover !important;
}

#u2127:active
{
	border-color: #6B6B6B;
	width: 148px;
	height: 109px;
	min-height: 0px;
	margin: 0px;
	background: #6B6B6B url("../images/marco1_20032014-u2127-fr.jpg") no-repeat center center;
	background-size: cover !important;
}

#u2127.PamphletThumbSelected
{
	border-color: #6B6B6B;
	width: 148px;
	height: 109px;
	min-height: 0px;
	margin: 0px;
	background: #6B6B6B url("../images/marco1_20032014-u2127-fr.jpg") no-repeat center center;
	background-size: cover !important;
}

#u2124
{
	position: absolute;
	width: 148px;
	height: 109px;
	border-width: 1px;
	border-style: solid;
	border-color: #C4C4C4;
	left: 636px;
	background: #FFFFFF url("../images/giron1_20032014-u2124-fr.jpg") no-repeat left top;
	background-size: cover !important;
}

#u2124:hover
{
	border-color: #6B6B6B;
	width: 148px;
	height: 109px;
	min-height: 0px;
	margin: 0px;
	background: #FFFFFF url("../images/giron1_20032014-u2124-fr.jpg") no-repeat left top;
	background-size: cover !important;
}

#u2124:active
{
	border-color: #6B6B6B;
	width: 148px;
	height: 109px;
	min-height: 0px;
	margin: 0px;
	background: #6B6B6B url("../images/giron1_20032014-u2124-fr.jpg") no-repeat left top;
	background-size: cover !important;
}

#u2124.PamphletThumbSelected
{
	border-color: #6B6B6B;
	width: 148px;
	height: 109px;
	min-height: 0px;
	margin: 0px;
	background: #6B6B6B url("../images/giron1_20032014-u2124-fr.jpg") no-repeat left top;
	background-size: cover !important;
}

#u2126
{
	position: absolute;
	width: 148px;
	height: 109px;
	border-width: 1px;
	border-style: solid;
	border-color: #C4C4C4;
	left: 795px;
	background: #FFFFFF url("../images/messi-argentina-suerte-u2126-fr.jpg") no-repeat center center;
	background-size: cover !important;
}

#u2126:hover
{
	border-color: #6B6B6B;
	width: 148px;
	height: 109px;
	min-height: 0px;
	margin: 0px;
	background: #FFFFFF url("../images/messi-argentina-suerte-u2126-fr.jpg") no-repeat center center;
	background-size: cover !important;
}

#u2126:active
{
	border-color: #6B6B6B;
	width: 148px;
	height: 109px;
	min-height: 0px;
	margin: 0px;
	background: #6B6B6B url("../images/messi-argentina-suerte-u2126-fr.jpg") no-repeat center center;
	background-size: cover !important;
}

#u2126.PamphletThumbSelected
{
	border-color: #6B6B6B;
	width: 148px;
	height: 109px;
	min-height: 0px;
	margin: 0px;
	background: #6B6B6B url("../images/messi-argentina-suerte-u2126-fr.jpg") no-repeat center center;
	background-size: cover !important;
}

#u2130
{
	position: absolute;
	width: 956px;
}

#u2130popup
{
	z-index: 10;
}

#u2161
{
	z-index: 11;
	width: 956px;
	height: 273px;
	border-style: none;
	border-color: transparent;
	background-color: #000000;
	margin-right: -10000px;
	position: relative;
}

#u2166
{
	z-index: 12;
	width: 591px;
	height: 272px;
	border-style: none;
	border-color: transparent;
	position: relative;
	margin-right: -10000px;
	background: #FFFFFF url("../images/galeriagarotas20314_1-u2166-fr.jpg") no-repeat center center;
	background-size: cover !important;
}

#pu2164-5
{
	width: 0.01px;
	padding-bottom: 0px;
	position: relative;
	margin-right: -10000px;
	margin-top: 25px;
	left: 607px;
}

#u2164-5
{
	z-index: 13;
	width: 333px;
	position: relative;
}

#u2164-2
{
	font-size: 30px;
	line-height: 36px;
	color: #E8C007;
	font-weight: bold;
}

#u2165-4
{
	z-index: 18;
	width: 333px;
	min-height: 79px;
	line-height: 22px;
	color: #FFFFFF;
	font-size: 18px;
	position: relative;
}

#u2163
{
	z-index: 22;
	width: 191px;
	background: -webkit-gradient(linear, center top, center bottom, from(#F8CD07),color-stop(100%, #CAA807));
	background: -webkit-linear-gradient(top,#F8CD07 ,#CAA807 100%);
	background: -moz-linear-gradient(top,#F8CD07 ,#CAA807 100%);
	background: -ms-linear-gradient(top,#F8CD07 ,#CAA807 100%);
	background: -o-linear-gradient(top,#F8CD07 ,#CAA807 100%);
	background: linear-gradient(to bottom,#F8CD07 ,#CAA807 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#FFF8CD07, endColorstr=#FFCAA807, GradientType=0);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFF8CD07', endColorstr='#FFCAA807', GradientType=0)";
	border-color: #000000;
	padding-bottom: 7px;
	margin-left: 71px;
	margin-top: 36px;
	position: relative;
}

#u2162-4
{
	z-index: 23;
	width: 162px;
	min-height: 20px;
	text-align: center;
	line-height: 20px;
	font-size: 17px;
	font-family: changa-one, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 6px;
	left: 15px;
}

#u2143
{
	z-index: 27;
	width: 956px;
	height: 273px;
	border-style: none;
	border-color: transparent;
	background-color: #000000;
	margin-right: -10000px;
	position: relative;
}

#u2148
{
	z-index: 28;
	width: 591px;
	height: 272px;
	border-style: none;
	border-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
	background: #FFFFFF url("../images/mex-descanso-vs-brasil-u2148-fr.jpg") no-repeat center center;
	background-size: cover !important;
}

#u2146-5
{
	z-index: 29;
	width: 333px;
	position: relative;
}

#u2147-4
{
	z-index: 34;
	width: 333px;
	min-height: 79px;
	line-height: 22px;
	color: #FFFFFF;
	font-size: 18px;
	position: relative;
}

#u2144
{
	z-index: 38;
	width: 191px;
	background: -webkit-gradient(linear, center top, center bottom, from(#F8CD07),color-stop(100%, #CAA807));
	background: -webkit-linear-gradient(top,#F8CD07 ,#CAA807 100%);
	background: -moz-linear-gradient(top,#F8CD07 ,#CAA807 100%);
	background: -ms-linear-gradient(top,#F8CD07 ,#CAA807 100%);
	background: -o-linear-gradient(top,#F8CD07 ,#CAA807 100%);
	background: linear-gradient(to bottom,#F8CD07 ,#CAA807 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#FFF8CD07, endColorstr=#FFCAA807, GradientType=0);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFF8CD07', endColorstr='#FFCAA807', GradientType=0)";
	border-color: #000000;
	padding-bottom: 7px;
	margin-left: 71px;
	margin-top: 36px;
	position: relative;
}

#u2145-4
{
	z-index: 39;
	width: 162px;
	min-height: 20px;
	text-align: center;
	line-height: 20px;
	font-size: 17px;
	font-family: changa-one, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 6px;
	left: 15px;
}

#u2137
{
	z-index: 43;
	width: 956px;
	height: 273px;
	border-style: none;
	border-color: transparent;
	background-color: #000000;
	margin-right: -10000px;
	position: relative;
}

#u2142
{
	z-index: 44;
	width: 591px;
	height: 272px;
	border-style: none;
	border-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
	left: 1px;
	background: #FFFFFF url("../images/wenger-100-partidos-u2142-fr.jpg") no-repeat center center;
	background-size: cover !important;
}

#pu2146-5,#pu2138-5
{
	width: 0.01px;
	padding-bottom: 0px;
	position: relative;
	margin-right: -10000px;
	margin-top: 26px;
	left: 608px;
}

#u2138-5
{
	z-index: 45;
	width: 333px;
	position: relative;
}

#u2140-4
{
	z-index: 50;
	width: 333px;
	min-height: 79px;
	line-height: 22px;
	color: #FFFFFF;
	font-size: 18px;
	position: relative;
}

#u2141
{
	z-index: 54;
	width: 191px;
	background: -webkit-gradient(linear, center top, center bottom, from(#F8CD07),color-stop(100%, #CAA807));
	background: -webkit-linear-gradient(top,#F8CD07 ,#CAA807 100%);
	background: -moz-linear-gradient(top,#F8CD07 ,#CAA807 100%);
	background: -ms-linear-gradient(top,#F8CD07 ,#CAA807 100%);
	background: -o-linear-gradient(top,#F8CD07 ,#CAA807 100%);
	background: linear-gradient(to bottom,#F8CD07 ,#CAA807 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#FFF8CD07, endColorstr=#FFCAA807, GradientType=0);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFF8CD07', endColorstr='#FFCAA807', GradientType=0)";
	border-color: #000000;
	padding-bottom: 7px;
	margin-left: 71px;
	position: relative;
}

#u2139-4
{
	z-index: 55;
	width: 162px;
	min-height: 20px;
	text-align: center;
	line-height: 20px;
	font-size: 17px;
	font-family: changa-one, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 6px;
	left: 15px;
}

#u2131
{
	z-index: 59;
	width: 956px;
	height: 273px;
	border-style: none;
	border-color: transparent;
	background-color: #000000;
	margin-right: -10000px;
	position: relative;
}

#u2136
{
	z-index: 60;
	width: 591px;
	height: 272px;
	border-style: none;
	border-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
	left: 1px;
	background: #FFFFFF url("../images/marco1_20032014-u2136-fr.jpg") no-repeat center center;
	background-size: cover !important;
}

#u2132-5
{
	z-index: 61;
	width: 333px;
	position: relative;
}

#u2134-4
{
	z-index: 66;
	width: 333px;
	min-height: 79px;
	line-height: 22px;
	color: #FFFFFF;
	font-size: 18px;
	position: relative;
}

#u2133
{
	z-index: 70;
	width: 191px;
	background: -webkit-gradient(linear, center top, center bottom, from(#F8CD07),color-stop(100%, #CAA807));
	background: -webkit-linear-gradient(top,#F8CD07 ,#CAA807 100%);
	background: -moz-linear-gradient(top,#F8CD07 ,#CAA807 100%);
	background: -ms-linear-gradient(top,#F8CD07 ,#CAA807 100%);
	background: -o-linear-gradient(top,#F8CD07 ,#CAA807 100%);
	background: linear-gradient(to bottom,#F8CD07 ,#CAA807 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#FFF8CD07, endColorstr=#FFCAA807, GradientType=0);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFF8CD07', endColorstr='#FFCAA807', GradientType=0)";
	border-color: #000000;
	padding-bottom: 7px;
	margin-left: 70px;
	margin-top: 5px;
	position: relative;
}

#u2135-4
{
	z-index: 71;
	width: 162px;
	min-height: 20px;
	text-align: center;
	line-height: 20px;
	font-size: 17px;
	font-family: changa-one, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 6px;
	left: 15px;
}

#u2155
{
	z-index: 75;
	width: 956px;
	height: 273px;
	border-style: none;
	border-color: transparent;
	background-color: #000000;
	margin-right: -10000px;
	position: relative;
}

#u2158
{
	z-index: 76;
	width: 591px;
	height: 272px;
	border-style: none;
	border-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
	left: 1px;
	background: #FFFFFF url("../images/giron1_20032014-u2158-fr.jpg") no-repeat center center;
	background-size: cover !important;
}

#u2156-5
{
	z-index: 77;
	width: 333px;
	position: relative;
}

#u2157-4
{
	z-index: 82;
	width: 333px;
	min-height: 79px;
	line-height: 22px;
	color: #FFFFFF;
	font-size: 18px;
	position: relative;
}

#u2159
{
	z-index: 86;
	width: 191px;
	background: -webkit-gradient(linear, center top, center bottom, from(#F8CD07),color-stop(100%, #CAA807));
	background: -webkit-linear-gradient(top,#F8CD07 ,#CAA807 100%);
	background: -moz-linear-gradient(top,#F8CD07 ,#CAA807 100%);
	background: -ms-linear-gradient(top,#F8CD07 ,#CAA807 100%);
	background: -o-linear-gradient(top,#F8CD07 ,#CAA807 100%);
	background: linear-gradient(to bottom,#F8CD07 ,#CAA807 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#FFF8CD07, endColorstr=#FFCAA807, GradientType=0);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFF8CD07', endColorstr='#FFCAA807', GradientType=0)";
	border-color: #000000;
	padding-bottom: 7px;
	margin-left: 70px;
	margin-top: 27px;
	position: relative;
}

#u2160-4
{
	z-index: 87;
	width: 162px;
	min-height: 20px;
	text-align: center;
	line-height: 20px;
	font-size: 17px;
	font-family: changa-one, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 6px;
	left: 15px;
}

#u2149
{
	z-index: 91;
	width: 956px;
	height: 273px;
	border-style: none;
	border-color: transparent;
	background-color: #000000;
	margin-right: -10000px;
	position: relative;
}

#u2152
{
	z-index: 92;
	width: 591px;
	height: 272px;
	border-style: none;
	border-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
	left: 1px;
	background: #FFFFFF url("../images/messi-argentina-suerte-u2152-fr.jpg") no-repeat center center;
	background-size: cover !important;
}

#pu2132-5,#pu2156-5,#pu2153-5
{
	width: 0.01px;
	padding-bottom: 0px;
	position: relative;
	margin-right: -10000px;
	margin-top: 26px;
	left: 609px;
}

#u2153-5
{
	z-index: 93;
	width: 333px;
	position: relative;
}

#u2146-2,#u2138-2,#u2132-2,#u2156-2,#u2153-2
{
	font-size: 30px;
	line-height: 36px;
	color: #FCEE21;
	font-weight: bold;
}

#u2154-4
{
	z-index: 98;
	width: 333px;
	min-height: 79px;
	line-height: 22px;
	color: #FFFFFF;
	font-size: 18px;
	position: relative;
}

#u2151
{
	z-index: 102;
	width: 191px;
	background: -webkit-gradient(linear, center top, center bottom, from(#F8CD07),color-stop(100%, #CAA807));
	background: -webkit-linear-gradient(top,#F8CD07 ,#CAA807 100%);
	background: -moz-linear-gradient(top,#F8CD07 ,#CAA807 100%);
	background: -ms-linear-gradient(top,#F8CD07 ,#CAA807 100%);
	background: -o-linear-gradient(top,#F8CD07 ,#CAA807 100%);
	background: linear-gradient(to bottom,#F8CD07 ,#CAA807 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#FFF8CD07, endColorstr=#FFCAA807, GradientType=0);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFF8CD07', endColorstr='#FFCAA807', GradientType=0)";
	border-color: #000000;
	padding-bottom: 7px;
	margin-left: 70px;
	position: relative;
}

#u2150-4
{
	z-index: 103;
	width: 162px;
	min-height: 20px;
	text-align: center;
	line-height: 20px;
	font-size: 17px;
	font-family: changa-one, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 6px;
	left: 15px;
}

#slideshowu2174
{
	z-index: 107;
	width: 0.01px;
	height: 255px;
	position: relative;
	margin-right: -10000px;
	margin-top: 436px;
	left: 11px;
}

#u2204popup
{
	z-index: 108;
}

#u2205
{
	z-index: 109;
	width: 309px;
	height: 239px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u2178popup
{
	z-index: 111;
}

#u2179-4
{
	z-index: 112;
	width: 290px;
	min-height: 56px;
	border-style: none;
	border-color: transparent;
	background-color: #494949;
	background-color: rgba(0, 0, 0, 0.71);
	padding: 10px;
	text-align: left;
	line-height: 28px;
	color: #FFFFFF;
	font-size: 20px;
	font-weight: bold;
	margin-right: -10000px;
	position: relative;
	-pie-background: rgba(0, 0, 0, 0.71);
}

.PamphletWidget .ThumbGroup .Thumb, .PamphletNextButton, .PamphletPrevButton, .PamphletCloseButton,.SSFirstButton,.SSPreviousButton,.SSNextButton,.SSLastButton,.SSSlideLink,.SSCloseButton /* pamphlet2 */
{
	cursor: pointer;
}

.SSSlideLoading /* slideshowFreeStyle */
{
	background: url("../images/loading.gif") no-repeat center center;
}

#slideshowu2273
{
	z-index: 134;
	width: 0.01px;
	height: 255px;
	position: relative;
	margin-right: -10000px;
	margin-top: 703px;
	left: 11px;
}

#u2278popup
{
	z-index: 135;
}

#u2279
{
	z-index: 136;
	width: 309px;
	height: 239px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u2279_img
{
	margin-left: -25px;
	margin-right: -25px;
}

#u2304popup
{
	z-index: 138;
}

#u2305-4
{
	z-index: 139;
	width: 290px;
	min-height: 56px;
	border-style: none;
	border-color: transparent;
	background-color: #494949;
	background-color: rgba(0, 0, 0, 0.71);
	padding: 10px;
	text-align: left;
	line-height: 28px;
	color: #FFFFFF;
	font-size: 20px;
	font-weight: bold;
	margin-right: -10000px;
	position: relative;
	-pie-background: rgba(0, 0, 0, 0.71);
}

#slideshowu2207
{
	z-index: 116;
	width: 0.01px;
	height: 255px;
	position: relative;
	margin-right: -10000px;
	margin-top: 436px;
	left: 334px;
}

#u2237popup
{
	z-index: 117;
}

#u2238
{
	z-index: 118;
	width: 309px;
	height: 239px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u2238_img
{
	margin-left: -5px;
	margin-right: -4px;
}

#u2227popup
{
	z-index: 120;
}

#u2228-4
{
	z-index: 121;
	width: 290px;
	min-height: 56px;
	border-style: none;
	border-color: transparent;
	background-color: #494949;
	background-color: rgba(0, 0, 0, 0.71);
	padding: 10px;
	text-align: left;
	line-height: 28px;
	color: #FFFFFF;
	font-size: 20px;
	font-weight: bold;
	margin-right: -10000px;
	position: relative;
	-pie-background: rgba(0, 0, 0, 0.71);
}

#slideshowu2306
{
	z-index: 143;
	width: 0.01px;
	height: 255px;
	position: relative;
	margin-right: -10000px;
	margin-top: 703px;
	left: 334px;
}

#u2336popup
{
	z-index: 144;
}

#u2337
{
	z-index: 145;
	width: 309px;
	height: 239px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u2307popup
{
	z-index: 147;
}

#u2308-4
{
	z-index: 148;
	width: 290px;
	min-height: 56px;
	border-style: none;
	border-color: transparent;
	background-color: #494949;
	background-color: rgba(0, 0, 0, 0.71);
	padding: 10px;
	text-align: left;
	line-height: 28px;
	color: #FFFFFF;
	font-size: 20px;
	font-weight: bold;
	margin-right: -10000px;
	position: relative;
	-pie-background: rgba(0, 0, 0, 0.71);
}

#slideshowu2240
{
	z-index: 125;
	width: 0.01px;
	height: 255px;
	position: relative;
	margin-right: -10000px;
	margin-top: 436px;
	left: 657px;
}

#u2253popup
{
	z-index: 126;
}

#u2254
{
	z-index: 127;
	width: 309px;
	height: 239px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u2251popup
{
	z-index: 129;
}

#u2252-4
{
	z-index: 130;
	width: 290px;
	min-height: 56px;
	border-style: none;
	border-color: transparent;
	background-color: #494949;
	background-color: rgba(0, 0, 0, 0.71);
	padding: 10px;
	text-align: left;
	line-height: 28px;
	color: #FFFFFF;
	font-size: 20px;
	font-weight: bold;
	margin-right: -10000px;
	position: relative;
	-pie-background: rgba(0, 0, 0, 0.71);
}

#slideshowu2339
{
	z-index: 152;
	width: 0.01px;
	height: 255px;
	position: relative;
	margin-right: -10000px;
	margin-top: 703px;
	left: 658px;
}

#u2204,#u2278,#u2237,#u2336,#u2253,#u2347
{
	position: absolute;
	width: 309px;
	height: 239px;
	background-color: transparent;
	left: 1px;
}

#u2347popup
{
	z-index: 153;
}

#u2348
{
	z-index: 154;
	width: 309px;
	height: 239px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u2205_clip,#u2279_clip,#u2238_clip,#u2337_clip,#u2254_clip,#u2348_clip
{
	overflow: hidden;
	width: 309px;
	height: 239px;
}

#u2205_img,#u2337_img,#u2254_img,#u2348_img
{
	margin-left: -5px;
	margin-right: -5px;
}

#u2178,#u2304,#u2227,#u2307,#u2251,#u2345
{
	position: absolute;
	width: 310px;
	top: 179px;
}

#u2345popup
{
	z-index: 156;
}

#u2346-4
{
	z-index: 157;
	width: 290px;
	min-height: 56px;
	border-style: none;
	border-color: transparent;
	background-color: #494949;
	background-color: rgba(0, 0, 0, 0.71);
	padding: 10px;
	text-align: left;
	line-height: 28px;
	color: #FFFFFF;
	font-size: 20px;
	font-weight: bold;
	margin-right: -10000px;
	position: relative;
	-pie-background: rgba(0, 0, 0, 0.71);
}

#page .verticalspacer
{
	clear: both;
}

