.html
{
	
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 499.95000000000005px;
	padding-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: 20px;
	margin-bottom: 21px;
}

#pamphletu2827
{
	z-index: 2;
	width: 0.01px;
	height: 444px;
	padding-bottom: 269px;
	position: relative;
}

#u2828
{
	position: absolute;
	width: 662px;
	left: 291px;
}

#u2828popup
{
	z-index: 3;
}

#u2839
{
	z-index: 4;
	width: 662px;
	height: 713px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u2906
{
	z-index: 5;
	width: 660px;
	position: relative;
	margin-right: -10000px;
}

#u2891
{
	z-index: 7;
	width: 662px;
	height: 713px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u3438
{
	z-index: 8;
	width: 660px;
	position: relative;
	margin-right: -10000px;
	margin-top: 2px;
	left: 2px;
}

#u3443
{
	z-index: 10;
	width: 662px;
	height: 713px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u3455
{
	z-index: 11;
	width: 660px;
	position: relative;
	margin-right: -10000px;
	margin-top: 2px;
}

#u2850
{
	z-index: 13;
	width: 260px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
}

#u2855
{
	position: absolute;
	width: 263px;
	border-color: #DEDEDE;
	background-color: transparent;
}

#u2855:hover
{
	border-color: #999999;
	background-color: transparent;
	margin: 0px;
}

#u2855.PamphletThumbSelected
{
	border-color: #999999;
	background-color: #FDFDFD;
	background-color: rgba(70, 70, 70, 0.01);
	margin: 0px;
	-pie-background: rgba(70, 70, 70, 0.01);
}

#u2856
{
	z-index: 15;
	width: 260px;
	height: 215px;
	border-color: #000000;
	position: relative;
	margin-right: -10000px;
	background: #464646 url("../images/promo2.jpg") no-repeat left top;
}

#u2855:hover #u2856
{
	background-repeat: no-repeat;
	background-position: left top;
	margin: 0px -10000px 0px 0px;
}

#u2897
{
	position: absolute;
	width: 263px;
	border-color: #DEDEDE;
	background-color: transparent;
	top: 229px;
}

#u2897:hover
{
	border-color: #999999;
	background-color: transparent;
	margin: 0px;
}

#u2897.PamphletThumbSelected
{
	border-color: #999999;
	background-color: #FDFDFD;
	background-color: rgba(70, 70, 70, 0.01);
	margin: 0px;
	-pie-background: rgba(70, 70, 70, 0.01);
}

#u2899
{
	z-index: 17;
	width: 260px;
	height: 215px;
	border-color: #000000;
	position: relative;
	margin-right: -10000px;
	background: #464646 url("../images/260x215.jpg") no-repeat left top;
}

#u2855.PamphletThumbSelected #u2856,#u2897:hover #u2899
{
	background-repeat: no-repeat;
	background-position: left top;
	margin: 0px -10000px 0px 0px;
}

#u2897.PamphletThumbSelected #u2899
{
	background-repeat: no-repeat;
	background-position: left top;
	margin: 0px -10000px 0px 0px;
}

#u3447
{
	position: absolute;
	width: 263px;
	height: 215px;
	border-color: #DEDEDE;
	top: 459px;
	background: transparent url("../images/260x215t.png") no-repeat left top;
}

#u3447:hover
{
	background-repeat: no-repeat;
	background-position: left top;
	border-color: #999999;
	margin: 0px;
}

#u3447.PamphletThumbSelected
{
	background-repeat: no-repeat;
	background-position: left top;
	border-color: #DEDEDE;
	margin: 0px;
}

.PamphletWidget .ThumbGroup .Thumb, .PamphletNextButton, .PamphletPrevButton, .PamphletCloseButton /* pamphlet2 */
{
	cursor: pointer;
}

#page .verticalspacer
{
	clear: both;
}

