.html
{
	
}

#page
{
	z-index: 1;
	width: 0px;
	min-height: 0px;
	padding-top: 20px;
	padding-right: 960px;
	padding-bottom: 480px;
	margin-left: auto;
	margin-right: auto;
}

#page .verticalspacer
{
	clear: both;
}

