.version.index /* version checker */
{
	color: #000000;
	background-color: #3C58A5;
}

.html
{
	background-color: #000000;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 1216px;
	background-image: none;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

#pu2635-3
{
	width: 0.01px;
}

#u2635-3
{
	z-index: 2;
	width: 960px;
	min-height: 31px;
	border-style: none;
	border-color: transparent;
	position: relative;
	margin-right: -10000px;
	background: #EBC408 url("../images/barra31.jpg") repeat-x left top;
}

#u2636-4
{
	z-index: 5;
	width: 314px;
	min-height: 19px;
	background-color: transparent;
	letter-spacing: 2px;
	font-size: 20px;
	line-height: 24px;
	text-align: center;
	font-family: asap, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 7px;
	left: 347px;
}

#u2637
{
	z-index: 9;
	width: 960px;
	min-height: 474px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-top: 7px;
	position: relative;
}

#pu2639-3
{
	width: 0.01px;
	margin-top: 14px;
}

#u2639-3
{
	z-index: 10;
	width: 960px;
	min-height: 31px;
	border-style: none;
	border-color: transparent;
	position: relative;
	margin-right: -10000px;
	background: #EBC408 url("../images/barra31.jpg") repeat-x left top;
}

#u2640-4
{
	z-index: 13;
	width: 483px;
	min-height: 19px;
	background-color: transparent;
	letter-spacing: 2px;
	font-size: 20px;
	line-height: 24px;
	text-align: center;
	font-family: asap, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 3px;
	left: 262px;
}

#u3479
{
	z-index: 25;
	width: 960px;
	min-height: 263px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-top: 6px;
	position: relative;
}

#pu2681-3
{
	width: 0.01px;
	margin-top: 7px;
}

#u2681-3
{
	z-index: 17;
	width: 960px;
	min-height: 31px;
	border-style: none;
	border-color: transparent;
	position: relative;
	margin-right: -10000px;
	background: #EBC408 url("../images/barra31.jpg") repeat-x left top;
}

#u2682-4
{
	z-index: 20;
	width: 314px;
	min-height: 19px;
	background-color: transparent;
	letter-spacing: 2px;
	font-size: 20px;
	line-height: 24px;
	text-align: center;
	font-family: asap, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 2px;
	left: 347px;
}

#u2696
{
	z-index: 24;
	width: 960px;
	height: 119px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 47px;
}

.ie #u2696
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u2696:hover
{
	margin: 47px -10000px 0px 0px;
	background: transparent url("../images/frontmundial%20(1).png") no-repeat left top;
}

.ie #u2696:hover
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
}

#u4038
{
	z-index: 26;
	width: 960px;
	height: 339px;
	border-style: none;
	border-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 18px;
	background: transparent url("../images/vivelamovidapublicidad.png") no-repeat center center;
	background-size: contain;
}

#u4038:hover
{
	background-repeat: no-repeat;
	background-position: center center;
	margin: 18px -10000px 0px 0px;
	background-size: contain;
}

#u4222
{
	z-index: 27;
	width: 50px;
	min-height: 50px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 261px;
	left: 970px;
}

body
{
	position: relative;
	min-width: 960px;
	padding-bottom: 17px;
}

#page .verticalspacer
{
	clear: both;
}

