.version.promociones /* version checker */
{
	color: #0000FA;
	background-color: #A72E1B;
}

.html
{
	background-color: #000000;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 500px;
	background-image: none;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

#pu3894-3
{
	width: 0.01px;
}

#u3894-3
{
	z-index: 19;
	width: 960px;
	min-height: 31px;
	border-style: none;
	border-color: transparent;
	position: relative;
	margin-right: -10000px;
	background: #EBC408 url("../images/barra31.jpg") repeat-x left top;
}

#u3895-4
{
	z-index: 22;
	width: 216px;
	min-height: 19px;
	background-color: transparent;
	letter-spacing: 2px;
	font-size: 20px;
	line-height: 24px;
	text-align: center;
	font-family: asap, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 3px;
	left: 391px;
}

#pamphletu2827
{
	z-index: 2;
	width: 0.01px;
	height: 216px;
	padding-bottom: 548px;
	margin-left: 14px;
	margin-top: 14px;
	position: relative;
}

#u2828
{
	position: absolute;
	width: 703px;
	background-color: transparent;
	left: 272px;
}

#u2828popup
{
	z-index: 3;
}

#u2839
{
	z-index: 4;
	width: 703px;
	height: 764px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u5147
{
	z-index: 5;
	width: 660px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 15px;
}

#u3443
{
	z-index: 7;
	width: 703px;
	height: 764px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u5051
{
	z-index: 8;
	width: 660px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 15px;
}

#u3951
{
	z-index: 10;
	width: 703px;
	height: 764px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u2839.MuseLinkActive,#u3443.MuseLinkActive,#u3951.MuseLinkActive
{
	margin: 0px -10000px 0px 0px;
}

#u4475
{
	z-index: 11;
	width: 660px;
	height: 700px;
	position: relative;
	margin-right: -10000px;
	margin-top: 2px;
	left: 2px;
}

.ie #u4475
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u5159
{
	z-index: 12;
	width: 660px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 15px;
}

#u2850
{
	z-index: 14;
	width: 263px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
}

#u2855
{
	position: absolute;
	width: 263px;
	border-color: #DEDEDE;
	background-color: transparent;
}

#u2855:hover
{
	border-color: #999999;
	background-color: transparent;
	margin: 0px;
}

#u2855.PamphletThumbSelected
{
	border-color: #999999;
	background-color: #FDFDFD;
	background-color: rgba(70, 70, 70, 0.01);
	margin: 0px;
	-pie-background: rgba(70, 70, 70, 0.01);
}

#u2856
{
	z-index: 16;
	width: 263px;
	height: 215px;
	border-color: #000000;
	position: relative;
	margin-right: -10000px;
	background: #464646 url("../images/july_260x215.jpg") no-repeat center center;
	background-size: cover;
}

#u2855:hover #u2856
{
	background-repeat: no-repeat;
	background-position: center center;
	margin: 0px -10000px 0px 0px;
	background-size: cover;
}

#u2855.PamphletThumbSelected #u2856
{
	background-repeat: no-repeat;
	background-position: center center;
	margin: 0px -10000px 0px 0px;
	background-size: cover;
}

#u3447
{
	position: absolute;
	width: 263px;
	height: 215px;
	border-color: #DEDEDE;
	top: 488px;
	left: 1px;
	background: transparent url("../images/260x215.jpg") no-repeat center center;
	background-size: cover;
}

#u3447:hover
{
	background-repeat: no-repeat;
	background-position: center center;
	border-color: #999999;
	margin: 0px;
	background-size: cover;
}

#u3955
{
	position: absolute;
	width: 263px;
	height: 215px;
	border-color: #DEDEDE;
	top: 244px;
	left: 1px;
	background: transparent url("../images/megaacumulado260x215.jpg") no-repeat center center;
	background-size: cover;
}

#u3955:hover
{
	background-repeat: no-repeat;
	background-position: center center;
	border-color: #999999;
	margin: 0px;
	background-size: cover;
}

#u3447.PamphletThumbSelected,#u3955.PamphletThumbSelected
{
	background-repeat: no-repeat;
	background-position: center center;
	border-color: #DEDEDE;
	margin: 0px;
	background-size: cover;
}

.PamphletWidget .ThumbGroup .Thumb,.PamphletNextButton,.PamphletPrevButton,.PamphletCloseButton /* pamphlet2 */
{
	cursor: pointer;
}

body
{
	position: relative;
	min-width: 960px;
	padding-bottom: 8px;
}

#page .verticalspacer
{
	clear: both;
}

