.version.sportsbook /* version checker */
{
	color: #00001B;
	background-color: #C23124;
}

.html
{
	background-color: #000000;
}

#page
{
	z-index: 1;
	width: 0px;
	min-height: 0px;
	background-image: none;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-top: 20px;
	padding-right: 960px;
	padding-bottom: 480px;
	margin-left: auto;
	margin-right: auto;
}

body
{
	position: relative;
	min-width: 960px;
	padding-bottom: 8px;
}

#page .verticalspacer
{
	clear: both;
}

