﻿html{

}
.Capa_0 {
  background-color: #000;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 800px;
  height: 409px;
  z-index: 1;
}
fieldset
{
    border:none;
    }
.Formulario_de_registro {
  font-size: 18px;
 	font-family: Abel, sans-serif;
  color: rgb( 255, 255, 255 );
  position: absolute;
  left: 10.911px;
  top: 11.985px;
  width: 400px;
  height: 13px;
  z-index: 30;
}

.Nombre_text {
  font-size: 17.278px;
  font-family: "arial";
  color: rgb( 255, 255, 255 );
  line-height: 2.778;
  text-align: left;
  -moz-transform: matrix( 0.86705882352941,0,0,0.8681446907818,0,0);
  -webkit-transform: matrix( 0.86705882352941,0,0,0.8681446907818,0,0);
  -ms-transform: matrix( 0.86705882352941,0,0,0.8681446907818,0,0);
  position: absolute;
  left: 12px;
  top: 38px;
  width: 300px;
  z-index: 2;
}
.Apellido_text {
  font-size: 17.278px;
  font-family: "Arial";
  color: rgb( 255, 255, 255 );
  line-height: 2.778;
  text-align: left;
  -moz-transform: matrix( 0.86705882352941,0,0,0.8681446907818,0,0);
  -webkit-transform: matrix( 0.86705882352941,0,0,0.8681446907818,0,0);
  -ms-transform: matrix( 0.86705882352941,0,0,0.8681446907818,0,0);
  position: absolute;
  left: 206px;
  top: 38px;
  width: 300px;
  z-index: 3;
}
.Email_text {
  font-size: 17.278px;
  font-family: "arial";
  color: rgb( 255, 255, 255 );
  line-height: 2.778;
  text-align: left;
  -moz-transform: matrix( 0.86705882352941,0,0,0.8681446907818,0,0);
  -webkit-transform: matrix( 0.86705882352941,0,0,0.8681446907818,0,0);
  -ms-transform: matrix( 0.86705882352941,0,0,0.8681446907818,0,0);
  position: absolute;
  left: 12px;
  top: 95px;
  width: 300px;
  z-index: 4;
}
.Email_text1 {
  font-size: 17.278px;
  font-family: "arial";
  color: rgb( 255, 255, 255 );
  line-height: 2.778;
  text-align: left;
  -moz-transform: matrix( 0.86705882352941,0,0,0.8681446907818,0,0);
  -webkit-transform: matrix( 0.86705882352941,0,0,0.8681446907818,0,0);
  -ms-transform: matrix( 0.86705882352941,0,0,0.8681446907818,0,0);
  position: absolute;
  left: 206px;
  top: 95px;
  width: 300px;
  z-index: 4;
}
.cedula_text {
  font-size: 17.278px;
  font-family: "arial";
  color: rgb( 255, 255, 255 );
  line-height: 2.778;
  text-align: left;
  -moz-transform: matrix( 0.86705882352941,0,0,0.8681446907818,0,0);
  -webkit-transform: matrix( 0.86705882352941,0,0,0.8681446907818,0,0);
  -ms-transform: matrix( 0.86705882352941,0,0,0.8681446907818,0,0);
  position: absolute;
  left: 12px;
  top: 150px;
  width: 300px;
  z-index: 15;
}
.Fechan_text {
  font-size: 17.278px;
  font-family: "arial";
  color: rgb( 255, 255, 255 );
  line-height: 2.778;
  text-align: left;
  -moz-transform: matrix( 0.86705882352941,0,0,0.8681446907818,0,0);
  -webkit-transform: matrix( 0.86705882352941,0,0,0.8681446907818,0,0);
  -ms-transform: matrix( 0.86705882352941,0,0,0.8681446907818,0,0);
  position: absolute;
  left: 12px;
  top: 205px;
  width: 300px;
 
  z-index: 16;
}
.pais_text {
  font-size: 17.278px;
  font-family: "arial";
  color: rgb( 255, 255, 255 );
  line-height: 2.778;
  text-align: left;
  -moz-transform: matrix( 0.86705882352941,0,0,0.8681446907818,0,0);
  -webkit-transform: matrix( 0.86705882352941,0,0,0.8681446907818,0,0);
  -ms-transform: matrix( 0.86705882352941,0,0,0.8681446907818,0,0);
  position: absolute;
  left:    12px;
  top:     265px;
  width:300px;
  
  z-index: 17;
}
.estado_text {
  font-size: 17.278px;
  font-family: "arial";
  color: rgb( 255, 255, 255 );
  line-height: 2.778;
  text-align: left;
  -moz-transform: matrix( 0.86705882352941,0,0,0.8681446907818,0,0);
  -webkit-transform: matrix( 0.86705882352941,0,0,0.8681446907818,0,0);
  -ms-transform: matrix( 0.86705882352941,0,0,0.8681446907818,0,0);
  position: absolute;
  left:    206px;
  top:     265px;
  width:   300px;
  z-index: 18;
}
.telefono_text {
  font-size: 17.278px;
  font-family: "arial";
  color: rgb( 255, 255, 255 );
  line-height: 2.778;
  text-align: left;
  -moz-transform: matrix( 0.86705882352941,0,0,0.8681446907818,0,0);
  -webkit-transform: matrix( 0.86705882352941,0,0,0.8681446907818,0,0);
  -ms-transform: matrix( 0.86705882352941,0,0,0.8681446907818,0,0);
  position: absolute;
  left:     12px;
  top:      320px;
  width:    300px;
    z-index:   19;
}
.Pregunta_text {
  font-size: 17.278px;
  font-family: "Arial";
  color: rgb( 255, 255, 255 );
  line-height: 2.778;
  text-align: left;
  -moz-transform: matrix( 0.86705882352941,0,0,0.8681446907818,0,0);
  -webkit-transform: matrix( 0.86705882352941,0,0,0.8681446907818,0,0);
  -ms-transform: matrix( 0.86705882352941,0,0,0.8681446907818,0,0);
  position: absolute;
  left: 410px;
  top: 38px;
  width: 300px;
  z-index: 20;
}
.Respuesta_text {
  font-size: 17.278px;
  font-family: "Arial";
  color: rgb( 255, 255, 255 );
  line-height: 2.778;
  text-align: left;
  -moz-transform: matrix( 0.86705882352941,0,0,0.8681446907818,0,0);
  -webkit-transform: matrix( 0.86705882352941,0,0,0.8681446907818,0,0);
  -ms-transform: matrix( 0.86705882352941,0,0,0.8681446907818,0,0);
  position: absolute;
  left: 410px;
  top: 95px;
  width: 300px;
  z-index: 21;
}
.terminos_text {
  font-size: 14.974px;
  font-family: "Arial";
  color: rgb( 255, 255, 255 );
  text-align: left;
  -moz-transform: matrix( 0.86705882352941,0,0,0.8681446907818,0,0);
  -webkit-transform: matrix( 0.86705882352941,0,0,0.8681446907818,0,0);
  -ms-transform: matrix( 0.86705882352941,0,0,0.8681446907818,0,0);
  position: absolute;
  left: 427.801px;
  top: 303.649px;
  width: 372.398px;
  z-index: 28;
}
.Referido_text {
  font-size: 17.278px;
  font-family: "Arial";
  color: rgb( 255, 255, 255 );
  line-height: 2.778;
  text-align: left;
  -moz-transform: matrix( 0.86705882352941,0,0,0.8681446907818,0,0);
  -webkit-transform: matrix( 0.86705882352941,0,0,0.8681446907818,0,0);
  -ms-transform: matrix( 0.86705882352941,0,0,0.8681446907818,0,0);
  position: absolute;
  left: 410px;
  top: 205px;
  width: 300px;
   z-index: 27;
}
.Como_text {
  font-size: 17.278px;
  font-family: "Arial";
  color: rgb( 255, 255, 255 );
  line-height: 2.778;
  text-align: left;
  -moz-transform: matrix( 0.86705882352941,0,0,0.8681446907818,0,0);
  -webkit-transform: matrix( 0.86705882352941,0,0,0.8681446907818,0,0);
  -ms-transform: matrix( 0.86705882352941,0,0,0.8681446907818,0,0);
  position: absolute;
  left: 410px;
  top: 150px;
  width: 300px;
  z-index: 26;
}
.boton_input {
/* border-style: none; */
/* border-color: inherit; */
/* border-width: medium; */
background-image: -ms-linear-gradient( 90deg, rgb(202,168,7) 0%, rgb(248,205,7) 100%);
position: absolute;
background: none;
left: 564px;
top: 345px;
width: 154px;
height: 41px;
z-index: 29;
font-size: 22px;
font-family: "Franklin Gothic Demi Cond";
color: rgb( 0, 0, 0 );
text-align: center;
background-image: url("/contenido/images/enviarregistro.png");
}
.boton_input:hover {
    background-image: url("/contenido/images/enviarregistroover.png");
}
.Enviar_text {
  font-size: 22px;
  font-family: "Franklin Gothic Demi Cond";
  color: rgb( 0, 0, 0 );
  text-align: center;
  position: absolute;
  left: 608.941px;
  top: 352.663px;
  width: 300px;
  z-index: 32;
}

.acepto_input {
  border-style: solid;
  border-width: 1px;
  border-color: rgb( 213, 177, 7 );
  border-radius: 1px;
  background-color: rgb( 28, 47, 86 );
  position: absolute;
  left: 412px;
  top: 303px;
  width: 13px;
  height: 13px;
  z-index: 32;
}
.acepto_txt 
{
    font-family:Arial;
    font-size:13px;
  color:#fff;
  position: absolute;
  left: 438px;
  top: 301px;
 
  z-index: 32;
}
.acepto_txt a {
  color:#fff;
 
 
}
.Nombre_input {
  border-radius: 1px;
  background-color: #fff;
  position: absolute;
  left: 12px;
  top: 73px;
  height: 28px;
  z-index: 5;
  border:none;
  color:#000;
  padding:5px;
  font-size: 14px;
  width:180px;
}
.dia_input {
  border-radius: 1px;
  background-color: #fff;
  position: absolute;
  left: 12px;
  top: 239px;
   width: 180px;
  height: 28px;
  z-index: 150;
  border:none;
  color:#000;
  font-size: 14px;
  padding:5px;
}
.mes_input {
  border-radius: 1px;
  background-color: #fff;
  position: absolute;
  left: 63px;
  top: 239px;
  width: 40px;
  height: 28px;
  z-index: 7;
  border:none;
  color:#000;
  font-size: 14px;
  padding:5px;
}
.ano_input {
  border-radius: 1px;
  background-color: #fff;
  position: absolute;
  left: 117px;
  top: 239px;
  width: 76px;
  height: 28px;
  z-index: 8;
  border:none;
  color:#000;
  font-size: 14px;
  padding:5px;
}
 
.cedula_input {
  border-radius: 1px;
  background-color: #fff;
  position: absolute;
  left: 13px;
  top: 182px;
  width: 180px;
  height: 28px;
  z-index: 9 ;
  border:none;
  color:#000;
  font-size: 14px;
  padding:5px;
}
.pais_input {
  border-radius: 1px;
  background-color: #fff;
  position: absolute;
  left: 11px;
  top: 297px;
  width: 180px;
  height: 28px;
  z-index: 10;
    border:none;
    font-size: 14px;
  color:#000;
   
  
}
 
.telefono_input {
  border-radius: 1px;
  background-color: #fff;
  position: absolute;
  left: 11px;
  top: 353px;
  width: 180px;
  height: 28px;
  z-index: 11;
    border:none;
  color:#000;
  font-size: 14px;
  padding:5px;
  
}
 
 
.email_input {
  border-radius: 1px;
  background-color: #fff;
  position: absolute;
  left: 12px;
  top: 128px;
  width: 180px;
  height: 28px;
  z-index: 12;
    border:none;
    font-size: 14px;
  color:#000;
  padding:5px;
}
 .email_input1 {
  border-radius: 1px;
  background-color: #fff;
  position: absolute;
  left: 206px;
  top: 128px;
  width: 180px;
  height: 28px;
  z-index: 12;
    border:none;
    font-size: 14px;
  color:#000;
  padding:5px;
}
.apellido_input {
  border-radius: 1px;
 background-color: #fff;
  position: absolute;
  left: 206px;
  top: 73px;
  width: 180px;
  height: 28px;
  z-index: 13;
    border:none;
  color:#000;
  font-size: 14px;
  padding:5px;
}
 
.estado_input {
  border-radius: 1px;
  background-color: #fff;
  position: absolute;
  left: 206px;
  top: 297px;
  width: 180px;
  height: 28px;
  z-index: 14;
  border:none;
  color:#000;
  font-size: 14px;
  padding:5px;
}
 
 
.pregunta_input {
  background-color: #fff;
  position: absolute;
  left: 412px;
  top: 74px;
  width: 372px;
  height: 27px;
  z-index:15;
  border:none;
  color:#000;
  font-size: 14px;
  padding:5px;
}
.como_input {
  border-radius: 1px;
 background-color: #fff;
  position: absolute;
  left: 412px;
  top: 182px;
  width: 372px;
  height: 28px;
  z-index: 23;
    border:none;
    font-size: 14px;
  color:#000;
  
}
 
.referido_input {
  border-radius: 1px;
  background-color: #fff;
  position: absolute;
  left: 412px;
  top: 239px;
  width: 372px;
  height: 28px;
  z-index: 24;
    border:none;
  color:#000;
  font-size: 14px;
  padding:5px;
}
 
.respuesta_input {
  border-radius: 1px;
  background-color: #fff;
  position: absolute;
  left: 411px;
  top: 128px;
  width: 373px;
  height: 28px;
  z-index: 25;
    border:none;
    font-size: 14px;
  color:#000;
  padding:5px;
}
 
.boton_calendar,.ui-datepicker-trigger 
{
  border:none;
  background-image: url("images/boton-calendar.png");
  background-color: rgb(0, 0, 0 );
  position: absolute;
  left: 207px;
  top: 242px;
  width: 23px;
  height: 23px;
  cursor:auto;
  z-index: 33;
}
