.html
{
	background-color: #000000;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 500px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-bottom: -12381px;
}

#u70
{
	z-index: 195;
	width: 218px;
	margin-left: 276px;
	position: relative;
}

#u69-193
{
	z-index: 2;
	width: 748px;
	min-height: 310px;
	color: #FFFFFF;
	margin-left: 20px;
	margin-top: 28px;
	position: relative;
}

#u78-4
{
	z-index: 197;
	width: 658px;
	min-height: 47px;
	text-align: justify;
	color: #FFFFFF;
	line-height: 14px;
	font-size: 12px;
	margin-left: 110px;
	margin-top: 15px;
	position: relative;
}

#u79-6
{
	z-index: 215;
	width: 586px;
	min-height: 47px;
	text-align: justify;
	color: #FFFFFF;
	line-height: 14px;
	font-size: 12px;
	margin-left: 182px;
	margin-top: 9px;
	position: relative;
}

#u84-4
{
	z-index: 231;
	width: 748px;
	min-height: 33px;
	font-size: 12px;
	color: #FFFFFF;
	line-height: 14px;
	margin-left: 20px;
	top: -7px;
	margin-bottom: -7px;
	position: relative;
}

#u85-4
{
	z-index: 201;
	width: 658px;
	min-height: 20px;
	text-align: justify;
	color: #FFFFFF;
	line-height: 14px;
	font-size: 12px;
	margin-left: 110px;
	margin-top: 13px;
	position: relative;
}

#u86-10
{
	z-index: 221;
	width: 586px;
	min-height: 155px;
	text-align: justify;
	color: #FFFFFF;
	line-height: 14px;
	font-size: 12px;
	margin-left: 182px;
	margin-top: 3px;
	position: relative;
}

#u87-10
{
	z-index: 205;
	width: 658px;
	min-height: 167px;
	text-align: justify;
	color: #FFFFFF;
	line-height: 14px;
	font-size: 12px;
	margin-left: 110px;
	margin-top: 6px;
	position: relative;
}

#u89-158
{
	z-index: 235;
	width: 748px;
	min-height: 233px;
	color: #FFFFFF;
	margin-left: 20px;
	margin-top: 13px;
	position: relative;
}

#u89-3,#u89-7,#u89-9,#u89-11,#u89-13,#u89-14,#u89-18,#u89-19,#u89-23,#u89-25,#u89-27,#u89-29,#u89-31,#u89-33,#u89-35,#u89-37,#u89-39,#u89-41,#u89-42,#u89-46,#u89-48,#u89-50,#u89-52,#u89-54,#u89-56,#u89-58,#u89-60,#u89-62,#u89-64,#u89-66,#u89-68,#u89-69,#u89-73,#u89-75,#u89-76,#u89-80,#u89-82,#u89-84,#u89-86,#u89-88,#u89-90,#u89-92,#u89-94,#u89-96,#u89-98,#u89-100,#u89-102,#u89-104,#u89-106,#u89-108,#u89-110,#u89-112,#u89-114,#u89-116,#u89-118,#u89-119,#u89-123,#u89-125,#u89-126,#u89-130,#u89-132,#u89-134,#u89-136,#u89-138,#u89-140,#u89-141,#u89-145,#u89-147,#u89-149,#u89-151,#u89-153,#u89-154
{
	font-size: 12px;
	text-align: justify;
	line-height: 14px;
	font-weight: normal;
}

#u90-8
{
	z-index: 393;
	width: 658px;
	min-height: 47px;
	text-align: justify;
	color: #FFFFFF;
	line-height: 14px;
	font-size: 12px;
	margin-left: 110px;
	margin-top: 10px;
	position: relative;
}

#u91-43
{
	z-index: 401;
	width: 748px;
	min-height: 213px;
	text-align: justify;
	color: #FFFFFF;
	line-height: 14px;
	font-size: 12px;
	margin-left: 20px;
	margin-top: 6px;
	position: relative;
}

#u93-492
{
	z-index: 444;
	width: 748px;
	min-height: 8695px;
	color: #FFFFFF;
	margin-left: 20px;
	margin-top: 16px;
	position: relative;
}

#u91-41,#u93-2,#u93-18
{
	font-weight: bold;
}

#u69-20,#u69-188,#u89-2,#u93-249
{
	font-size: 13px;
	text-align: center;
	line-height: 16px;
	font-weight: bold;
}

#u69-2,#u69-21,#u69-23,#u69-35,#u69-48,#u69-93,#u69-102,#u69-109,#u69-124,#u69-169,#u69-174,#u69-191,#u89-5,#u89-16,#u89-21,#u89-44,#u89-71,#u89-78,#u89-121,#u89-128,#u89-143,#u89-156,#u93-32,#u93-47,#u93-52,#u93-57,#u93-70,#u93-72,#u93-91,#u93-98,#u93-115,#u93-128,#u93-135,#u93-156,#u93-169,#u93-186,#u93-191,#u93-198,#u93-207,#u93-214,#u93-223,#u93-228,#u93-235,#u93-242,#u93-250,#u93-252,#u93-260,#u93-277,#u93-302,#u93-309,#u93-320,#u93-325,#u93-334,#u93-341,#u93-352,#u93-363,#u93-380,#u93-382,#u93-387,#u93-392,#u93-401,#u93-420,#u93-447,#u93-472,#u93-477,#u93-486
{
	font-size: 12px;
	text-align: justify;
	line-height: 14px;
	font-weight: bold;
}

#u69-3,#u69-5,#u69-6,#u69-8,#u69-9,#u69-11,#u69-12,#u69-14,#u69-15,#u69-17,#u69-18,#u69-24,#u69-26,#u69-27,#u69-29,#u69-30,#u69-32,#u69-33,#u69-37,#u69-39,#u69-41,#u69-43,#u69-45,#u69-46,#u69-50,#u69-52,#u69-54,#u69-56,#u69-58,#u69-60,#u69-62,#u69-64,#u69-66,#u69-68,#u69-70,#u69-72,#u69-74,#u69-76,#u69-78,#u69-80,#u69-82,#u69-84,#u69-86,#u69-88,#u69-90,#u69-91,#u69-95,#u69-97,#u69-99,#u69-100,#u69-104,#u69-106,#u69-107,#u69-111,#u69-113,#u69-115,#u69-117,#u69-119,#u69-121,#u69-122,#u69-126,#u69-128,#u69-130,#u69-132,#u69-134,#u69-136,#u69-138,#u69-140,#u69-142,#u69-144,#u69-146,#u69-148,#u69-150,#u69-152,#u69-154,#u69-156,#u69-158,#u69-160,#u69-162,#u69-164,#u69-166,#u69-167,#u69-171,#u69-172,#u69-176,#u69-178,#u69-180,#u69-182,#u69-184,#u69-185,#u69-186,#u69-189,#u93-3,#u93-5,#u93-7,#u93-9,#u93-11,#u93-13,#u93-15,#u93-16,#u93-19,#u93-21,#u93-23,#u93-25,#u93-27,#u93-29,#u93-30,#u93-34,#u93-36,#u93-38,#u93-40,#u93-42,#u93-44,#u93-45,#u93-49,#u93-50,#u93-54,#u93-55,#u93-59,#u93-61,#u93-63,#u93-65,#u93-67,#u93-69,#u93-74,#u93-76,#u93-78,#u93-80,#u93-82,#u93-84,#u93-86,#u93-88,#u93-89,#u93-93,#u93-95,#u93-96,#u93-100,#u93-102,#u93-104,#u93-106,#u93-108,#u93-110,#u93-112,#u93-113,#u93-117,#u93-119,#u93-121,#u93-123,#u93-125,#u93-126,#u93-130,#u93-132,#u93-133,#u93-137,#u93-139,#u93-141,#u93-143,#u93-145,#u93-147,#u93-149,#u93-151,#u93-153,#u93-154,#u93-158,#u93-160,#u93-162,#u93-164,#u93-166,#u93-167,#u93-171,#u93-173,#u93-175,#u93-177,#u93-179,#u93-181,#u93-183,#u93-184,#u93-188,#u93-189,#u93-193,#u93-195,#u93-196,#u93-200,#u93-202,#u93-204,#u93-205,#u93-209,#u93-211,#u93-212,#u93-216,#u93-218,#u93-220,#u93-221,#u93-225,#u93-226,#u93-230,#u93-232,#u93-233,#u93-237,#u93-238,#u93-239,#u93-240,#u93-244,#u93-245,#u93-246,#u93-247,#u93-253,#u93-255,#u93-257,#u93-258,#u93-262,#u93-264,#u93-266,#u93-268,#u93-270,#u93-272,#u93-274,#u93-275,#u93-279,#u93-281,#u93-283,#u93-285,#u93-287,#u93-289,#u93-291,#u93-293,#u93-295,#u93-297,#u93-299,#u93-300,#u93-304,#u93-306,#u93-307,#u93-311,#u93-313,#u93-315,#u93-317,#u93-318,#u93-322,#u93-323,#u93-327,#u93-329,#u93-331,#u93-332,#u93-336,#u93-338,#u93-339,#u93-343,#u93-345,#u93-347,#u93-349,#u93-350,#u93-354,#u93-356,#u93-358,#u93-360,#u93-361,#u93-365,#u93-367,#u93-369,#u93-371,#u93-373,#u93-375,#u93-377,#u93-378,#u93-384,#u93-385,#u93-389,#u93-390,#u93-394,#u93-396,#u93-398,#u93-399,#u93-403,#u93-405,#u93-407,#u93-409,#u93-411,#u93-413,#u93-415,#u93-417,#u93-418,#u93-422,#u93-424,#u93-426,#u93-428,#u93-430,#u93-432,#u93-434,#u93-436,#u93-438,#u93-440,#u93-442,#u93-444,#u93-445,#u93-449,#u93-451,#u93-453,#u93-455,#u93-457,#u93-459,#u93-461,#u93-463,#u93-465,#u93-467,#u93-469,#u93-470,#u93-474,#u93-475,#u93-479,#u93-481,#u93-483,#u93-484,#u93-488,#u93-490
{
	font-size: 12px;
	text-align: justify;
	line-height: 14px;
}

body
{
	padding-top: 36px;
	padding-bottom: 12447px;
}

#page .verticalspacer
{
	clear: both;
}

