.html
{
	background-color: #000000;
}

#page
{
	z-index: 1;
	width: 714px;
	min-height: 376px;
	margin-left: auto;
	margin-right: auto;
	padding: 62px 226px 62px 20px;
}

#u112
{
	z-index: 2;
	width: 714px;
	min-height: 550px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	text-align: justify;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	position: relative;
}

body
{
	padding-top: 36px;
	padding-bottom: 36px;
}

#page .verticalspacer
{
	clear: both;
}

