﻿<%@ Page Language="C#" Inherits="System.Web.Mvc.ViewPage<dynamic>" %>
<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>Documento sin título</title>
<style>
html,body{
	width:100%;
	height:100%;
	margin:0;
	}
	#u969 {
    z-index: 19;
    width: 637px;
    height: 281px;
    border-width: 1px;
    border-style: solid;
    border-color: #BCBCBC;
    background-color: #FFFFFF;
    margin-left: 90px;
    margin-top: 10px;
    position: relative;
}
#u923-4 {
    z-index: 6;
    width: 638px;
    min-height: 24px;
    font-size: 18px;
    line-height: 22px;
    font-weight: bold;
    margin-left: 90px;
    margin-top: 20px;
    position: relative;
}
#u927-4 {
    z-index: 15;
    width: 124px;
    min-height: 31px;
    border-width: 1px;
    border-style: solid;
    border-color: #7F7F7F;
    background-color: #7F7F7F;
    text-align: center;
    margin-left: 603px;
    margin-top: 6px;
    position: relative;
}
#u924 {
    z-index: 10;
    width: 600px;
    height: 17px;
    border-width: 1px;
    border-style: solid;
    border-color: #BCBCBC;
    background-color: transparent;
    position: relative;
    margin-right: -10000px;
	    margin-left: 90px;
    margin-top: 10px;
}
#u925-4 {
    z-index: 11;
    width: 612px;
    min-height: 18px;
    position: relative;
    margin-right: -10000px;
    margin-top: 2px;
    left: 26px;
}
#pu924 {
    width: 0.01px;
    margin-left: 90px;
    margin-top: 8px;
}

</style>
<script src="../../Caja/scripts/jquery-1.8.3.min.js"></script>
</head>

<body>
<img src="<%:Url.Content("~/Caja/") %>images/arriba.jpg" width="800" height="124"  alt=""/>
<form class="clearfix" id="page" method="POST" action="https://www.pago-electronico.com/ipg_frame.php"><!-- column -->
     <input type="hidden" name="orderId" value="<%= ViewBag.orderid%>">
    
    <input type="hidden" name="total" value="<%= ViewBag.monto %>">
       
    <input type="hidden" name="strvalue2"value="http://www.betlaorchila.com:8885/servicios/recivocredito">
    <input type="hidden" name="currId" value="937">
    <input type="hidden" name="merchId" value="77130748">
     
    <input type="hidden" name="termId" value="4001">
    <input type="hidden" name="storeId" value="0">
      
   <input type="hidden" name="digest" value="<%= ViewBag.Digest %>">
    <input type="hidden" name="strvalue1" value="http://www.betlaorchila.com:8885/servicios/recivocredito">
    <input type="hidden" name="tipo_pago" value="1">
    <input type="hidden" name="color_table" value="white">
    <input type="hidden" name="color_fondo" value="white">
    <input type="hidden" name="color_celda" value="white">
    <input type="hidden" name="color_celda2" value="white">
    <input type="hidden" name="color_letra" value="black">
    <input type="hidden" name="tipo_letra" value="arial">
    <input type="hidden" name="tamano_letra" value="2">
    <input type="hidden" name="ancho_tabla" value="30">
    <input type="hidden" name="centrado_tabla" value="LEFT"> 
    <input type="hidden" name="entId" value="805">
    <input type="hidden" name="pageType" value="php">
<div class="clearfix colelem" id="u923-4"><!-- content -->
    <p style="font-family: 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', 'DejaVu Sans', Verdana, sans-serif">Términos y Condiciones</p>
   </div>
    <p style="font-family: 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', 'DejaVu Sans', Verdana, sans-serif; text-align: left;">
   <iframe class="colelem" id="u969" src="<%:Url.Content("~/Caja/") %>condiciones.html"><!-- simple frame --></iframe>
    </p>
       <div class="grpelem" id="u924" style="padding:3px;border-width:0px;">
       <!-- simple frame -->
       <input name="acepta" type="checkbox" id="acepta" title="sss" value="1" data-unchecked="0" />
       Acepto los términos y condiciones</div>
 
  <button id="u927-4" type="button" style="color:white;" onclick="click1();">Siguiente</button>
  <script>
      function click1() {
          var valor = $("#acepta").prop('checked');
          if (valor) {
              $('#page').submit();
          } else {
              alert('Debe aceptar los terminos y condiciones antes de proceder.');
          }
      }


   </script>

</form>
</body>
</html>

