﻿<%@ Page Language="C#" Inherits="System.Web.Mvc.ViewPage<dynamic>" %>

<!DOCTYPE html>

<html>
<head runat="server">
    <meta name="viewport" content="width=device-width" />
    <title>Deposito</title>
</head>
<body>
    <div>
        <form  method="post">
            <input type="text" name="amount_transaction"  />
            <input type="submit" value="enviar"  />

        </form>
    </div>
</body>
</html>
