﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Views/Shared/Site.Master" Inherits="System.Web.Mvc.ViewPage<dynamic>" %>

<asp:Content ID="Content1" ContentPlaceHolderID="TitleContent" runat="server">
    Index
</asp:Content>

<asp:Content ID="Content2" ContentPlaceHolderID="MainContent" runat="server">
    <iframe id="menuGames" src="<%:Session["url"] %>" frameBorder="0">
            <!--<input class="horizontal" type="button" name="Live Games" id="live" value="Live Games" />
            <input class="horizontal" type="button" name="3D Videos Slots" value="3D Videos Slots" />
            <input class="horizontal" type="button" name="Slot Machines" value="Slot Machines" />
            <input class="horizontal" type="button" name="Video Poker" value="Video Poker" />
            <input class="horizontal" type="button" name="Lucky Gammes" value="Lucky Gammes" />
            <input class="horizontal" type="button" name="Casino Classics" value="Casino Classics" /> _-->
     <!--   <a class="horizontal" href="<%:Session["url"] %>">Entrar al juego</a>

            <img class="volver" src="<%:Url.Content("~/")%>Content/images/Volver NORMAL.png"  alt="<%:Url.Content("~/")%> Content/images/Volver NORMAL.png" />
            <img class="volver-hover" src="<%:Url.Content("~/")%>Content/images/Volver HOVER.png"  alt="<%:Url.Content("~/")%> Content/images/Volver HOVER.png" />

            <img id="logo" src="<%:Url.Content("~/")%>Content/images/logo.png" alt="<%:Url.Content("~/")%>Content/images/logo.png" />
            
     -->

</iframe>
</asp:Content>
