﻿<%@ Page Language="C#" Inherits="System.Web.Mvc.ViewPage<dynamic>" %>

<!DOCTYPE html>

<html>
<head runat="server">
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
    <script src="<%:Url.Content("~/")%>Content/js/jquery.js"></script>
</head>
<body>
    <a href="Login.aspx">Login.aspx</a>
    <form method="post">
        <input type="text" name="username"  />
        <input type="password" name="password"  />
        <input type="submit"  value="Enviar" />
    </form>

    <strong><%:ViewBag.Msg %></strong>
    <!--
    <form id="login">
        <input type="text" name="usuario"  />
        <input type="password" name="password"  />
        <input type="submit"  value="Enviar" />
    </form>
    <script>
        $("form#login").on("submit", function (e) {
            $.ajax({
                url: 'http://localhost:25798//api/userapi',
                method: 'post',
                dataType: 'json'
            }).done(function (data) {
                
                console.log(data.RESULT.Token);
                window.location.href ="http://localhost:25798//home/index/"+ data.RESULT.Token;
            }).fail(function (data) {
                alert("fallo");
                console.log(data);
            });
        });

    </script>-->
</body>
</html>
