﻿<%@ Page Language="C#" Inherits="System.Web.Mvc.ViewPage<dynamic>" %>

<!DOCTYPE html>

<html>
<head runat="server">
    <meta name="viewport" content="width=device-width" />
    <title>Page2</title>
</head>
<body>
    <div>
        pagiannanndsjdgnsgj22222222
    </div>
</body>
</html>
