﻿<%@ Page Language="C#" Inherits="System.Web.Mvc.ViewPage<dynamic>" %>

<!DOCTYPE html>

<html>
<head runat="server">
    <meta name="viewport" content="width=device-width" />
    <title>Page3</title>
</head>
<body>
    <div>
        paginaaa 232222222232333
    </div>
</body>
</html>
