﻿<%@ Page Language="C#" Inherits="System.Web.Mvc.ViewPage<dynamic>" %>

<!DOCTYPE html>

<html>
<head runat="server">
    <meta name="viewport" content="width=device-width" />
    <title>Registro</title>
</head>
<body>
    <div>
        registro: 
    <form method="post">
        <input type="text" name="email" />
        <input type="text" name="username" />
        <input type="text" name="password"  />
        <input type="submit" value="enviar" />
    </form>
    </div>
</body>
</html>
