﻿<%@ Page Language="C#" Inherits="System.Web.Mvc.ViewPage<dynamic>" %>

<!DOCTYPE html>

<html>
<head runat="server">
    <meta name="viewport" content="width=device-width" />
    <title>Retirar</title>
</head>
<body>
    <div>
        <form method="post">
            <input type="text" name="amount_transaction" />
            <input type="submit" value="ENVIAR"  />

        </form>
    </div>
</body>
</html>
