﻿<%@ Page Language="C#" Inherits="System.Web.Mvc.ViewPage<dynamic>" %>

<!DOCTYPE html>

<html>
<head runat="server">
    <meta name="viewport" content="width=device-width" />
    <title>Test</title>
    <link type="text/css" href="<%:Url.Content("~/") %>Content/css/local.css" rel="stylesheet" />
</head>
<body>
    
        <iframe name="principal" id="prin" src="<%:Url.Content("~/home/login") %>"></iframe> 
    
    <a href="Registro?d=<%:DateTime.Now.Ticks %>" target="principal">Registro de usuario</a>
    <a href="Deposito?d=<%:DateTime.Now.Ticks %>" target="principal">Deposito</a>
    <a href="Retirar?=<%:DateTime.Now.Ticks %>"  target="principal">RETIRAR</a>

    <a href="Cerrarsesion">Cerrar session</a>
            
   
    

</body>
</html>
