﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Views/Shared/SitioorchilaJS.Master" Inherits="System.Web.Mvc.ViewPage<dynamic>" %>

<asp:Content ID="Content1" ContentPlaceHolderID="MainContent" runat="server">

</asp:Content>

<asp:Content ID="Content2" ContentPlaceHolderID="Titulo" runat="server">
  
</asp:Content>
