﻿<%@ Page Language="C#" Inherits="System.Web.Mvc.ViewPage<dynamic>" %>

<!DOCTYPE html>
<html class="html">
 <head>

  <meta http-equiv="Content-type" content="text/html;charset=UTF-8"/>
  <meta name="generator" content="7.0.314.244"/>
  <title>inicio</title>
  <!-- CSS -->
  <link rel="stylesheet" type="text/css" href="<%=Url.Content("~/contenido/")  %>css/site_global.css?417434784"/>
  <link rel="stylesheet" type="text/css" href="<%=Url.Content("~/contenido/")  %>css/inicio.css?3901968329" id="pagesheet"/>
  <!-- Other scripts -->
  <script type="text/javascript">
      document.documentElement.className += ' js';
      var __adobewebfontsappname__ = "muse";
</script>
  <!-- JS includes -->
  <script type="text/javascript">
      document.write('\x3Cscript src="' + (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//webfonts.creativecloud.com/changa-one:n4:all.js" type="text/javascript">\x3C/script>');
</script>
    <script src="../../Contenido/scripts/jquery-1.8.3.min.js"></script>
   </head>
 <body>

  <div class="clearfix" id="page"><!-- column -->
   <div class="position_content" id="page_position_content">
    <div class="clearfix colelem" id="pu2635-3"><!-- group -->
     <div class="clearfix grpelem" id="u2635-3"><!-- content -->
      <p>&nbsp;</p>
     </div>
     <div class="clearfix grpelem" id="u2636-4"><!-- content -->
      <p>Sorteos en vivo</p>
     </div>
    </div>
    <div class="colelem" id="u2637"><!-- custom html -->
     <iframe width="960" height="474" src="http://www.ustream.tv/embed/16615668?v=3&amp;wmode=direct" scrolling="no" frameborder="0" style="border: 0px none transparent;">    </iframe>
<br /><a href="http://www.ustream.tv/" style="padding: 2px 0px 4px; width: 960px; background: #ffffff; display: block; color: #000000; font-weight: normal; font-size: 10px; text-decoration: underline; text-align: center;" target="_blank">Live streaming video by Ustream</a>
</div>
    <div class="clearfix colelem" id="pu2639-3"><!-- group -->
     <div class="clearfix grpelem" id="u2639-3"><!-- content -->
      <p>&nbsp;</p>
     </div>
     <div class="clearfix grpelem" id="u2640-4"><!-- content -->
      <p>Prueba gratuita</p>
     </div>
    </div>
    <div class="clearfix colelem" id="pu2641"><!-- group -->
     <a class="nonblock nontext rounded-corners shadow clip_frame grpelem" id="u2641" href="javascript:void"><!-- image --><img class="block" id="u2641_img" src="<%=Url.Content("~/contenido/")  %>images/gladiator_jackpot_190x130173x119.jpg" alt="" width="173" height="118"/></a>
    <script>
        $("#u2641").click(function () {
            var body = document.body,
    html = document.documentElement;

            var height = Math.max(body.scrollHeight, body.offsetHeight,
            html.clientHeight, html.scrollHeight, html.offsetHeight);
            $('#u2114', window.parent.document).trigger('click');
            $('#games', window.parent.document).attr('src','<%:Url.Content("~/games/game/glr")%>')
        });
    </script>
         <a class="nonblock nontext rounded-corners shadow clip_frame grpelem" id="u2646" href="javascript:void"><!-- image --><img class="block" id="u2646_img" src="<%=Url.Content("~/contenido/")  %>images/pink_panther_190x130173x119.jpg" alt="" width="173" height="118"/></a>
         <script>
             $("#u2646").click(function () {
                 var body = document.body,
         html = document.documentElement;

                 var height = Math.max(body.scrollHeight, body.offsetHeight,
                 html.clientHeight, html.scrollHeight, html.offsetHeight);
                 $('#u2114', window.parent.document).trigger('click');
                 $('#games', window.parent.document).attr('src', '<%:Url.Content("~/games/game/pnp")%>')
        });
    </script>
        <a class="nonblock nontext rounded-corners shadow clip_frame grpelem" id="u2651" href="javascript:void"><!-- image --><img class="block" id="u2651_img" src="<%=Url.Content("~/contenido/")  %>images/rocky_190x130173x119.jpg" alt="" width="173" height="118"/></a>
              <script>
                  $("#u2651").click(function () {
                      var body = document.body,
              html = document.documentElement;

                      var height = Math.max(body.scrollHeight, body.offsetHeight,
                      html.clientHeight, html.scrollHeight, html.offsetHeight);
                      $('#u2114', window.parent.document).trigger('click');
                      $('#games', window.parent.document).attr('src', '<%:Url.Content("~/games/game/rky")%>')
             });
    </script>
        <a class="nonblock nontext rounded-corners shadow clip_frame grpelem" id="u2656" href="javascript:void"><!-- image --><img class="block" id="u2656_img" src="<%=Url.Content("~/contenido/")  %>images/the_incredible_hulk_190x130173x119.jpg" alt="" width="173" height="118"/></a>
              <script>
                  $("#u2656").click(function () {
                      var body = document.body,
              html = document.documentElement;

                      var height = Math.max(body.scrollHeight, body.offsetHeight,
                      html.clientHeight, html.scrollHeight, html.offsetHeight);
                      $('#u2114', window.parent.document).trigger('click');
                      $('#games', window.parent.document).attr('src', '<%:Url.Content("~/games/game/hlk2")%>')
             });
    </script>
        <a class="nonblock nontext rounded-corners shadow clip_frame grpelem" id="u2661" href="javascript:void"><!-- image --><img class="block" id="u2661_img" src="<%=Url.Content("~/contenido/")  %>images/the_mummy_190x130173x119.jpg" alt="" width="173" height="118"/></a>
                      <script>
                          $("#u2661").click(function () {
                              var body = document.body,
                      html = document.documentElement;

                              var height = Math.max(body.scrollHeight, body.offsetHeight,
                              html.clientHeight, html.scrollHeight, html.offsetHeight);
                              $('#u2114', window.parent.document).trigger('click');
                              $('#games', window.parent.document).attr('src', '<%:Url.Content("~/games/game/mmy")%>')
                  });
    </script>
    </div>
    <div class="clearfix colelem" id="pu2948"><!-- group -->
     <a class="nonblock nontext rounded-corners shadow clip_frame grpelem" id="u2948" href="javascript:void"><!-- image --><img class="block" id="u2948_img" src="<%=Url.Content("~/contenido/")  %>images/fantastic_four_50_lines_190x130173x119.jpg" alt="" width="173" height="118"/></a>
                   <script>
                       $("#u2948").click(function () {
                           var body = document.body,
                   html = document.documentElement;

                           var height = Math.max(body.scrollHeight, body.offsetHeight,
                           html.clientHeight, html.scrollHeight, html.offsetHeight);
                           $('#u2114', window.parent.document).trigger('click');
                           $('#games', window.parent.document).attr('src', '<%:Url.Content("~/games/game/fnf")%>')
                  });
    </script>
     <a class="nonblock nontext rounded-corners shadow clip_frame grpelem" id="u2953" href="javascript:void"><!-- image --><img class="block" id="u2953_img" src="<%=Url.Content("~/images/games/")  %>Kong1.jpg" alt="" width="173" height="118"/></a>
                   <script>
                       $("#u2953").click(function () {
                           var body = document.body,
                   html = document.documentElement;

                           var height = Math.max(body.scrollHeight, body.offsetHeight,
                           html.clientHeight, html.scrollHeight, html.offsetHeight);
                           $('#u2114', window.parent.document).trigger('click');
                           $('#games', window.parent.document).attr('src', '<%:Url.Content("~/games/game/kkg")%>')
                  });
    </script>
        <a class="nonblock nontext rounded-corners shadow clip_frame grpelem" id="u2958" href="javascript:void"><!-- image --><img class="block" id="u2958_img" src="<%=Url.Content("~/contenido/")  %>images/xmen_190x130173x119.jpg" alt="" width="173" height="118"/></a>
                   <script>
                       $("#u2958").click(function () {
                           var body = document.body,
                   html = document.documentElement;

                           var height = Math.max(body.scrollHeight, body.offsetHeight,
                           html.clientHeight, html.scrollHeight, html.offsetHeight);
                           $('#u2114', window.parent.document).trigger('click');
                           $('#games', window.parent.document).attr('src', '<%:Url.Content("~/games/game/xmn")%>')
                  });
    </script>
        <a class="nonblock nontext rounded-corners shadow clip_frame grpelem" id="u2963" href="javascript:void"><!-- image --><img class="block" id="u2963_img" src="<%=Url.Content("~/contenido/")  %>images/iron_man_2_190x130173x119.jpg" alt="" width="173" height="118"/></a>
                      <script>
                          $("#u2963").click(function () {
                              var body = document.body,
                      html = document.documentElement;

                              var height = Math.max(body.scrollHeight, body.offsetHeight,
                              html.clientHeight, html.scrollHeight, html.offsetHeight);
                              $('#u2114', window.parent.document).trigger('click');
                              $('#games', window.parent.document).attr('src', '<%:Url.Content("~/games/game/irm3")%>')
                  });
    </script>
     <a class="nonblock nontext rounded-corners shadow clip_frame grpelem" id="u2968" href="javascript:void"><!-- image --><img class="block" id="u2968_img" src="<%=Url.Content("~/images/games/")  %>Blade1.jpg" alt="" width="173" height="118"/></a>
                  <script>
                      $("#u2968").click(function () {
                          var body = document.body,
                  html = document.documentElement;

                          var height = Math.max(body.scrollHeight, body.offsetHeight,
                          html.clientHeight, html.scrollHeight, html.offsetHeight);
                          $('#u2114', window.parent.document).trigger('click');
                          $('#games', window.parent.document).attr('src', '<%:Url.Content("~/games/game/bld")%>')
                  });
    </script>
    </div>
    <div class="clearfix colelem" id="pu2681-3"><!-- group -->
     <div class="clearfix grpelem" id="u2681-3"><!-- content -->
      <p>&nbsp;</p>
     </div>
     <div class="clearfix grpelem" id="u2682-4"><!-- content -->
      <p>Promociones</p>
     </div>
    </div>
    <div class="clearfix colelem" id="pu2696"><!-- group -->
     <div class="grpelem" id="u2696"><!-- simple frame --></div>
     <div class="clip_frame grpelem" id="u2919"><!-- image -->
      <img class="block" id="u2919_img" src="<%=Url.Content("~/contenido/")  %>images/promo2-0.png" alt="" width="453" height="375"/>
     </div>
     <div class="clip_frame grpelem" id="u2938"><!-- image -->
      <img class="block" id="u2938_img" src="<%=Url.Content("~/contenido/")  %>images/promo1-3.png" alt="" width="453" height="375"/>
     </div>
    </div>
    <div class="verticalspacer"></div>
   </div>
  </div>
  <!-- JS includes -->
 
  <script src="<%=Url.Content("~/contenido/")  %>scripts/museutils.js?3865766194" type="text/javascript"></script>
  <script src="<%=Url.Content("~/contenido/")  %>scripts/jquery.watch.js?4068933136" type="text/javascript"></script>
  <!-- Other scripts -->
  <script type="text/javascript">
      $(document).ready(function () {
          try {
              Muse.Utils.transformMarkupToFixBrowserProblemsPreInit();/* body */
              Muse.Utils.prepHyperlinks(true);/* body */
              Muse.Utils.fullPage('#page');/* 100% height page */
              Muse.Utils.showWidgetsWhenReady();/* body */
              Muse.Utils.transformMarkupToFixBrowserProblems();/* body */
          } catch (e) { Muse.Assert.fail('Error calling selector function:' + e); }
      });
</script>
   </body>
</html>
