﻿<%@ Page Language="C#" Inherits="System.Web.Mvc.ViewPage<dynamic>" %>

<!DOCTYPE html>
<html class="html">
    <head>
<script>
<!--
    function reSize() {
        try {
            var oBody = ifrm.document.body;
            var oFrame = document.all("ifrm");

            oFrame.style.height = oBody.scrollHeight + (oBody.offsetHeight - oBody.clientHeight);
            oFrame.style.width = oBody.scrollWidth + (oBody.offsetWidth - oBody.clientWidth);
        }
        //An error is raised if the IFrame domain != its container's domain
        catch (e) {
            window.status = 'Error: ' + e.number + '; ' + e.description;
        }
    }
    //-->
</script>
</HEAD>
<BODY>
<script language="JavaScript">
<!--
    function autoResize(id) {
        var newheight;
        var newwidth;

        if (document.getElementById) {
            newheight = document.getElementById(id).contentWindow.document.body.scrollHeight;
            newwidth = document.getElementById(id).contentWindow.document.body.scrollWidth;
        }

        document.getElementById(id).height = (newheight) + "px";
        //document.getElementById(id).width = (newwidth) + "px";
    }
    //-->
</script>

<iframe src="http://localhost:31259/contenido/index.html" width="80" height="200px" id="iframe1" marginheight="0" frameborder="0" onLoad="autoResize('iframe1');"></iframe>
</BODY>
</HTML>