.html
{
	
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 499.5749999999995px;
	background-image: none;
	border-style: none;
	border-color: transparent;
	
	padding-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: 20px;
	margin-bottom: 22px;
}

#pamphletu69
{
	z-index: 2;
	width: 0.01px;
	height: 404px;
	padding-bottom: 268px;
	margin-left: 24px;
	position: relative;
}

#u118
{
	position: absolute;
	width: 671px;
	left: 265px;
}

#u118popup
{
	z-index: 3;
}

#u131
{
	z-index: 4;
	width: 671px;
	height: 672px;
	border-style: none;
	border-color: transparent;
	
	margin-right: -10000px;
	position: relative;
}

#u177
{
	z-index: 5;
	width: 634px;
	position: relative;
	margin-right: -10000px;
	left: 1px;
}

#u128
{
	z-index: 7;
	width: 671px;
	height: 672px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u157
{
	z-index: 8;
	width: 628px;
	position: relative;
	margin-right: -10000px;
	left: 2px;
}

#u125
{
	z-index: 10;
	width: 671px;
	height: 672px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u162
{
	z-index: 11;
	width: 628px;
	position: relative;
	margin-right: -10000px;
	margin-top: 2px;
	left: 2px;
}

#u119
{
	z-index: 13;
	width: 671px;
	height: 672px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u167
{
	z-index: 14;
	width: 630px;
	position: relative;
	margin-right: -10000px;
	margin-top: 3px;
	left: 4px;
}

#u122
{
	z-index: 16;
	width: 671px;
	height: 672px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u172
{
	z-index: 17;
	width: 633px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
	left: 1px;
}

#u182
{
	z-index: 19;
	width: 399px;
	height: 19px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #FFFFFF;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	position: relative;
	margin-right: -10000px;
	margin-top: 453px;
	left: 33px;
}

#u183
{
	z-index: 20;
	width: 262px;
	height: 18px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #FFFFFF;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	position: relative;
	margin-right: -10000px;
	margin-top: 565px;
	left: 33px;
}

#u75
{
	z-index: 21;
	width: 261px;
	position: relative;
	margin-right: -10000px;
	margin-top: 21px;
}

#u108
{
	position: absolute;
	width: 265px;
	border-color: #DEDEDE;
	background-color: transparent;
}

#u108:hover
{
	border-color: #999999;
	background-color: transparent;
	margin: 0px;
}

#u109
{
	z-index: 23;
	width: 261px;
	position: relative;
	margin-right: -10000px;
}

#u113
{
	z-index: 24;
	width: 261px;
	border-style: none;
	border-color: transparent;
	background-color: #00026D;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
	padding-bottom: 4px;
	position: relative;
	margin-right: -10000px;
}

#u108:hover #u113
{
	margin: 0px -10000px 0px 0px;
}

#u114
{
	z-index: 25;
	width: 261px;
	border-style: none;
	border-color: transparent;
	background-color: #03B2FB;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
	padding-bottom: 3px;
	position: relative;
	margin-right: -10000px;
	margin-top: 3px;
}

#u108:hover #u114
{
	margin: 3px -10000px 0px 0px;
}

#u111
{
	z-index: 26;
	width: 261px;
	border-style: none;
	border-color: transparent;
	background-color: #03B2FB;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
	position: relative;
	margin-right: -10000px;
}

#u108.PamphletThumbSelected #u113,#u108:hover #u111
{
	margin: 0px -10000px 0px 0px;
}

#u110
{
	z-index: 27;
	width: 261px;
	border-style: none;
	border-color: transparent;
	background-color: #0081B6;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
}

#u108:hover #u110
{
	margin: 1px -10000px 0px 0px;
}

#u115
{
	z-index: 28;
	width: 256px;
	background: #0C0C1A url("../images/u115-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, from(#183BA9),color-stop(100%, #0C0C1A));
	background: -webkit-linear-gradient(top,#183BA9 ,#0C0C1A 100%);
	background: -moz-linear-gradient(top,#183BA9 ,#0C0C1A 100%);
	background: -ms-linear-gradient(top,#183BA9 ,#0C0C1A 100%);
	background: -o-linear-gradient(top,#183BA9 ,#0C0C1A 100%);
	background: linear-gradient(to bottom,#183BA9 ,#0C0C1A 100%);
	border-style: none;
	border-color: transparent;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
	padding-bottom: 13px;
	position: relative;
	margin-right: -10000px;
	left: 3px;
}

#u108:hover #u115
{
	background: transparent url("../images/u115-r-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, from(rgba(24, 59, 169, 0.51)),color-stop(100%, #0C0C1A));
	background: -webkit-linear-gradient(top,rgba(24, 59, 169, 0.51) ,#0C0C1A 100%);
	background: -moz-linear-gradient(top,rgba(24, 59, 169, 0.51) ,#0C0C1A 100%);
	background: -ms-linear-gradient(top,rgba(24, 59, 169, 0.51) ,#0C0C1A 100%);
	background: -o-linear-gradient(top,rgba(24, 59, 169, 0.51) ,#0C0C1A 100%);
	background: linear-gradient(to bottom,rgba(24, 59, 169, 0.51) ,#0C0C1A 100%);
	margin: 0px -10000px 0px 0px;
}

#u108.PamphletThumbSelected #u115
{
	background: #0C0C1A url("../images/u115-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, from(#183BA9),color-stop(100%, #0C0C1A));
	background: -webkit-linear-gradient(top,#183BA9 ,#0C0C1A 100%);
	background: -moz-linear-gradient(top,#183BA9 ,#0C0C1A 100%);
	background: -ms-linear-gradient(top,#183BA9 ,#0C0C1A 100%);
	background: -o-linear-gradient(top,#183BA9 ,#0C0C1A 100%);
	background: linear-gradient(to bottom,#183BA9 ,#0C0C1A 100%);
	margin: 0px -10000px 0px 0px;
}

#u112-4
{
	z-index: 29;
	width: 217px;
	min-height: 28px;
	text-align: left;
	color: #FFFFFF;
	font-size: 24px;
	line-height: 29px;
	font-family: actor, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 13px;
	left: 20px;
}

#u92
{
	position: absolute;
	width: 265px;
	border-color: #DEDEDE;
	background-color: transparent;
	top: 79px;
}

#u92:hover
{
	border-color: #999999;
	margin: 0px;
}

#u93
{
	z-index: 34;
	width: 261px;
	position: relative;
	margin-right: -10000px;
}

#u96
{
	z-index: 35;
	width: 261px;
	border-style: none;
	border-color: transparent;
	background-color: #00026D;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
	padding-bottom: 4px;
	position: relative;
	margin-right: -10000px;
}

#u108.PamphletThumbSelected #u111,#u92:hover #u96
{
	margin: 0px -10000px 0px 0px;
}

#u97
{
	z-index: 36;
	width: 261px;
	border-style: none;
	border-color: transparent;
	background-color: #03B2FB;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
	padding-bottom: 3px;
	position: relative;
	margin-right: -10000px;
	margin-top: 3px;
}

#u108.PamphletThumbSelected #u114,#u92:hover #u97
{
	margin: 3px -10000px 0px 0px;
}

#u98
{
	z-index: 37;
	width: 261px;
	border-style: none;
	border-color: transparent;
	background-color: #03B2FB;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
	position: relative;
	margin-right: -10000px;
}

#u92.PamphletThumbSelected #u96,#u92:hover #u98
{
	margin: 0px -10000px 0px 0px;
}

#u94
{
	z-index: 38;
	width: 261px;
	border-style: none;
	border-color: transparent;
	background-color: #0081B6;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
}

#u108.PamphletThumbSelected #u110,#u92:hover #u94
{
	margin: 1px -10000px 0px 0px;
}

#u95
{
	z-index: 39;
	width: 256px;
	background: #0C0C1A url("../images/u115-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, from(#183BA9),color-stop(100%, #0C0C1A));
	background: -webkit-linear-gradient(top,#183BA9 ,#0C0C1A 100%);
	background: -moz-linear-gradient(top,#183BA9 ,#0C0C1A 100%);
	background: -ms-linear-gradient(top,#183BA9 ,#0C0C1A 100%);
	background: -o-linear-gradient(top,#183BA9 ,#0C0C1A 100%);
	background: linear-gradient(to bottom,#183BA9 ,#0C0C1A 100%);
	border-style: none;
	border-color: transparent;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
	padding-bottom: 13px;
	position: relative;
	margin-right: -10000px;
	left: 3px;
}

#u92:hover #u95
{
	background: transparent url("../images/u115-r-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, from(rgba(24, 59, 169, 0.51)),color-stop(100%, #0C0C1A));
	background: -webkit-linear-gradient(top,rgba(24, 59, 169, 0.51) ,#0C0C1A 100%);
	background: -moz-linear-gradient(top,rgba(24, 59, 169, 0.51) ,#0C0C1A 100%);
	background: -ms-linear-gradient(top,rgba(24, 59, 169, 0.51) ,#0C0C1A 100%);
	background: -o-linear-gradient(top,rgba(24, 59, 169, 0.51) ,#0C0C1A 100%);
	background: linear-gradient(to bottom,rgba(24, 59, 169, 0.51) ,#0C0C1A 100%);
	margin: 0px -10000px 0px 0px;
}

#u92.PamphletThumbSelected #u95
{
	background: #0C0C1A url("../images/u115-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, from(#183BA9),color-stop(100%, #0C0C1A));
	background: -webkit-linear-gradient(top,#183BA9 ,#0C0C1A 100%);
	background: -moz-linear-gradient(top,#183BA9 ,#0C0C1A 100%);
	background: -ms-linear-gradient(top,#183BA9 ,#0C0C1A 100%);
	background: -o-linear-gradient(top,#183BA9 ,#0C0C1A 100%);
	background: linear-gradient(to bottom,#183BA9 ,#0C0C1A 100%);
	margin: 0px -10000px 0px 0px;
}

#u99-4
{
	z-index: 40;
	width: 217px;
	min-height: 28px;
	text-align: left;
	color: #FFFFFF;
	font-size: 24px;
	line-height: 29px;
	font-family: actor, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 13px;
	left: 20px;
}

#u76
{
	position: absolute;
	width: 265px;
	border-color: #DEDEDE;
	background-color: transparent;
	top: 159px;
}

#u92.PamphletThumbSelected,#u76:hover
{
	border-color: #999999;
	margin: 0px;
}

#u77
{
	z-index: 45;
	width: 261px;
	position: relative;
	margin-right: -10000px;
}

#u79
{
	z-index: 46;
	width: 261px;
	border-style: none;
	border-color: transparent;
	background-color: #00026D;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
	padding-bottom: 4px;
	position: relative;
	margin-right: -10000px;
}

#u92.PamphletThumbSelected #u98,#u76:hover #u79
{
	margin: 0px -10000px 0px 0px;
}

#u82
{
	z-index: 47;
	width: 261px;
	border-style: none;
	border-color: transparent;
	background-color: #03B2FB;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
	padding-bottom: 3px;
	position: relative;
	margin-right: -10000px;
	margin-top: 3px;
}

#u92.PamphletThumbSelected #u97,#u76:hover #u82
{
	margin: 3px -10000px 0px 0px;
}

#u81
{
	z-index: 48;
	width: 261px;
	border-style: none;
	border-color: transparent;
	background-color: #03B2FB;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
	position: relative;
	margin-right: -10000px;
}

#u76.PamphletThumbSelected #u79,#u76:hover #u81
{
	margin: 0px -10000px 0px 0px;
}

#u78
{
	z-index: 49;
	width: 261px;
	border-style: none;
	border-color: transparent;
	background-color: #0081B6;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
}

#u92.PamphletThumbSelected #u94,#u76:hover #u78
{
	margin: 1px -10000px 0px 0px;
}

#u83
{
	z-index: 50;
	width: 256px;
	background: #0C0C1A url("../images/u115-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, from(#183BA9),color-stop(100%, #0C0C1A));
	background: -webkit-linear-gradient(top,#183BA9 ,#0C0C1A 100%);
	background: -moz-linear-gradient(top,#183BA9 ,#0C0C1A 100%);
	background: -ms-linear-gradient(top,#183BA9 ,#0C0C1A 100%);
	background: -o-linear-gradient(top,#183BA9 ,#0C0C1A 100%);
	background: linear-gradient(to bottom,#183BA9 ,#0C0C1A 100%);
	border-style: none;
	border-color: transparent;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
	padding-bottom: 13px;
	position: relative;
	margin-right: -10000px;
	left: 3px;
}

#u76:hover #u83
{
	background: transparent url("../images/u115-r-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, from(rgba(24, 59, 169, 0.51)),color-stop(100%, #0C0C1A));
	background: -webkit-linear-gradient(top,rgba(24, 59, 169, 0.51) ,#0C0C1A 100%);
	background: -moz-linear-gradient(top,rgba(24, 59, 169, 0.51) ,#0C0C1A 100%);
	background: -ms-linear-gradient(top,rgba(24, 59, 169, 0.51) ,#0C0C1A 100%);
	background: -o-linear-gradient(top,rgba(24, 59, 169, 0.51) ,#0C0C1A 100%);
	background: linear-gradient(to bottom,rgba(24, 59, 169, 0.51) ,#0C0C1A 100%);
	margin: 0px -10000px 0px 0px;
}

#u76.PamphletThumbSelected #u83
{
	background: #0C0C1A url("../images/u115-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, from(#183BA9),color-stop(100%, #0C0C1A));
	background: -webkit-linear-gradient(top,#183BA9 ,#0C0C1A 100%);
	background: -moz-linear-gradient(top,#183BA9 ,#0C0C1A 100%);
	background: -ms-linear-gradient(top,#183BA9 ,#0C0C1A 100%);
	background: -o-linear-gradient(top,#183BA9 ,#0C0C1A 100%);
	background: linear-gradient(to bottom,#183BA9 ,#0C0C1A 100%);
	margin: 0px -10000px 0px 0px;
}

#u80-4
{
	z-index: 51;
	width: 217px;
	min-height: 28px;
	text-align: left;
	color: #FFFFFF;
	font-size: 24px;
	line-height: 29px;
	font-family: actor, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 13px;
	left: 20px;
}

#u84
{
	position: absolute;
	width: 265px;
	border-color: #DEDEDE;
	background-color: transparent;
	top: 238px;
}

#u84:hover
{
	border-color: #999999;
	margin: 0px;
}

#u108.PamphletThumbSelected,#u76.PamphletThumbSelected,#u84.PamphletThumbSelected
{
	border-color: #999999;
	background-color: transparent;
	margin: 0px;
}

#u85
{
	z-index: 56;
	width: 261px;
	position: relative;
	margin-right: -10000px;
}

#u90
{
	z-index: 57;
	width: 261px;
	border-style: none;
	border-color: transparent;
	background-color: #00026D;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
	padding-bottom: 4px;
	position: relative;
	margin-right: -10000px;
}

#u76.PamphletThumbSelected #u81,#u84:hover #u90
{
	margin: 0px -10000px 0px 0px;
}

#u88
{
	z-index: 58;
	width: 261px;
	border-style: none;
	border-color: transparent;
	background-color: #03B2FB;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
	padding-bottom: 3px;
	position: relative;
	margin-right: -10000px;
	margin-top: 3px;
}

#u76.PamphletThumbSelected #u82,#u84:hover #u88
{
	margin: 3px -10000px 0px 0px;
}

#u86
{
	z-index: 59;
	width: 261px;
	border-style: none;
	border-color: transparent;
	background-color: #03B2FB;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
	position: relative;
	margin-right: -10000px;
}

#u84.PamphletThumbSelected #u90,#u84:hover #u86
{
	margin: 0px -10000px 0px 0px;
}

#u87
{
	z-index: 60;
	width: 261px;
	border-style: none;
	border-color: transparent;
	background-color: #0081B6;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
}

#u76.PamphletThumbSelected #u78,#u84:hover #u87
{
	margin: 1px -10000px 0px 0px;
}

#u91
{
	z-index: 61;
	width: 256px;
	background: #0C0C1A url("../images/u115-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, from(#183BA9),color-stop(100%, #0C0C1A));
	background: -webkit-linear-gradient(top,#183BA9 ,#0C0C1A 100%);
	background: -moz-linear-gradient(top,#183BA9 ,#0C0C1A 100%);
	background: -ms-linear-gradient(top,#183BA9 ,#0C0C1A 100%);
	background: -o-linear-gradient(top,#183BA9 ,#0C0C1A 100%);
	background: linear-gradient(to bottom,#183BA9 ,#0C0C1A 100%);
	border-style: none;
	border-color: transparent;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
	padding-bottom: 13px;
	position: relative;
	margin-right: -10000px;
	left: 3px;
}

#u84:hover #u91
{
	background: transparent url("../images/u115-r-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, from(rgba(24, 59, 169, 0.51)),color-stop(100%, #0C0C1A));
	background: -webkit-linear-gradient(top,rgba(24, 59, 169, 0.51) ,#0C0C1A 100%);
	background: -moz-linear-gradient(top,rgba(24, 59, 169, 0.51) ,#0C0C1A 100%);
	background: -ms-linear-gradient(top,rgba(24, 59, 169, 0.51) ,#0C0C1A 100%);
	background: -o-linear-gradient(top,rgba(24, 59, 169, 0.51) ,#0C0C1A 100%);
	background: linear-gradient(to bottom,rgba(24, 59, 169, 0.51) ,#0C0C1A 100%);
	margin: 0px -10000px 0px 0px;
}

#u84.PamphletThumbSelected #u91
{
	background: #0C0C1A url("../images/u115-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, from(#183BA9),color-stop(100%, #0C0C1A));
	background: -webkit-linear-gradient(top,#183BA9 ,#0C0C1A 100%);
	background: -moz-linear-gradient(top,#183BA9 ,#0C0C1A 100%);
	background: -ms-linear-gradient(top,#183BA9 ,#0C0C1A 100%);
	background: -o-linear-gradient(top,#183BA9 ,#0C0C1A 100%);
	background: linear-gradient(to bottom,#183BA9 ,#0C0C1A 100%);
	margin: 0px -10000px 0px 0px;
}

#u89-4
{
	z-index: 62;
	width: 217px;
	min-height: 28px;
	text-align: left;
	color: #FFFFFF;
	font-size: 24px;
	line-height: 29px;
	font-family: actor, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 13px;
	left: 20px;
}

#u100
{
	position: absolute;
	width: 265px;
	border-color: #DEDEDE;
	background-color: transparent;
	top: 318px;
}

#u100:hover
{
	border-color: #999999;
	margin: 0px;
}

#u100.PamphletThumbSelected
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin: 0px;
}

#u101
{
	z-index: 67;
	width: 261px;
	position: relative;
	margin-right: -10000px;
}

#u105
{
	z-index: 68;
	width: 261px;
	border-style: none;
	border-color: transparent;
	background-color: #00026D;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
	padding-bottom: 4px;
	position: relative;
	margin-right: -10000px;
}

#u84.PamphletThumbSelected #u86,#u100:hover #u105
{
	margin: 0px -10000px 0px 0px;
}

#u106
{
	z-index: 69;
	width: 261px;
	border-style: none;
	border-color: transparent;
	background-color: #03B2FB;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
	padding-bottom: 3px;
	position: relative;
	margin-right: -10000px;
	margin-top: 3px;
}

#u84.PamphletThumbSelected #u88,#u100:hover #u106
{
	margin: 3px -10000px 0px 0px;
}

#u100.PamphletThumbSelected #u106
{
	margin: 3px -10000px 0px 0px;
}

#u102
{
	z-index: 70;
	width: 261px;
	border-style: none;
	border-color: transparent;
	background-color: #03B2FB;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
	position: relative;
	margin-right: -10000px;
}

#u100.PamphletThumbSelected #u105,#u100:hover #u102
{
	margin: 0px -10000px 0px 0px;
}

#u100.PamphletThumbSelected #u102
{
	margin: 0px -10000px 0px 0px;
}

#u103
{
	z-index: 71;
	width: 261px;
	border-style: none;
	border-color: transparent;
	background-color: #0081B6;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
}

#u84.PamphletThumbSelected #u87,#u100:hover #u103
{
	margin: 1px -10000px 0px 0px;
}

#u100.PamphletThumbSelected #u103
{
	margin: 1px -10000px 0px 0px;
}

#u104
{
	z-index: 72;
	width: 256px;
	background: #0C0C1A url("../images/u115-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, from(#183BA9),color-stop(100%, #0C0C1A));
	background: -webkit-linear-gradient(top,#183BA9 ,#0C0C1A 100%);
	background: -moz-linear-gradient(top,#183BA9 ,#0C0C1A 100%);
	background: -ms-linear-gradient(top,#183BA9 ,#0C0C1A 100%);
	background: -o-linear-gradient(top,#183BA9 ,#0C0C1A 100%);
	background: linear-gradient(to bottom,#183BA9 ,#0C0C1A 100%);
	border-style: none;
	border-color: transparent;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
	padding-bottom: 13px;
	position: relative;
	margin-right: -10000px;
	left: 3px;
}

#u100:hover #u104
{
	background: transparent url("../images/u115-r-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, from(rgba(24, 59, 169, 0.51)),color-stop(100%, #0C0C1A));
	background: -webkit-linear-gradient(top,rgba(24, 59, 169, 0.51) ,#0C0C1A 100%);
	background: -moz-linear-gradient(top,rgba(24, 59, 169, 0.51) ,#0C0C1A 100%);
	background: -ms-linear-gradient(top,rgba(24, 59, 169, 0.51) ,#0C0C1A 100%);
	background: -o-linear-gradient(top,rgba(24, 59, 169, 0.51) ,#0C0C1A 100%);
	background: linear-gradient(to bottom,rgba(24, 59, 169, 0.51) ,#0C0C1A 100%);
	margin: 0px -10000px 0px 0px;
}

#u100.PamphletThumbSelected #u104
{
	background: #0C0C1A url("../images/u115-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, from(#183BA9),color-stop(100%, #0C0C1A));
	background: -webkit-linear-gradient(top,#183BA9 ,#0C0C1A 100%);
	background: -moz-linear-gradient(top,#183BA9 ,#0C0C1A 100%);
	background: -ms-linear-gradient(top,#183BA9 ,#0C0C1A 100%);
	background: -o-linear-gradient(top,#183BA9 ,#0C0C1A 100%);
	background: linear-gradient(to bottom,#183BA9 ,#0C0C1A 100%);
	margin: 0px -10000px 0px 0px;
}

#u107-4
{
	z-index: 73;
	width: 217px;
	min-height: 28px;
	text-align: left;
	color: #FFFFFF;
	font-size: 24px;
	line-height: 29px;
	font-family: actor, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 13px;
	left: 20px;
}

.PamphletWidget .ThumbGroup .Thumb, .PamphletNextButton, .PamphletPrevButton, .PamphletCloseButton /* pamphlet2 */
{
	cursor: pointer;
}

#page .verticalspacer
{
	clear: both;
}

