.version.index /* version checker */
{
	color: #0000E9;
	background-color: #C79D42;
}

.html
{
	background-color: #000000;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 500px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

#u75
{
	z-index: 3;
	width: 906px;
	border-color: #000000;
	position: relative;
	margin-right: -10000px;
	padding: 6px 42px 357px 12px;
	background: transparent url("../images/bg-lobby.png") no-repeat center top;
	background-size: cover;
}

#pu135
{
	width: 0.01px;
}

#u135
{
	z-index: 26;
	width: 230px;
	height: 80px;
	border-color: #000000;
	position: relative;
	margin-right: -10000px;
	background: transparent url("../images/buttonjugar3.png") no-repeat center center;
	background-size: contain;
}

#u83-4
{
	z-index: 4;
	width: 623px;
	min-height: 29px;
	background-color: transparent;
	line-height: 29px;
	font-size: 24px;
	color: #FFFFFF;
	text-align: center;
	font-family: lato, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 40px;
	left: 283px;
}

#u83-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 29px;
	margin: 40px -10000px 0px 0px;
}

#u83-4:hover p
{
	font-size: 24px;
}

#pbuttonu94
{
	width: 0.01px;
	margin-left: 2px;
	margin-top: -3px;
}

#buttonu94
{
	z-index: 12;
	width: 226px;
	background: #0D0E21 url("../images/u94-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, from(#183AA5),color-stop(100%, #0D0E21));
	background: -webkit-linear-gradient(top,#183AA5 ,#0D0E21 100%);
	background: -o-linear-gradient(top,#183AA5 ,#0D0E21 100%);
	background: linear-gradient(to bottom,#183AA5 ,#0D0E21 100%);
	border-width: 2px;
	border-style: solid;
	border-color: #183AA4;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	-khtml-border-radius: 4px;
	border-radius: 4px;
	padding-bottom: 8px;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: 11px;
	left: -1px;
}

#buttonu94:hover
{
	background: #0E1635 url("../images/u94-r-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, from(#0C58A6),color-stop(100%, #0E1635));
	background: -webkit-linear-gradient(top,#0C58A6 ,#0E1635 100%);
	background: -o-linear-gradient(top,#0C58A6 ,#0E1635 100%);
	background: linear-gradient(to bottom,#0C58A6 ,#0E1635 100%);
	width: 226px;
	min-height: 0px;
	margin: 11px -10000px -1px 0px;
}

#buttonu94.ButtonSelected
{
	background: #0D0E21 url("../images/u94-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, from(#183AA5),color-stop(100%, #0D0E21));
	background: -webkit-linear-gradient(top,#183AA5 ,#0D0E21 100%);
	background: -o-linear-gradient(top,#183AA5 ,#0D0E21 100%);
	background: linear-gradient(to bottom,#183AA5 ,#0D0E21 100%);
	width: 226px;
	min-height: 0px;
	margin: 11px -10000px -1px 0px;
}

#u95-3
{
	z-index: 13;
	width: 197px;
	min-height: 34px;
	font-size: 20px;
	color: #FFFFFF;
	line-height: 24px;
	letter-spacing: 1px;
	text-align: center;
	font-family: actor, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 8px;
	left: 15px;
	background: transparent url("../images/logo-orchiplus.png") no-repeat center center;
	background-size: contain;
}

#buttonu94:hover #u95-3
{
	background-repeat: no-repeat;
	background-position: center center;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 34px;
	margin: 8px -10000px 0px 0px;
	background-size: contain;
}

#buttonu94.ButtonSelected #u95-3
{
	background-repeat: no-repeat;
	background-position: center center;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 34px;
	margin: 8px -10000px 0px 0px;
	background-size: contain;
}

#buttonu94:hover #u95-3 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u88-4
{
	z-index: 8;
	width: 623px;
	min-height: 30px;
	background-color: transparent;
	line-height: 28px;
	font-size: 23px;
	color: #FFFFFF;
	text-align: center;
	font-family: lato, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 281px;
}

#u88-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 30px;
	margin: 0px -10000px 0px 0px;
}

#u88-4:hover p
{
	font-size: 23px;
}

#buttonu96
{
	z-index: 16;
	width: 226px;
	background: #0D0E21 url("../images/u94-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, from(#183AA5),color-stop(100%, #0D0E21));
	background: -webkit-linear-gradient(top,#183AA5 ,#0D0E21 100%);
	background: -o-linear-gradient(top,#183AA5 ,#0D0E21 100%);
	background: linear-gradient(to bottom,#183AA5 ,#0D0E21 100%);
	border-width: 2px;
	border-style: solid;
	border-color: #183AA4;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	-khtml-border-radius: 4px;
	border-radius: 4px;
	padding-bottom: 13px;
	margin-left: 1px;
	margin-top: 15px;
	position: relative;
}

#buttonu96:hover
{
	background: #0E1635 url("../images/u94-r-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, from(#0C58A6),color-stop(100%, #0E1635));
	background: -webkit-linear-gradient(top,#0C58A6 ,#0E1635 100%);
	background: -o-linear-gradient(top,#0C58A6 ,#0E1635 100%);
	background: linear-gradient(to bottom,#0C58A6 ,#0E1635 100%);
	width: 226px;
	min-height: 0px;
	margin: 15px 0px 0px 1px;
}

#buttonu96.ButtonSelected
{
	background: #0D0E21 url("../images/u94-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, from(#183AA5),color-stop(100%, #0D0E21));
	background: -webkit-linear-gradient(top,#183AA5 ,#0D0E21 100%);
	background: -o-linear-gradient(top,#183AA5 ,#0D0E21 100%);
	background: linear-gradient(to bottom,#183AA5 ,#0D0E21 100%);
	width: 226px;
	min-height: 0px;
	margin: 15px 0px 0px 1px;
}

#u97-4
{
	z-index: 17;
	width: 119px;
	min-height: 23px;
	background-color: transparent;
	font-size: 20px;
	color: #FFFFFF;
	line-height: 24px;
	letter-spacing: 1px;
	text-align: center;
	font-family: actor, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 13px;
	left: 55px;
}

#buttonu96:hover #u97-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	margin: 13px -10000px 0px 0px;
}

#buttonu96:hover #u97-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#buttonu98
{
	z-index: 21;
	width: 226px;
	background: #0D0E21 url("../images/u94-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, from(#183AA5),color-stop(100%, #0D0E21));
	background: -webkit-linear-gradient(top,#183AA5 ,#0D0E21 100%);
	background: -o-linear-gradient(top,#183AA5 ,#0D0E21 100%);
	background: linear-gradient(to bottom,#183AA5 ,#0D0E21 100%);
	border-width: 2px;
	border-style: solid;
	border-color: #183AA4;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	-khtml-border-radius: 4px;
	border-radius: 4px;
	padding-bottom: 13px;
	margin-left: 1px;
	margin-top: 15px;
	position: relative;
}

#buttonu98:hover
{
	background: #0E1635 url("../images/u94-r-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, from(#0C58A6),color-stop(100%, #0E1635));
	background: -webkit-linear-gradient(top,#0C58A6 ,#0E1635 100%);
	background: -o-linear-gradient(top,#0C58A6 ,#0E1635 100%);
	background: linear-gradient(to bottom,#0C58A6 ,#0E1635 100%);
	width: 226px;
	min-height: 0px;
	margin: 15px 0px 0px 1px;
}

#buttonu98.ButtonSelected
{
	background: #0D0E21 url("../images/u94-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, from(#183AA5),color-stop(100%, #0D0E21));
	background: -webkit-linear-gradient(top,#183AA5 ,#0D0E21 100%);
	background: -o-linear-gradient(top,#183AA5 ,#0D0E21 100%);
	background: linear-gradient(to bottom,#183AA5 ,#0D0E21 100%);
	width: 226px;
	min-height: 0px;
	margin: 15px 0px 0px 1px;
}

#u99-4
{
	z-index: 22;
	width: 119px;
	min-height: 23px;
	background-color: transparent;
	font-size: 20px;
	color: #FFFFFF;
	line-height: 24px;
	letter-spacing: 1px;
	text-align: center;
	font-family: actor, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 13px;
	left: 55px;
}

#buttonu96.ButtonSelected #u97-4,#buttonu98:hover #u99-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	margin: 13px -10000px 0px 0px;
}

#buttonu98.ButtonSelected #u99-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	margin: 13px -10000px 0px 0px;
}

#buttonu98:hover #u99-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u120
{
	z-index: 2;
	width: 50px;
	min-height: 50px;
	margin-right: -10000px;
	margin-top: 142px;
}

body
{
	position: relative;
	min-width: 960px;
}

#page .verticalspacer
{
	clear: both;
	margin-bottom: -142px;
}

