body {
    background-color: rgb(0, 0, 0);
    font: 400 1em/1.38 Helvetica;
    color: rgb(255, 255, 255);
}
 
.checkbox {
    display: block;
    float: left;
    margin-top: 9px;
}

.checkbox-label {
    display: block;
    position: relative;
    float: left;
    z-index: 32;
    width: 41.5833333333%;
    height: 22px;
    margin-left: 3.14974%;
}

    .checkbox-label .text {
        width: 54.3086172344%;
        min-height: 18px;
        margin: 3px 0 0 0.96443%;
        font-size: 0.875em;
        text-decoration: underline;
        color: rgb(255, 255, 255);
    }

.element {
    position: relative;
    float: left;
    z-index: 33;
    width: 3.6666666666%;
    height: 32px;
    margin-top: -5px;
    background: url('../images/boton-calendar.png') rgba(222, 222, 222, 0);
    background-repeat: no-repeat;
    background-size: 25px 27px;
    background-position: center center;
}

.point-text {
    display: block;
    float: left;
    margin: 4px 0 0 6px;
    font-size: 0.875em;
    line-height: 1.38;
    color: rgb(255, 255, 255);
}

.text {
    float: left;
    font-weight: 400;
    line-height: 1.38;
}

._button {
    display: block;
    position: relative;
    float: left;
    font-weight: 700;
    line-height: 1.38;
    text-align: center;
}

._input {
    display: block;
    position: relative;
    float: left;
    height: 32px;
    padding: 0 10px;
    background-color: rgb(242, 242, 242);
    font-size: 0.813em;
    font-weight: 400;
    line-height: 1.38;
    color: rgb(0, 0, 0);
    border-radius: 1px;
}
#ui-datepicker-div{
	font-size: 12px;
    width: 193px;
	}
._select {
    display: block;
    position: relative;
    float: left;
    height: 32px;
    padding-left: 10px;
    border-radius: 1px;
    background: url('../images/select-arrows.svg') rgb(242, 242, 242);
    background-repeat: no-repeat;
    background-size: auto auto;
    background-position: right center;
    font-size: 0.813em;
    font-weight: 400;
    line-height: 1.38;
    color: rgb(0, 0, 0);
}

.text-1 {
    position: relative;
    z-index: 0;
    width: 41.9166666666%;
    min-height: 32px;
    margin: 21px 0 0 1.83073%;
    font-size: 1.125em;
    color: rgb(255, 255, 255);
}

.text-10 {
    position: relative;
    clear: both;
    z-index: 12;
    width: 24.4166666666%;
    min-height: 18px;
    margin: 7px 0 0 1.83073%;
    font-size: 1em;
    color: rgb(255, 255, 255);
}

.text-11 {
    position: relative;
    z-index: 26;
    width: 41.5833333333%;
    height: 22px;
    min-height: 29px;
    margin: 7px 0 0 29.33594%;
    font-size: 1em;
    color: rgb(255, 255, 255);
}

.text-12 {
    position: relative;
    clear: both;
    z-index: 25;
    margin: -29px 0 0 55.9987%;
    font-size: 1em;
    color: rgb(0, 0, 0);
}

.text-13 {
    position: relative;
    clear: both;
    z-index: 19;
    width: 24.4166666666%;
    min-height: 18px;
    margin: 7px 0 0 1.83073%;
    font-size: 1em;
    color: rgb(255, 255, 255);
}

.text-14 {
    position: relative;
    z-index: 21;
    width: 24.4166666666%;
    min-height: 18px;
    margin: 7px 0 0 1.75%;
    font-size: 1em;
    color: rgb(255, 255, 255);
}

.text-16 {
    position: relative;
    clear: both;
    z-index: 24;
    width: 24.4166666666%;
    min-height: 18px;
    margin: 11px 0 0 1.83073%;
    font-size: 1em;
    color: rgb(255, 255, 255);
}

.text-2 {
    position: relative;
    clear: both;
    z-index: 2;
    width: 24.4166666666%;
    min-height: 18px;
    margin: 7px 0 0 1.83073%;
    font-size: 1em;
    color: rgb(255, 255, 255);
}

.text-3 {
    position: relative;
    z-index: 4;
    width: 24.4166666666%;
    min-height: 18px;
    margin: 11px 0 0 1.75%;
    font-size: 1em;
    color: rgb(255, 255, 255);
}

.text-4 {
    position: relative;
    z-index: 14;
    width: 41.5833333333%;
    min-height: 18px;
    margin: 10px 0 0 3.14974%;
    font-size: 1em;
    color: rgb(255, 255, 255);
}

.text-5 {
    position: relative;
    clear: both;
    z-index: 6;
    width: 24.4166666666%;
    min-height: 18px;
    margin: 12px 0 0 1.83073%;
    font-size: 1em;
    color: rgb(255, 255, 255);
}

.text-6 {
    position: relative;
    z-index: 8;
    width: 24.4166666666%;
    min-height: 18px;
    margin: 13px 0 0 1.75%;
    font-size: 1em;
    color: rgb(255, 255, 255);
}

.text-7 {
    position: relative;
    z-index: 16;
    width: 41.5833333333%;
    min-height: 18px;
    margin: 13px 0 0 3.14974%;
    font-size: 1em;
    color: rgb(255, 255, 255);
}

.text-8 {
    position: relative;
    clear: both;
    z-index: 10;
    width: 24.4166666666%;
    min-height: 18px;
    margin: 6px 0 0 1.83073%;
    font-size: 1em;
    color: rgb(255, 255, 255);
}

.text-9 {
    position: relative;
    z-index: 17;
    width: 41.5833333333%;
    min-height: 18px;
    margin: 6px 0 0 29.31641%;
    font-size: 1em;
    color: rgb(255, 255, 255);
}

._button-1 {
    z-index: 34;
    width: 2.6666666666%;
    height: 29px;
    margin-left: 48.33594%;
    background-color: rgb(63, 53, 53);
    font-size: 1.313em;
    color: rgb(0, 113, 224);
}

._button-2 {
    z-index: 28;
    width: 14.6666666666%;
    height: 49px;
    margin: -17px 0 0 55.7526%;
    border-width: 2px 1px 1px;
    border-color: rgb(8, 155, 214) rgb(8, 155, 214) #0464c1;
    border-style: solid;
    border-radius: 6px;
    background: rgb(4, 74, 240);
    background: -webkit-linear-gradient(269deg, rgb(4, 74, 240) 0%, rgb(0, 0, 0) 100%) rgb(222, 222, 222);
    background: -moz-linear-gradient(269deg, rgb(4, 74, 240) 0%, rgb(0, 0, 0) 100%) rgb(222, 222, 222);
    background: -o-linear-gradient(269deg, rgb(4, 74, 240) 0%, rgb(0, 0, 0) 100%) rgb(222, 222, 222);
    background: -ms-linear-gradient(269deg, rgb(4, 74, 240) 0%, rgb(0, 0, 0) 100%) rgb(222, 222, 222);
    background: linear-gradient(181deg, rgb(4, 74, 240) 0%, rgb(0, 0, 0) 100%) rgb(222, 222, 222);
    font-size: 1.188em;
    color: rgb(255, 255, 255);
}

    ._button-2:hover {
        background-image: -webkit-linear-gradient(90deg, rgb(4, 74, 240) 0%, rgb(0, 0, 0) 100%);
        background-image: -moz-linear-gradient(90deg, rgb(4, 74, 240) 0%, rgb(0, 0, 0) 100%);
        background-image: -o-linear-gradient(90deg, rgb(4, 74, 240) 0%, rgb(0, 0, 0) 100%);
        background-image: -ms-linear-gradient(90deg, rgb(4, 74, 240) 0%, rgb(0, 0, 0) 100%);
        background-image: linear-gradient(360deg, rgb(4, 74, 240) 0%, rgb(0, 0, 0) 100%);
    }

._input-1 {
    clear: both;
    z-index: 1;
    width: 24.4166666666%;
    margin: 1px 0 0 1.83073%;
}

._input-10 {
    z-index: 20;
    width: 24.4166666666%;
    margin-left: 1.75%;
}

._input-11 {
    clear: both;
    width: 24.4166666666%;
    margin-left: 1.83073%;
}

._input-2 {
    z-index: 3;
    width: 24.4166666666%;
    margin: 1px 0 0 1.75%;
}

._input-3 {
    z-index: 13;
    width: 41.5833333333%;
    margin-left: 3.14974%;
}

._input-4 {
    clear: both;
    z-index: 5;
    width: 24.4166666666%;
    margin-left: 1.83073%;
}

._input-5 {
    z-index: 7;
    width: 24.4166666666%;
    margin: 1px 0 0 1.75%;
}

._input-6 {
    z-index: 15;
    width: 41.5833333333%;
    margin: 1px 0 0 3.14974%;
}

._input-7 {
    clear: both;
    z-index: 9;
    width: 24.4166666666%;
    margin: 2px 0 0 1.83073%;
}

._input-8 {
    z-index: 11;
    width: 24.4166666666%;
    margin: -5px 0 0 1.83073%;
}

._input-9 {
    z-index: 27;
    width: 41.5833333333%;
    margin: -5px 0 0 25.65625%;
}

._select-1 {
    z-index: 18;
    width: 41.5833333333%;
    margin: 2px 0 0 29.31641%;
}

._select-2 {
    clear: both;
    width: 24.4166666666%;
    margin-left: 1.83073%;
}

@media(max-width: 790px) {
    .checkbox-label {
        position: relative;
        z-index: 32;
        margin-left: 3.14676%;
    }

        .checkbox-label .checkbox {
            margin-top: 6px;
        }

        .checkbox-label .point-text {
            font-size: 0.75em;
        }

        .checkbox-label .text {
            clear: both;
            width: 43.8356164383%;
            margin-top: -16px;
            margin-left: 59.9981%;
            font-size: 0.75em;
        }

    .element {
        position: relative;
        z-index: 33;
        margin-left: 1.74842%;
    }

    ._button {
        position: relative;
    }

    ._input {
        position: relative;
    }

    ._select {
        position: relative;
    }

    .text-1 {
        position: relative;
        z-index: 0;
        width: 95.0632911392%;
        margin-top: 4px;
        margin-left: 1.7682%;
    }

    .text-10 {
        position: relative;
        z-index: 12;
        margin-left: 1.82951%;
    }

    .text-11 {
        position: relative;
        z-index: 26;
        margin-left: 29.33347%;
    }

    .text-12 {
        position: relative;
        z-index: 25;
        margin-left: 55.99684%;
    }

    .text-13 {
        position: relative;
        z-index: 19;
        margin-left: 1.82951%;
    }

    .text-14 {
        position: relative;
        z-index: 21;
        margin-left: 1.74842%;
    }

    .text-16 {
        position: relative;
        z-index: 24;
        margin-left: 1.82951%;
    }

    .text-2 {
        position: relative;
        clear: none;
        z-index: 2;
        margin-top: 1px;
        margin-left: 1.82951%;
    }

    .text-3 {
        position: relative;
        z-index: 4;
        margin-top: 5px;
        margin-left: 1.74842%;
    }

    .text-4 {
        position: relative;
        z-index: 14;
        margin-top: 4px;
        margin-left: 3.14676%;
    }

    .text-5 {
        position: relative;
        z-index: 6;
        margin-left: 1.82951%;
    }

    .text-6 {
        position: relative;
        z-index: 8;
        margin-left: 1.74842%;
    }

    .text-7 {
        position: relative;
        z-index: 16;
        margin-left: 3.14676%;
    }

    .text-8 {
        position: relative;
        z-index: 10;
        margin-left: 1.82951%;
    }

    .text-9 {
        position: relative;
        z-index: 17;
        margin-left: 29.31369%;
    }

    ._button-1 {
        clear: both;
        z-index: 34;
        width: 3.6708860759%;
        height: 36px;
        margin-top: -36px;
        margin-left: 95.31646%;
    }

    ._button-2 {
        z-index: 28;
        width: 18.7341772151%;
        margin-left: 51.74842%;
        font-size: 0.938em;
    }

    ._input-1 {
        z-index: 1;
        margin-left: 1.82951%;
    }

    ._input-10 {
        z-index: 20;
        margin-left: 1.74842%;
    }

    ._input-11 {
        z-index: 23;
        margin-left: 1.82951%;
    }

    ._input-2 {
        z-index: 3;
        margin-left: 1.74842%;
    }

    ._input-3 {
        z-index: 13;
        margin-left: 3.14676%;
    }

    ._input-4 {
        z-index: 5;
        margin-left: 1.82951%;
    }

    ._input-5 {
        z-index: 7;
        margin-left: 1.74842%;
    }

    ._input-6 {
        z-index: 15;
        margin-left: 3.14676%;
    }

    ._input-7 {
        z-index: 9;
        margin-left: 1.82951%;
    }

    ._input-8 {
        z-index: 11;
        margin-left: 1.82951%;
    }

    ._input-9 {
        z-index: 27;
        margin-top: -7px;
        margin-left: 23.91021%;
    }

    ._select-1 {
        z-index: 18;
        margin-left: 29.31369%;
    }

    ._select-2 {
        z-index: 22;
        margin-left: 1.82951%;
    }



}


 /**-------------------------------------------*/
ul > li {
    display: inline-block;
}

.errors{
    display:none; 
    text-align:center;
}

.alert-danger {
	color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
    font-size: 15px;

}

.border-my {
    border: solid 2px red;
    border-radius: 1px;
}

.alert {
    padding: 3px;
    border: 1px solid transparent;
    border-radius: 4px;
    position: absolute;
    top: 4px;
    left: 233px;
    height: 30px;

}
